
{% extends "layout.html" %}
{% block content %}
<div class="body-content">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        <div class='btn-toolbar pull-right'>
            <div class='btn-group'>           
              <a class="btn btn-primary" href="#">Add Asset</a>
            </div>
        </div>
        Assets
      </h1>
    </div>
  </div>
  <div class="row">
    {% if assets %}
    <table class="table-responsive table-condensed table-hover table-bordered">
        <thead>
          <tr>
            <td></td>
            <th>Location</th>
            <th>Description</th>
            <th>Cost</th>
            <th>Purchase Date</th>
            <th>Quantity</th>
          </tr>
        </thead>
        <tbody>
 
      {% for index in range(assets|length) %}
          {% if not assets[index-1].facilityID == assets[index].facilityID %}
            <tr>
              <th colspan="6" style="background-color: lightgrey"><h3>{{ assets[index].facilityName }}</h3></th>
            </tr>
          {% endif %}
          <tr>
            <th>{{ assets[index].building}}</th>
            <td>{{ assets[index].location }}</td>
            <td>{{ assets[index].description }}</td>
            <td>{{ assets[index].cost }}</td>
            <td>{{ assets[index].purchaseDate }}</td>
            <td>{{ assets[index].quantity }}</td>
          </tr>
      {% endfor %}
        </tbody>
      </table>
    {% else %}
    	<p>If you are seeing this please contact administrator for Database help.</p>
    {% endif %}
    
  </div>
</div>
{% endblock %}

