{% extends "layout.html" %}

{% block content %}
<div class="body-content">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        <div class='btn-toolbar pull-right'>
            <div class='btn-group'>      
              <button class="btn btn-default {{ 'disabled' if not charts }}" data-toggle="collapse" href="#graphs"><i class="fa fa-bar-chart"></i> Graphs</button>
              <button class="btn btn-default dropdown-toggle btn-large" data-toggle="dropdown"><i class="fa fa-cogs"></i> Options <i class="fa fa-caret-down"></i></button>
              <ul class="dropdown-menu pull-right">
                <li><a href="{{ url_for('personnel.edit_personnel', personnelID=asset.id) }}">Update Person</a></li>
                <li class="divider"></li>
                <li><a href="{{ url_for('personnel.delete_placement', placementID=asset.id) }}">Dismiss from position</a></li>
              </ul>     
            </div>
        </div>
        {{ asset.category.type }}
      </h1>
    </div>
  </div>

  <div class="row collapse graphTabs" id="graphs">
    <ul class="nav nav-pills">
    {% for chart in charts %}
      <li class="{{'active' if loop.first}}"><a href="#chart-{{loop.index}}" data-toggle="tab">Chart {{loop.index}}</a></li>
    {% endfor %}
    </ul>

    <div class="tab-content clearfix">
    {% for chart in charts %}
      <div class="tab-pane {{'active' if loop.first }}" id="chart-{{loop.index}}">
        <embed style="width:100%;height:75vh;" type="image/svg+xml" src="{{ chart|safe }}"/>
      </div>
    {% endfor %}
    </div>
  </div>

  <div class="row">
	  <div class="col-md-12">
	    <div class="panel panel-default">
	    	<div class="panel-heading">
	    		<h3>{{ asset.category.type }}
	    			<div class="pull-right">
	    				<a href="{{ url_for('facility.facility', facilityID=asset.location.structure.facility.facilityID) }}" class="btn btn-primary">{{ asset.location.structure.facility.identifier }}</a>
	    			</div>
	    		</h3>
	    	</div>
	    	<div class="panel-body">
	    		{# info about the facility?? #}
	    		{% set facility = asset.location.structure.facility %}
	    		<table class="table table-hover">
	    			<thead>
	    				<tr>
	    					<th colspan="2">{{asset.category.type}}</th>
	    				</tr>
	    			</thead>
	    			<tbody>
	    				{% from "_formhelpers.html" import render_table %}

						{{ render_table("Asset ID", asset.id) }}


						{{ render_table("BME", asset.BMENum) }}
						{{ render_table("Serial", asset.serialNum) }}
						{{ render_table("Vnum", asset.vNum) }}

						{{ render_table("Manufacturer", asset.manufacturer) }}
						{{ render_table("Model", asset.model) }}
						{{ render_table("Dimensions", asset.dimensions) }}
						{{ render_table("Supplier", asset.supplier) }}
						{{ render_table("Cost", asset.cost) }}
						{{ render_table("Purchase Date", asset.datePurchased) }}

						{{ render_table("Status", asset.status) }}
						{{ render_table("Note", asset.note) }}

	    			</tbody>
	    		</table>
	    	</div>
	    </div>
	  </div>
  </div>
</div>
{% endblock %}