
{% extends "layout.html" %}

{% block content %}
<div class="body-content">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        <div class='btn-toolbar pull-right'>
            <div class='btn-group'>      
              <button class="btn btn-default {{ 'disabled' if not charts }}" data-toggle="collapse" href="#graphs"><i class="fa fa-bar-chart"></i> Graphs</button>
              <button class="btn btn-default dropdown-toggle btn-large" data-toggle="dropdown"><i class="fa fa-cogs"></i> Options <i class="fa fa-caret-down"></i></button>
              <ul class="dropdown-menu pull-right">
                <li><a href="#">Add Asset</a></li>
                <li><a href="{{ url_for('report.assets', categoryID=form.categoryID.default) }}"><i class="fa fa-download"></i> Download Excel</a></li>
              </ul>     
            </div>
        </div>
        Assets
      </h1>
    </div>
  </div>

  <script>

  $.getJSON("{{ url_for('asset._charts') }}", {categoryID: "{{form.categoryID.data}}"}, function(data) {
    $('#graphs').find('#chart-navigation').empty();
    $.each(data.charts, function(i, chart) {
      var $nav = $('<li>').append(
        $('<a href="#" data-toggle="tab">').text(chart.title).attr('href', '#chart-' + i)
        );
      var $chart = $('<div>', {'class': 'tab-pane', 'id': ""}).append(
        $('<embed>', {'style': "width:100%;height:75vh;", 'type': "image/svg+xml"})
        );
      var $chart = $chart.attr('id', 'chart-' + i);
      $('#graphs').find('#chart-navigation').append($nav);
      $('#graphs').find('#chart-div').append($chart);
      $('#chart-' + i).find('embed').attr('src', chart.data);
    });
    makeActive();
  });
    
  function makeActive() {
    $("#chart-navigation li:first").addClass("active");
    $("#chart-div div:first").addClass("active");
  };
  </script>

  <div class="row collapse graphTabs" id="graphs">
    <ul class="nav nav-pills" id="chart-navigation">
    </ul>

    <div class="tab-content clearfix" id="chart-div">
    </div>
  </div>

  <div class="row">
  {{ pagination.info }}
    <table class="table table-hover table-condensed sortable">
      <thead>
        <tr style="font-size:1.4em;font-weight:700;">
          <th>#</th>
          <th>V Num.</th>
          <th>Category</th>
          <th>Status</th>
          <th>Note</th>
          <th>Date Purchased</th>
          <th>Facility</th>
          <th></th>
        </tr>
        <tr>
          <form id="table-search-form" action="{{ url_for('asset.search') }}" method="GET">
            <th></th>
            <th>
              <div class="form-group">
                {{ form.vNum(class_="form-control") }}
              </div>
            </th>
            <th>
              <div class="form-group">
                {{ form.categoryID(class_="form-control") }}
              </div> 
            </th>
            <th>
              <div class="form-group">
                {{ form.status(class_="form-control") }}
              </div>
            </th>
            <th></th>
            <th></th>
            <th>
              <div class="form-group">
                {{ form.facilityID(class_="form-control") }}
              </div>
            </th>
            <th>
              <div class="form-group">
                <button class="btn btn-default btn-block" type="submit" value="submit"><i class="fa fa-refresh"></i></button>
              </div>
            </th>
          </form>
        </tr>
      </thead>
      <tbody class="rowlink" data-link="row">
    	{% for asset in assets %}
        <tr class="{{ 'bg-danger' if not asset.status }}">
          <td><a href="{{ url_for('facility.facility', facilityID=asset.location.structure.facility.facilityID) }}">{{ loop.index + (pagination.page - 1) * pagination.per_page }}</a></td>
          <td>{{ asset.vNum|NoneFilter }}</td>
          <td>{{ asset.category.type }}</td>
          <td>{{ 'Operational' if asset.status else 'NonOperational' }}</td>
          <td>{{ asset.note }}</td>
          <td>{{ asset.datePurchased }}</td>
          <td>{{ asset.location.structure.facility.identifier }}</td>
        </tr>
    	{% endfor %}
      </tbody>
    </table>
    {{ pagination.links }} 
  </div>
</div>
{% endblock %}

