
{% extends "layout.html" %}

{% block page_title %}Server error{% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="text-center">
        <h1><i class="fa fa-exclamation-triangle"></i> 500</h1>
        <h2><small>Something went wrong on our system.</small></h2>
        <p>Sorry, you some how managed to end up here. The issue has been logged and emailed to the developers and it should be resolved soon. Try again later.</p>
        <hr/>
        <div style="position:center;background-color: gray;">
        	<p><em>request_id: {{request_id}}</em></p>
        </div>
        <p>Use the request ID above to ask a developer to specifically review this issue if it is not resolved in a timely manner.</p>
    </div>
</div>
{% endblock %}

