{% macro form_field(form, field, print_status=True) -%}
    {% set has_label = kwargs.pop('has_label', True) %}
    {% set placeholder = '' %}
    {% if not has_label %}
        {% set placeholder = field.label.text %}
    {% endif %}
    {% set field_status = '' %}
    {% if form.errors and (form.submitted or (form.is_submitted() and form.submit.data)) %}
        {# form.submit.data for support multiple forms on page #}
        {# form.submitted - manual control for form without button (ajax) #}
        {# If form has error, password field would be empty in repeat form
           and user need to retype this value.
           That is why we need to mark password field always as `error`,
           to draw user attention
         #}
        {# Simulate error for password field (because if form has errors this fields is empty after reloading page) #}
        {# Can reset this simulations with field.hide_error = True (need to sing in form) #}
        {% if field.type == 'PasswordField' and not field.hide_error %}
            {% set field_status = 'error' %}
            {% set field_errors = ['Please retype password'] %}
        {% else %}
            {% if field.errors %}
                {% set field_status = 'error' %}
            {% else %}
                {% set field_status = 'success' %}
            {% endif %}
        {% endif %}
    {% endif %}
    <div class="form-group {{ field_status }}">
         {% if has_label and field.label.text and 'BooleanField' not in field.type %}
            <label for="{{ field.id }}" class="control-label">
                {{ field.label.text }}{% if field.flags.required %} <span class="required">*</span>{% endif %}
            </label>
        {% endif %}
        <div class="controls">
            {% set class_ = kwargs.pop('class_', '') %}
            {% if 'BooleanField' in field.type %}
                <div class="checkbox">
                    <label for="{{ field.id }}">
                        {{ field(class_=class_, **kwargs) }}
                        {{ field.label.text | safe }}
                    </label>
                </div>
            {% elif 'RadioField' in field.type %}
                {% for value, label, checked in field.iter_choices() %}
                    <div class="radio">
                    {% if checked  %}
                        <label>
                            <input type="radio" name="{{ field.id }}" id="{{ field.id }}" value="{{ value }}"
                              checked="True">{{ label }}
                        </label>
                    {% else %}
                        <label>
                            <input type="radio" name="{{ field.id }}" id="{{ field.id }}" value="{{ value }}">{{ label }}
                        </label>
                    {% endif %}
                    </div>
                {% endfor %}
            {% else %}
                {% set class_ = class_ ~ ' form-control' %}
                {% set prepend = kwargs.pop('prepend', None) %}
                {% set append = kwargs.pop('append', None) %}
                {% if append or prepend %}
                    {% if append and prepend %}
                        <div class="input-group input-group-prepend input-group-append">
                            <span class="input-group-addon">{{ prepend | safe  }}</span>
                            {{ field(class_=class_, placeholder=placeholder, **kwargs) }}
                            <span class="input-group-addon">{{ append | safe }}</span>
                        </div>
                    {% elif prepend %}
                        <div class="input-group input-group-prepend">
                            <span class="input-group-addon">{{ prepend | safe  }}</span>
                            {{ field(class_=class_, placeholder=placeholder, **kwargs) }}
                        </div>
                    {% elif append %}
                        <div class="input-group input-group-append">
                            {{ field(class_=class_, placeholder=placeholder, **kwargs) }}
                            <span class="input-group-addon">{{ append | safe  }}</span>
                        </div>
                    {% endif %}
                {% else %}
                    {{ field(class_=class_, placeholder=placeholder, **kwargs) }}
                {% endif %}
            {% endif %}
            {% if field.description %}
                <p class="help-block">{{ field.description|safe }}</p>
            {% endif %}
            {% if print_status %}
                {% if field_status == 'error' %}
                    <p class="error">{{ field.errors|join('<br/>') or field_errors|join('<br/>') }}</p>
                {% elif  field_status == 'success' %}
                    <p class="success">Field is ok</p>
                {% endif %}
            {% endif %}
        </div>
    </div>
{%- endmacro %}



{% macro render_field(field, text) %}
  <div class="form-group {{ 'has-error' if field.errors else '' }}">
  	{{ field.label }} {% if field.flags.required %}*{% endif %} {{ text|safe }}
    {{ field(class_="form-control", **kwargs)|safe }}
  {% if field.description %}
  <p class="help-block">{{ field.description|safe }}</p>
  {% endif %}
  {% if field.errors %}
    <span class="errors inline">
    {% for error in field.errors %}
      {{ error }}
    {% endfor %}
    </span>
  {% endif %}
  </div>
{% endmacro %}

{% macro render_datefield(field) %}
<div class="form-group">
  {{ field.label }} {% if field.flags.required %}*{% endif %}
  <div class="input-group date" data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-autoclose="true" data-date-assumeNearbyYear="true" data-date-todayBtn="true" data-date-clearBtn="true" data-date-orientation="bottom">
    {{ field(class_="form-control") }}
    <div class="input-group-addon">
      <span class="fa fa-calendar"></span>
    </div>
  </div>
</div>
{% endmacro %}

{% macro render_inline_row(f1, f2) %}
  <hr/>
  <div class='form-group row'>
    <div class="col-md-6">
      {{ f1.label }}{{ f1(class_="form-control", **kwargs)|safe }}
      <script>
        $('#{{f1.id}}').attr('data-slider-value', "{{ f1.data if f1.data else 0 }}")
      </script>
    </div>
    <div class='col-md-6'>
      {{ f2.label }}{{ f2(class_="form-control", **kwargs)|safe }}
    </div>  
  </div>
{% endmacro %}

{% macro render_table(field, item) %}
  <tr>
    <th>{{ field }}</th>
    {% if item == None %}
      <td></td>
    {% else %}
      <td>{{ item }}</td>
    {% endif %}
  </tr>
{% endmacro %}

{% macro inspec_table_int(name, cond, note) %}
  <tr>
    <td class="col-sm-3">{{ name }}</td>
    {% if cond is none %}
      <td class="col-sm-1"></td>
    {% else %}
      <td class="col-sm-1">{{ cond }}</td>
    {% endif %}
    {% if note == None %}
      <td class="col-sm-8"></td>
    {% else %}
      <td class="col-sm-8">{{ note }}</td>
    {% endif %}
  </tr>
{% endmacro %}

{% macro inspec_table_bool(name, cond, note) %}
  <tr>
    <td class="col-sm-3">{{ name }}</td>
    {% if cond == False or cond == None %}
      <td class="col-sm-1">No</td>
    {% else %}
      <td class="col-sm-1">Yes</td>
    {% endif %}
    {% if note == None %}
      <td class="col-sm-8"></td>
    {% else %}
      <td class="col-sm-8">{{ note }}</td>
    {% endif %}
  </tr>
{% endmacro %}

{% macro component_td(name, data) %}
  {% if data is none %}
    <td class="narrow disabled">{{ data if data else 'x' }}</td>
  {% elif data > 3 or data == False %}
    <td class="narrow td-red">{{ data if data else '0' }}</td>
  {% elif data == 3 %}
    <td class="narrow td-yellow">{{ data if data else '0' }}</td>
  {% elif data < 3 or data == True %}
    <td class="narrow td-green">{{ data if data else '0' }}</td>
  {% else %}
    <td class="narrow disabled">{{ data if data else '0' }}</td>
  {% endif %}
{% endmacro %}

{% macro bool_td(name, data) %}
  {% if data == False %}
    <td class="narrow td-red">{{ 'F' }}</td>
  {% elif data == True %}
    <td class="narrow td-green">{{ 'T' }}</td>
  {% else %}
    <td class="narrow disabled">{{ data if data else '0' }}</td>
  {% endif %}
{% endmacro %}
