
{% extends "layout.html" %}

{% block page_title %}CSRF Error{% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="text-center">
        <h1><i class="fa fa-exclamation-triangle"></i> CSRF Error</h1>
        <h2><small>This means the form has expired.</small></h2>
        <p><strong>You did nothing wrong.</strong> After a certain amount of time the form becomes invalid for security reasons. Go ahead and return to the form you were working on and everything will be okay.</p>

        <p>Next time try not to leave for lunch before you submit the form.</p>
    </div>
</div>
{% endblock %}

