
<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{% block meta_description %}{% endblock %}">
  <meta name="author" content="{% block meta_author %}{% endblock %}">

  <title>{% block page_title %}MOHA{% endblock %}</title>

  <!-- Mobile viewport optimized: h5bp.com/viewport -->

{% assets "css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
{% endassets %}

{% block css %}{# page-specific CSS #}{% endblock %}

{% assets "js_head" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

{% block head_script %}{# defer-incapable JS block #}{% endblock %}

</head>
<body class="{% block body_class %}body-sidebar{% endblock %}">
{% block body %}
<div class="navmenu navmenu-default navmenu-fixed-left offcanvas-sm">
  <a class="navmenu-brand visible-md visible-lg" href="{{ url_for('public.home') }}">MOHA</a>
  <ul class="nav navmenu-nav">
  {% if current_user and current_user.is_authenticated %}
    <!-- <li><a class="navmenu-link" href="{{ url_for('public.logout') }}"><i class="fa fa-sign-out"></i> Log out</a></li> -->
  {% elif not current_user.is_authenticated and loginForm %}
    <li><a data-toggle="modal" href="#LoginModal"><i class="fa fa-sign-in"></i> Login</a></li>
  {% endif %}
    <li style="background-color:gray;height:2px;width:90%;position:center;display:block;border-radius: 4px;margin:2%;"></li>
  </ul>
  <ul class="nav navmenu-nav" id="jazny-sidebar">
    {% block sidenav %}
    <li><a href="{{ url_for('facility.search') }}" class="navmenu-link"><i class="fa fa-hospital-o"></i> Facilities</a></li>
    <li><a href="{{ url_for('structure.search') }}" class="navmenu-link"><i class="fa fa-home"></i> Structures and Fleet Assets</a></li>
    <li><a href="{{ url_for('asset.search') }}"><i class="fa fa-medkit"></i> Assets</a></li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user-md"></i> Human Resources <b class="caret"></b></a>
      <ul class="dropdown-menu navmenu-nav">
        <li><a href="{{ url_for('personnel.search') }}">All</a></li>
        <li><a href="{{ url_for('personnel.sort_cadre') }}">By Cadre</a></li>
      </ul>
    </li>
    <li style="background-color:gray;height:2px;width:90%;position:center;display:block;border-radius: 4px;margin:2%;"></li>
    {% endblock %}
  </ul>
  <div style="margin: 10px;">
    {% block sidebar %}{% endblock %}
  </div>
</div>

<div class="navbar navbar-default navbar-fixed-top hidden-md hidden-lg">
  <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand" href="{{ url_for('public.home') }}">Assets Unit Webapp</a>
</div>

{% if not current_user.is_authenticated and loginForm %}
<!-- Login Modal -->
<div class="modal fade" tabindex="-1" id="LoginModal">
  <div class="modal-dialog modal-sm"> 
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">x</button>
        <h3>Login</h3>
      </div>
      <div class="modal-body">
        <form id="loginForm" method="POST" class="" role="login">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          {{ loginForm.next }}
          <div class="form-group">
            {{ loginForm.email(placeholder="Email", class_="form-control") }}
          </div>
          <div class="form-group">
            {{ loginForm.password(placeholder="Password", class_="form-control") }}
          </div>
          <button type="submit" class="btn btn-default">Log in</button>
        </form>
      </div>
      <div class="modal-footer">
        First time here? 
        <a href="{{ url_for('user.register') }}" class="btn btn-primary">Create account</a>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% block outer_content %}
<div class="container">
  <div class="content">
  {% block content %}{% endblock %}
  </div>
</div><!-- /.container -->
{% endblock %}

<!-- The Gallery as lightbox dialog, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>

{# include "footer.html" #}

<!-- JavaScript at the bottom for fast page loading -->
{% assets "js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

{% block js %}{# defer-capable JS block #}{% endblock %}

<!-- Extra Scripts for plugins used across the app -->
<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip();
  $('[data-toggle="confirmation"]').confirmation({});
});
</script>
<!-- Notify for flashed messages -->
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <script>
      $(function() {
        $.notify({
            message: "{{ message }}"
          },{
            type: '{{ category }}',
            animate :{
              enter: 'animated fadeInUp',
              exit: 'animated fadeOutUp'
            },
            placement: {
              from: 'bottom',
              align: 'right'
            },
            offset: 20,
            spacing: 10,
            z_index: 1031,
            delay: 4500
          })
      }); 
      </script>
    {% endfor %}
  {% endif %}
{% endwith %}

<!-- end scripts -->
{% endblock %}

</body>
</html>

