{% macro render_facility_map(facility) %}
<div style="height:300px;width:100%;" id="{{ facility.facilityID }}-map" class="sidebar-map"></div>
<script>
	BASECOORDS = [{{ facility.latitude }},{{ facility.longitude }}]
	var healthzones = L.geoJSON(null, null);

	function makeMap() {
	    var ACCESS_TOKEN = 'pk.eyJ1IjoiYXNzZXRzdW5pdG1vaCIsImEiOiJjajc1a2U2eW0xYmJhMnFvY3NvN3hld2RwIn0.6uZBPF2jwNIesPvWtIYZrA';
	    var MB_ATTR = 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
				'<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
				'Imagery © <a href="http://mapbox.com">Mapbox</a>';
	    var MB_URL = 'https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=' + ACCESS_TOKEN;

	    mymap = L.map('{{ facility.facilityID }}-map', {
	    	fullscreenControl: {
	    		pseudoFullscreen: false,
	    		position: 'topleft',
	    	}
	    }).setView(BASECOORDS, 9);

	    L.tileLayer(MB_URL, {attribution: MB_ATTR, id: 'mapbox.streets'}).addTo(mymap);

	    //Addem lat/long lo map
		var mousePosition = L.control.mousePosition({
		  emptyString: '0º N<br>0º E',
		  separator: '<br>',
		  lngFormatter: function(num) {
		    var direction = (num < 0) ? 'W' : 'E';
		    deg = Math.floor(Math.abs(num));
		    min = Math.floor((num - deg) * 60);
		    sec = Math.round((num - deg - min / 60) * 3600 * 1000) / 1000;
		    var formatted = deg + '&deg; ' + direction + ' '+min+'\''+sec+'"';
		    return formatted; 
		  },
		  latFormatter: function(num) {
		   var direction = (num < 0) ? 'S' : 'N';
		    deg = Math.floor(Math.abs(num));
		    min = Math.floor((Math.abs(num) - deg) * 60);
		    sec = Math.round((Math.abs(num) - deg - min / 60) * 3600 * 1000) / 1000;
		    var formatted = '&nbsp;&nbsp;' + deg + '&deg; ' + direction + ' '+min+'\''+sec+'"';
		    return formatted;
		  }
		}).addTo(mymap);

        //Addem measurement lo map
        var measureControl = L.control.measure({
        	position: 'topright',
        	primaryLengthUnit: 'meters',
        	secondaryLengthUnit: 'kilometers',
        	primaryAreaUnit: 'sqmeters',
        }).addTo(mymap);
	}

	var layer = L.layerGroup();

	function triggerHealthZonesFilter() {
		var data = $.getJSON("{{ url_for('static', filename='data/healthzones.geojson') }}");
		data.then(function(data) {
			healthzones = L.geoJson(data, {
				style: function (feature) {
					province=feature.properties.province;
					province=$.trim(province);
			        switch (true) {
			            case province == "TORBA": return {color: "#008000",weight: 1 };
			            case province == "SANMA": return {color: "#47B100",weight: 1 };
			            case province == "PENAMA": return {color: "#0000CC",weight: 1 };
			            case province == "MALAMPA": return {color: "#A3A300",weight: 1 };
			            case province == "SHEFA": return {color: "#C79500",weight: 1 };
			            case province == "TAFEA": return {color: "#FF3F00",weight: 1 };
			            default: return {color: "#CCCCCC",weight: 1 };
			        }
				},
				onEachFeature: function (feature, layer) {
					layer.bindTooltip(feature.properties.healthZone, {noHide:true,direction:'auto'});
					var content = "<table class='table table-striped table-bordered table-condensed'>";
					content += "<tr><th>Health Zone</th><td colspan='2'>" + feature.properties.healthZone + "</td></tr>" +
					"<tr><th>Area Name</th><td>" + feature.properties.areaName + "</td></tr>" +
					"<tr><th>Province</th><td>" + feature.properties.province + "</td></tr>" +
					"</table>";

					layer.on({
						click: function (e) {
						mainLabel=feature.properties.healthZone;
						$("#feature-title").html(mainLabel);
						$("#feature-info").html(content);
						$("#featureModal").modal("show");

						}
					});
				layer.on({
					mouseover: function (e) {
						var layer = e.target;
						layer.setStyle({
							weight: 6
						});
						if (!L.Browser.ie && !L.Browser.opera) {
							layer.bringToFront();
						}
					},
					mouseout: function (e) {
						layer.setStyle({
							weight: 1
						});
					}
				});
			}
			});
			mymap.addLayer(healthzones);
		});
	}


	function renderData() {
	    $.getJSON("{{ url_for('map.facilities') }}", function(obj) {
	        
	        function iconChoice(arr) {
	        	if (arr == 'Aid Post') {
	        		return 'heart'
	        	} else if (arr == 'Dispensary') {
	        		return 'plus-square'
	        	} else if (arr == 'Health Centre') {
	        		return 'h-square'
	        	} else {
	        		return 'plus'
	        	}
	        };

	       	function iconColor(status, damaged) {
	       		if (status && damaged) {
	        		return 'orange'
	        	} else if (status && !damaged) {
	        		return 'green'
	        	} else if (!status && damaged) {
	        		return 'red'
	        	} else if (!status && !damaged) {
	        		return 'black'
	        	} else {
	        		return 'white'
	        	}
	       	};

	        var markers = obj.data.map(function(arr) {
	        	var facilityMarker = L.marker([arr['latitude'], arr['longitude']],
	        		{icon: L.AwesomeMarkers.icon({
	        			prefix: 'fa',
	        			icon: iconChoice(arr['designation']),
	        			markerColor: iconColor(arr['status'], arr['damaged']),
	        			spin: arr['damaged'],
	        		})
	        	}).bindPopup(arr['popup']);
	        	facilityMarker.facilityID = arr['id'];
	        	facilityMarker.on('click', markerClick);
	        	return facilityMarker
	        });

	        mymap.removeLayer(layer);
	        marker_layer = L.layerGroup(markers);
	        mymap.addLayer(healthzones);
	        mymap.addLayer(marker_layer);
	        triggerHealthZonesFilter()
	    })
	}


	function markerClick(e) {
		$.getJSON("{{ url_for('map.facility') }}" + e.target.facilityID, function(obj) {
			
		});
	}

	$(function() {
	    makeMap();
	    renderData()
	    $('#distsel').change(function() {
	        var val = $('#distsel option:selected').val();
	        renderData(val)
	    });
	})

</script>
{% endmacro %}




{% macro render_condition(facility, structure_type='B') %}
{% if facility.condition(structure_type) > 3 or facility.condition(structure_type) == 0%}
<button class="btn btn-red btn-block" type="button" data-toggle="modal" data-target="#facility-condition-modal">
{% elif facility.condition(structure_type) == 3 %}
<button class="btn btn-yellow btn-block" type="button" data-toggle="modal" data-target="#facility-condition-modal">
{% elif facility.condition(structure_type) < 3 %}
<button class="btn btn-green btn-block" type="button" data-toggle="modal" data-target="#facility-condition-modal">
{% endif %}

    <div class="row">
      <div class="col-xs-3">
        <i class="fa fa-check fa-4x"></i>
      </div>
      <div class="col-xs-9 text-right">
        <div class="huge">{{ facility.condition(structure_type) if facility.condition(structure_type) else '0' }}</div>
        Bldg Cond.
      </div> 
    </div>

</button>

<div id="facility-condition-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Conditions</h4>
            </div>
            <div class="modal-body">
              <table class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th></th>
                    <th style="text-align:center;vertical-align: middle;">Average Condition</th>
                  </tr>
                </thead>
                <tbody>
                {% set structureTypes = [('B', 'Buildings'),
                						('WSR', 'Water Sources'),
                						('WST', 'Water Storages'),
                						('P', 'Power Sources'),
                						('S', 'Sanitations'),
                						('C', 'Communications'),
                						('CST', 'Cold Storages'),
                						('V', 'Vehicles'),
                						('BO', 'Boats')]
                %}
	          	{% for structure_type, name in structureTypes %}
	          	{% set condition = facility.condition(structure_type=structure_type) %}
	          		{% if condition > 3.5 or condition == 0 %}
                    <tr class="danger">
                    {% elif condition >= 2.5 %}
                    <tr class="warning">
                    {% else %}
                    <tr class="success">
                    {% endif %}
                      <td>{{ name }}</td>
                      <td style="text-align:center;vertical-align: middle;">{{ condition if facility.has_structure_type(structure_type) else '<label class="label label-danger">None Defined</label>'|safe }}</td>
                    </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
{% endmacro %}


{% macro render_operational(facility) %}
{% if facility.operational_percent() >= 0.75 %}
<button class="btn btn-green btn-block" type="button" data-toggle="modal" data-target="#facility-operational-modal">
{% elif facility.operational_percent() >= 0.25 %}
<button class="btn btn-yellow btn-block" type="button" data-toggle="modal" data-target="#facility-operational-modal">
{% else %}
<button class="btn btn-red btn-block" type="button" data-toggle="modal" data-target="#facility-operational-modal">
{% endif %}

    <div class="row">
      <div class="col-xs-3">
        <i class="fa fa-thumbs-o-up fa-4x"></i>
      </div>
      <div class="col-xs-9 text-right">
        <div class="huge">{{ facility.operational_list()|length }}<small style="font-size:.5em;">/{{ facility.structures|length }}</small></div>
        <div>Operational</div>
      </div> 
    </div>
   
</button>

<div id="facility-operational-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Operational</h4>
            </div>
            <div class="modal-body">
            {% if facility.structures %}
              {% if facility.nonoperational_list() %}
              <table class="table table-hover" style="border: 2px red solid">
                <thead>
					<tr>
						<th class="danger" colspan="5" class="text-center"><h4>Non-Operational</h4></th>
					</tr>

					<tr>
						<th class="col-sm-3">Identifier</th>
						<th class="col-sm-2">Description</th>
						<th class="col-sm-1">Average</th>
						<th class="col-sm-3">General Note</th>
						<th class="col-sm-2">Last Inspected</th>
					</tr>
                </thead>
                <tbody>
	          	{% for s in facility.nonoperational_list() %}
            		{% if s.inspection %}
                    <tr style="color: {{ '' if s.status else bgcolor }}">
                      <td>{{ s.identifier }}</td>
                      <td>{{ s.description }}</td>
                      <td>{{ s.inspection.condition }}</td>
                      <td>{{ s.inspection.note if s.inspection.note else '' }}</td>
                      <td>{{ s.inspection.inspectionDate|daysAgo }} Days Ago</td>
                    </tr>
                    {% else %}
                    <tr class="danger">
                      <td>{{ s.identifier }}</td>
                      <td colspan="5">No inspection yet</td>
                    </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
              </table>
              {% endif %}

              {% if facility.operational_list() %}
              <table class="table table-hover" style="border: 2px green solid">
              	<thead>
                	<tr>
                		<th class="success" colspan="5" class="text-center"><h4>Operational</h4></tr>
                	</tr>
                	<tr>
	                    <th class="col-sm-3">Identifier</th>
	                    <th class="col-sm-2">Description</th>
	                    <th class="col-sm-1">Average</th>
	                    <th class="col-sm-3">General Note</th>
	                    <th class="col-sm-2">Last Inspected</th>
	                </tr>
                {% for s in facility.operational_list() %}
                {% if s.inspection %}
                    <tr class="{{ '' if s.status else 'danger' }}">
                      <td>{{ s.identifier }}</td>
                      <td>{{ s.description }}</td>
                      <td>{{ s.inspection.condition }}</td>
                      <td>{{ s.inspection.note if s.inspection.note else '' }}</td>
                      <td>{{ s.inspection.inspectionDate|daysAgo }} Days Ago</td>
                    </tr>
                    {% else %}
                    <tr class="danger">
                      <td>{{ s.identifier }}</td>
                      <td colspan="5">No inspection yet</td>
                    {% endif %}
                {% endfor %}
                </tbody>
              </table>
              {% endif %}
            {% else %}
            <h4>There are no structures defined yet.</h4>
            {% endif %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
{% endmacro %}


{% macro render_overdue(facility) %}
{% if facility.overdue_percent() == 0 %}
<button class="btn btn-red btn-block">
{% elif facility.overdue_percent() <= 0.25 %}
<button class="btn btn-green btn-block">
{% elif facility.overdue_percent() <= 0.75 %}
<button class="btn btn-yellow btn-block">
{% else %}
<button class="btn btn-red btn-block">
{% endif %}

    <div class="row">
      <div class="col-xs-3">
        <i class="fa fa-bell fa-4x"></i>
      </div>
      <div class="col-xs-9 text-right">
        <div class="huge">{{ facility.overdue() }}<small style="font-size:.5em;">/{{ facility.structures|length }}</small></div>
        <div>Overdue</div>
      </div> 
    </div>

</button>
{% endmacro %}


{% macro render_personnel(facility) %}
{% if facility.positions_filled_percent >= 0.75 %}
<a href="#personnel" data-toggle="tab" id="personnel-button" class="btn btn-green btn-block">
{% elif facility.positions_filled_percent > 0.25 %}
<a href="#personnel" data-toggle="tab" id="personnel-button" class="btn btn-yellow btn-block">
{% elif facility.positions_filled_percent <= 0.25 %}
<a href="#personnel" data-toggle="tab" id="personnel-button" class="btn btn-red btn-block">
{% endif %}

    <div class="row">
      <div class="col-xs-3">
        <i class="fa fa-user-md fa-4x"></i>
      </div>
      <div class="col-xs-9 text-right">
        <div class="huge">{{ facility.positions_filled|length }}<small style="font-size:.5em;">/{{ facility.positions|length }}</small></div>
        <div>Positions</div>
      </div> 
    </div>
    
</a>
<!-- https://stackoverflow.com/questions/28506610/boostrap-3-multiple-nav-to-control-single-tab-pane -->
<script>
$("#personnel-button").click(function(e){
	$("#sidebar").children().each(function(f){
		$(this).removeClass("active");
	});
});
</script>
{% endmacro %}


{% macro render_condition_modal(structures) %}
{% set bgcolor = 'red' %}
<div id="{{structure_type}}-ConditionModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{ structure_type }} Conditions</h4>
            </div>
            <div class="modal-body">
              <table class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th class="col-sm-3">Identifier</th>
                    <th class="col-sm-2">Status</th>
                    <th class="col-sm-1">Average</th>
                    <th class="col-sm-4">General Note</th>
                    <th class="col-sm-2"></th>
                  </tr>
                </thead>
                <tbody>
                  {% for s in structures %}
                    {% if s.inspection %}
                    <tr style="color: {{ bgcolor if s.inspection.status.name != 'Open' else '' }}">
                      <td>{{ s.identifier }}</td>
                      <td>{{ s.inspection.status.name }}</td>
                      <td>{{ s.inspection.condition }}</td>
                      <td>{{ s.inspection.note }}</td>
                      <td></td>
                    </tr>
                    {% else %}
                    <tr style="color: {{ bgcolor }};">
                      <td>{{ s.identifier }}</td>
                      <td colspan="4">No inspection yet</td>
                    {% endif %}
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
{% endmacro %}