
{% extends "layout.html" %}

{% block js %}
<script type="text/javascript">
$(document).ready(function(){
  $("#BuildingModal").on('show.bs.modal', function(event){
        var button = $(event.relatedTarget);  // Button that triggered the modal
        var titleData = button.data('title'); // Extract value from data-* attributes
        var listData = button.data('list');
        var dd = JSON.stringify(listData);
        $(this).find('.modal-title').text(titleData);
    });
});
</script>
{% endblock %}

{% block content %}
<!-- T A B L E S -->
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      <div class='btn-toolbar pull-right'>
          <div class='btn-group'>
            <button class="btn btn-default {{ 'disabled' if not charts }}" data-toggle="collapse" href="#graphs"><i class="fa fa-bar-chart"></i> Graphs</button>
            <button class="btn btn-default dropdown-toggle btn-large" data-toggle="dropdown"><i class="fa fa-cogs"></i> Options <i class="fa fa-caret-down"></i></button>
            <ul class="dropdown-menu pull-right">
              <li><a href="#">Add ... nothing</a></li>
            </ul>         

          </div>
      </div>
      Buildings
    </h1>
  </div>
</div>

<div class="row collapse graphTabs" id="graphs">
  <ul class="nav nav-pills">
  {% for chart in charts %}
    <li class="{{'active' if loop.first}}"><a href="#chart-{{loop.index}}" data-toggle="tab">Chart {{loop.index}}</a></li>
  {% endfor %}
  </ul>

  <div class="tab-content clearfix">
  {% for chart in charts %}
    <div class="tab-pane {{'active' if loop.first }}" id="chart-{{loop.index}}">
      <embed style="width:100%;height:75vh;" type="image/svg+xml" src="{{ chart|safe }}"/>
    </div>
  {% endfor %}
  </div>
</div>

{% if building_type %}
<div class="row">
  <table class="table table-hover table-bordered table-stripped">
    <thead>
      <tr>
        <th>{{ building_type.type }}</th>
        {% for province in provinces %}
        <th>{{ province.name }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
    {% for designation in designations %}
      <tr>
        <td>{{ designation.name }}</td>
        {% for province in provinces %}
        <td>
          {% set buildings = designation.province_list(building_type, designation, province) %}
          {% if buildings|length > 0 %}

          <!-- M O D A L -->
          <div id="BuildingModal-{{loop.index}}" class="modal fade">
              <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                          <h4 class="modal-title">{{ building_type.type }} | {{ designation.name }} | {{ province.name }}</h4>
                      </div>
                      <div class="modal-body">
                         <table class="table table-striped table-hover table-condensed">
                          <thead>
                            <tr>
                              <th>Facility ID</th>
                              <th>Facility Name</th>
                              <th>Island</th>
                              <th>Health Zone</th>
                              <th>Status</th>
                              <th>Constuction</th>
                              <th>Area</th>
                              <th>Condition</th>
                            </tr>
                          </thead>
                          <tbody class="rowlink" data-link="row">
                            {% for building in buildings %}
                            <tr class="{{ 'danger' if not building.status }}">
                              <td><a href="{{ url_for('facility.facility', facilityID=building.facility.facilityID) }}"></a>{{ building.facility.facilityID }}</td>
                              <td>{{ building.facility.facilityName }}</td>
                              <td>{{ building.facility.island.name }}</td>
                              <td>{{ building.facility.healthZone }}</td>
                              <td>{{ 'Operational' if building.status else 'Non-Operational' }}</td>
                              <td>{{ building.construction.type }}</td>
                              <td>{{ building.area }} sqm.</td>
                              <td>{{ building.inspection.condition if building.inspection else 'No inspection yet' }}</td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                      </div>
                  </div>
              </div>
          </div>

          <button type="button" class="btn btn-info btn-block" style="padding:0;" data-toggle="modal" data-target="#BuildingModal-{{loop.index}}">{{ buildings|length }}/{{ designation.total_designations(province.id) }}</button>
          {% endif %}
        </td>
        {% endfor %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}

<div class="row">
  <table class="table table-hover table-bordered table-striped">
    <thead>
      <tr>
        <th></th>
        {% for d in designations %}
        <th>{{ d.name }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody class="rowlink" data-link="row">
    {% for type in building_types %}
      <tr>
        <td><a href="{{ url_for('facility.buildings', building_type=type.id) }}"></a>{{ type.type }}</td>
        {% for designation in designations %}
        <td style="text-align:center;">{{ designation.type_list(type, designation)|length if designation.type_list(type, designation)|length > 0 else '' }}</td>
        {% endfor %}
      </tr>
  	{% endfor %}
    </tbody>
  </table>    
</div>
{% endblock %}

