
  <script>
  // http://jsfiddle.net/BjpWB/4/
  function scrollToId(id){
    console.log(id);
    var tag = $("div[id='"+ id +"']");
    $('html,body').animate({scrollTop: tag.offset().top},'slow');
    $('.type_' + id).collapse('toggle');
  }
  </script>


  <li>
    <a href="#facility" id="facility-link">
      <i class="fa fa-building"></i>
        {{ facility.facilityName }} (ID: {{ facility.facilityID }})
      <span class="pull-right small"></span>
    </a>
  </li>
  <script>
  $("#facility-link").click(function(e) {
    scrollToId('facility');
  });
  </script>

  <li>
    <a href="#facility-files" id="files-link">
      <i class="fa fa-file-o"></i>
        Files
      <span class="pull-right small">{{ facility.files|length }}</span>
    </a>
  </li>
  <script>
  $("#files-link").click(function() {
    scrollToId('facility-files');
  });
  </script>

{% if facility.structures %}
  <li>
    <a href="#facility-services" id="services-link">
      <i class="fa fa-share-alt"></i>
        Services Network
      <span class="pull-right small"></span>
    </a>
  </li>
  <script>
  $("#services-link").click(function() {
    scrollToId('facility-services');
  });
  </script>
{% endif %}

{% if facility.buildings %}
  <li>
    <a href="#B" id="buildings-link">
      <i class="fa fa-home"></i>
        Buildings
      <span class="pull-right small">
        {% if facility.buildings %}
          {{ facility.buildings|length }}
        {% else %}
          <span class="label label-danger">None Defined</span>
        {% endif %}
      </span>
    </a>
  </li>
  <script>
  $("#buildings-link").click(function() {
    scrollToId('B');

    //$('.type_B').collapse('toggle');
    //$(".structure_type_B").collapse({"toggle": true, "parent": "#structures-accordion"});
  });
  </script>
{% endif %}

{% if facility.boats %}
  <li>
    <a href="#BO" id="boats-link">
      <i class="fa fa-ship"></i>
        Boat
      <span class="pull-right small">
        {% if facility.boats %}
        {{ facility.boats|length }}
        {% else %}
        <span class="label label-danger">None Defined</span>
        {% endif %}
      </span>
    </a>
  </li>
  <script>
  $("#boats-link").click(function() {
    scrollToId('BO');
  });
  </script>
{% endif %}

{% if facility.communications %}
  <li>
    <a href="#C" id="communications-link">
      <i class="fa fa-phone"></i>
        Communication
      <span class="pull-right small">
        {% if facility.communications %}
        {{ facility.communications|length }}
        {% else %}
        <span class="label label-danger">None Defined</span>
        {% endif %}
      </span>
    </a>
  </li>
  <script>
  $("#communications-link").click(function() {
    scrollToId('C');
  });
  </script>
{% endif %}

{% if facility.coldStorages %}
  <li>
    <a href="#CST" id="coldStorages-link">
      <i class="fa fa-snowflake-o"></i>
        Cold Storage
      <span class="pull-right small">
        {% if facility.coldStorages %}
        {{ facility.coldStorages|length }}
        {% else %}
        <span class="label label-danger">None Defined</span>
        {% endif %}
      </span>
    </a>
  </li>
  <script>
  $("#coldStorages-link").click(function() {
    scrollToId('CST');
  });
  </script>
{% endif %}

{% if facility.powers %}
  <li>
    <a href="#P" id="powers-link">
      <i class="fa fa-bolt"></i>
        Power
      <span class="pull-right small">
        {% if facility.powers %}
        {{ facility.powers|length }}
        {% else %}
        <span class="label label-danger">None Defined</span>
        {% endif %}
      </span>
    </a>
  </li>
  <script>
  $("#powers-link").click(function() {
    scrollToId('P');
  });
  </script>
{% endif %}
      
{% if facility.sanitations %}
  <li>
    <a href="#S" id="sanitations-link">
      <i class="fa fa-shower"></i>
        Sanitation
      <span class="pull-right small">
        {% if facility.sanitations %}
        {{ facility.sanitations|length }}
        {% else %}
        <span class="label label-danger">None Defined</span>
        {% endif %}
      </span>
    </a>
  </li>
  <script>
  $("#sanitations-link").click(function() {
    scrollToId('S');
  });
  </script>
{% endif %}

{% if facility.vehicles%}
  <li>
    <a href="#V" id="vehicles-link">
      <i class="fa fa-car"></i>
        Vehicle
      <span class="pull-right small">
        {% if facility.vehicles %}
        {{ facility.vehicles|length }}
        {% else %}
        <span class="label label-danger">None Defined</span>
        {% endif %}
      </span>
    </a>
  </li>
  <script>
  $("#vehicles-link").click(function() {
    scrollToId('V');
  });
  </script>
{% endif %}

{% if facility.waterSources %}
  <li>
    <a href="#WSR" id="waterSources-link">
      <i class="fa fa-tint"></i>
        Water Sources
      <span class="pull-right small">
        {% if facility.waterSources %}
        {{ facility.waterSources|length }}
        {% else %}
        <span class="label label-danger">None Defined</span>
        {% endif %}
      </span>
    </a>
  </li>
  <script>
  $("#waterSources-link").click(function() {
    scrollToId('WSR');
    //$(".type_WSR").collapse({"toggle": true, "parent": "#structures-accordion"});
  });
  </script>
{% endif %}

{% if facility.waterStorages %}
  <li>
    <a href="#WST" id="waterStorages-link">
      <i class="fa fa-tint"></i>
        Water Storage
      <span class="pull-right small">
        {% if facility.waterStorages %}
        {{ facility.waterStorages|length }}
        {% else %}
        <span class="label label-danger">None Defined</span>
        {% endif %}
      </span>
    </a>
  </li>
  <script>
  $("#waterStorages-link").click(function() {
    scrollToId('WST');
  });
  </script>
{% endif %}

  <li>
    <a href="#personnel" id="personnel-link">
      <i class="fa fa-user-md"></i>
        Personnel
      <span class="pull-right small">
        {% if facility.positions %}
        {{ facility.positions_filled|length }}/{{ facility.positions|length }}
        {% else %}
        <span class="label label-danger">None Defined</span>
        {% endif %}
      </span>
    </a>
  </li>
  <script>
  $("#personnel-link").click(function() {
    scrollToId('personnel');
  });
  </script>
