
{% extends "layout.html" %}

{% block content %}
<div class="body-content">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        <div class='btn-toolbar pull-right'>
            <div class='btn-group'>
              <button class="btn btn-default" data-toggle="collapse" href="#graphs"><i class="fa fa-bar-chart"></i> Graphs</button>
              <button class="btn btn-default dropdown-toggle btn-large" data-toggle="dropdown"><i class="fa fa-cogs"></i> Options <i class="fa fa-caret-down"></i></button>
              <ul class="dropdown-menu pull-right">
                <li><a href="{{ url_for('facility.add_facility') }}">Add Facility</a></li>
                <li><a href="{{ url_for('report.facilities', designationID=form.designation.default, islandID=form.island.default, healthZoneID=form.healthZone.default, provinceID=form.province.default) }}"><i class="fa fa-download"></i> Download Excel</a></li>
              </ul>     
            </div>
        </div>
        Facilities
      </h1>
    </div>
  </div>

  <script>

    $.getJSON("{{ url_for('facility._charts') }}", function(data) {
      $('#graphs').find('#chart-navigation').empty();
      $.each(data.charts, function(i, chart) {
        var $nav = $('<li>').append(
          $('<a href="#" data-toggle="tab">').text(chart.title).attr('href', '#chart-' + i)
          );
        var $chart = $('<div>', {'class': 'tab-pane', 'id': ""}).append(
          $('<embed>', {'style': "width:100%;height:75vh;", 'type': "image/svg+xml"})
          );
        var $chart = $chart.attr('id', 'chart-' + i);
        $('#graphs').find('#chart-navigation').append($nav);
        $('#graphs').find('#chart-div').append($chart);
        $('#chart-' + i).find('embed').attr('src', chart.data);
      });
      makeActive();
    });
      
    function makeActive() {
      $("#chart-navigation li:first").addClass("active");
      $("#chart-div div:first").addClass("active");
    };
  </script>

  <div class="row collapse graphTabs" id="graphs">
    <ul class="nav nav-pills" id="chart-navigation">
    </ul>

    <div class="tab-content clearfix" id="chart-div">
    </div>
  </div>

  <div class="row">
  {{ pagination.info }}
    <table class="table table-condensed">
      <thead>
        <tr style="font-size:1.4em;font-weight:700;">
          <th>#</th>
          <th>Facility ID</th>
          <th>Name</th>
          <th>Local Name</th>
          <th>Desigination</th>
          <th>Island</th>
          <th>Heath Zone</th>
          <th>Province</th>
        </tr>
        <tr>
          <form action="{{ url_for('facility.search') }}" method="GET">
            <th></th>
            <th></th>
            <th>
              <div class="form-group">
                {{ form.facilityName(class_="form-control") }}
              </div>
            </th>
            <th></th>
            <th>
              <div class="form-group">
                {{ form.designation(class_="form-control") }}
              </div>
            </th>
            <th>
              <div class="form-group">
                {{ form.island(class_="form-control") }}
              </div>
            </th>
            <th>
              <div class="form-group">
                {{ form.healthZone(class_="form-control") }}
              </div>
            </th>
            <th>
              <div class="form-group">
                {{ form.province(class_="form-control") }}
              </div>
            </th>
            <th>
              <div class="form-group">
                <button class="btn btn-default btn-block" type="submit" value="submit"><i class="fa fa-refresh"></i></button>
              </div>
            </th>
          </form>
        </tr>
      </thead>
      <tbody class="rowlink" data-link="row">
    	{% for facility in facilities %}
        <tr class="{{ facility|colorCode }}">
          <td><a href="{{ url_for('facility.facility', facilityID=facility.facilityID) }}"></a>{{ loop.index + (pagination.page - 1) * pagination.per_page }}</td>
          <td>{{ facility.facilityID }}</td>
          <td>{{ facility.facilityName }}</td>
          <td>{{ facility.altFacilityName if facility.altFacilityName != None else '' }}</td>
          <td>{{ facility.designation.name }}</td>
          <td>{{ facility.island.name }}</td>
          <td>{{ facility.healthZone }}</td>
          <td>{{ facility.province.name }}</td>
        </tr>
    	{% endfor %}
      </tbody>
    </table>
    {{ pagination.links }} 
  </div>
</div>
{% endblock %}

