
{% extends "layout.html" %}

{% block page_title %}MOHA: {{ facility.identifier }}{% endblock %}

{% block css %}

	{% assets "css_leaflet" %}
		<link rel="stylesheet" href="{{ ASSET_URL }}">
	{% endassets %}

	<style>
		#graphTabs .nav-pills > li > a {
		  border-radius: 4px 4px 0 0 ;
		}

		#graphTabs .tab-content {
		  color : white;
		  background-color: #428bca;
		  padding : 5px 15px;
		}
	</style>
	
{% endblock %}

{% block sidenav %}
	{% include "facilities/facility_sidenav.html" %}
{% endblock %}

{% block content %}

<div class="row">
	<div class="col-sm-12">
		
		<div class="tab-content">	
			<div id="facility" class="tab-pane fade in active">
				<div class="row">
					<h1 class="section-header">
						<div class='btn-toolbar pull-right'>
						<div class='btn-group'>
							<a class="btn btn-{{ 'danger' if facility.damaged else 'default' }}" href="{{ url_for('facility.damaged_switch', facilityID=facility.facilityID) }}" data-toggle="tooltip" title="Facility {{ 'Damaged' if facility.damaged else 'Not Damaged' }}" data-placement="bottom" data-contaier="body"><i class="fa fa-{{ 'warning' if facility.damaged else 'exclamation-triangle' }}"></i></a>
							<button class="btn btn-default {{ 'disabled' if not charts }}" data-toggle="collapse" href="#graphs"><i class="fa fa-bar-chart"></i> Graphs</button>
							<button class="btn btn-default dropdown-toggle btn-large" data-toggle="dropdown"><i class="fa fa-cogs"></i> Options <i class="fa fa-caret-down"></i></button>
							<ul class="dropdown-menu pull-right">
								<li><a href="{{ url_for('facility.status_switch', facilityID=facility.facilityID) }}">{{ 'Close Facility' if facility.status else 'Open Facility' }}</a></li>
								<li><a href="{{ url_for('facility.update_facility', facilityID=facility.facilityID) }}">Update Facility Info</a></li>
								<li><a href="{{ url_for('report.facility', facilityID=facility.facilityID) }}">Inspection Report</a></li>
							</ul>
						</div>
						</div>
						{{ facility.facilityName }} <small><span class="label {{ 'label-primary' if facility.status else 'label-warning' }}">{{ 'Open' if facility.status else 'Closed' }}</span></small>
					</h1>
				</div>
				<div class="row collapse graphTabs" id="graphs">
					<div class="col-xs-12">
					<hr/>
						<ul class="nav nav-pills">
							{% for chart in charts %}
							<li class="{{'##actives$$' if loop.first}}"><a href="#chart-{{loop.index}}" data-toggle="tab">Chart {{loop.index}}</a></li>
							{% endfor %}
						</ul>

						<div class="tab-content clearfix">
							{% for chart in charts %}
							<div class="tab-pane {{'active' if loop.first }}" id="chart-{{loop.index}}">
								<embed style="width:100%;height:75vh;" type="image/svg+xml" src="{{ chart|safe }}"/>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
				<hr/>
				<div class="row">
					<div class="col-lg-8">

						<div class="row">
							<div class="col-sm-3 col-xs-6">
								{% from "facilities/_helpers.html" import render_condition %}
								{{ render_condition(facility) }}
							</div>
							<div class="col-sm-3 col-xs-6">
								{% from "facilities/_helpers.html" import render_operational %}
								{{ render_operational(facility) }}
							</div>
							<div class="col-sm-3 col-xs-6">
								{% from "facilities/_helpers.html" import render_overdue %}
								{{ render_overdue(facility) }}
							</div>
							<div class="col-sm-3 col-xs-6">
								{% from "facilities/_helpers.html" import render_personnel %}
								{{ render_personnel(facility) }}
							</div>
						</div>

						<hr/>
						
						<div class="row">
							<div class="col-sm-12">
								<div style="height:300px;width:100%;" id="{{ facility.facilityID }}-map" class="sidebar-map"></div>
							</div>
						</div>

						<hr/>

						<div class="row" id="facility-files">
							<div class="col-sm-12">
								<div class="panel panel-default">
								{% if facility.files %}
									<div class="panel-heading">
									  <div class="row">
										<div class="col-sm-4">
										  <h4>{{ facility.files|length }} Facility Files</h4>
										</div>
										<div class="col-sm-8">
										  <div class="btn-toolbar pull-right">
											<div class='btn-group'>
												<a class="btn btn-default" href="{{ url_for('facility.add_facility_file', facilityID=facility.facilityID, file_type='file') }}"><i class="fa fa-upload"></i> Upload</a>
												<a class="btn btn-default" href="{{ url_for('facility.download_facility_files', facilityID=facility.facilityID, file_type='file') }}"><i class="fa fa-download"></i> Download All</a>
											</div>
										  </div> 
										</div>
									  </div>
									</div>
									<table class="panel-body table table-condensed table-striped table-hover">
									  <thead>
										<tr>
										  <th></th>
										  <th>Name</th>
										  <th>Description</th>
										  <th>Date</th>
										  <th></th>
										</tr>
									  </thead>
									  <tbody>
										{% for file in facility.files %}
										<tr>
										  <td class="col-sm-2">
											<div class="btn-group">
											  <a class="btn btn-primary btn-sm" href="{{ url_for('facility.view_file', facilityID=facility.facilityID, filename=file.file.fileName, original_name=file.file.fileOriginalName, file_type='file') }}" target="_blank"><i class="fa fa-eye"></i></a>
											  <a class="btn btn-default btn-sm" href="{{ url_for('facility.download_file', facilityID=facility.facilityID, filename=file.file.fileName, original_name=file.file.fileOriginalName, file_type='file') }}" target="_blank"><i class="fa fa-download"></i></a>
											</div>
										  </td>
										  <td class="col-sm-3">{{ file.file.fileOriginalName }}</td>
										  <td class="col-sm-4">{{ file.file.fileDesc }}</td>
										  <td class="col-sm-2">{{ file.file.fileDateCreated }}</td>
										  <td class="col-sm-1"><a class="btn btn-danger btn-sm" data-href="{{ url_for('facility.delete_facility_file', facilityID=facility.facilityID, fileID=file.file.id, file_type='file', next=url_for('facility.facility', facilityID=facility.facilityID)) }}" data-toggle="confirmation" data-placement="left" data-popout="true"><i class="fa fa-times"></i></a></td>
										</tr>
										{% endfor %}
									  </tbody>
									</table>
								  {% else %}
									<div class="panel-heading">
										<div class="row">
											<a class="btn btn-info btn-block" href="{{ url_for('facility.add_facility_file', facilityID=facility.facilityID, file_type='file') }}"><i class="fa fa-upload"></i> Upload Facility File <i class="fa fa-file-pdf-o"></i></a>
										</div>
									</div>
								{% endif %}
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="panel panel-default">
								{% if facility.pics %}
									<div class="panel-heading">
										<div class="row">
											<div class="col-sm-4">
												<h4>{{ facility.pics|length }} Facility Pictures</h4>
											</div>
											<div class="col-sm-8">
												<div class="btn-group pull-right">
													<a href="{{ url_for('facility.add_facility_file', facilityID=facility.facilityID, file_type='picture') }}" class="btn btn-default">Upload <i class="fa fa-upload"></i></a>
													<a href="{{ url_for('facility.download_facility_files', facilityID=facility.facilityID, file_type='picture') }}" class="btn btn-default">Download <i class="fa fa-download"></i></a>
													<a href="{{ url_for('facility.facility_files', facilityID=facility.facilityID, file_type='picture') }}" class="btn btn-default"><i class="fa fa-picture-o"></i> Options</a>
												</div>   
											</div>
										</div>
									</div>
									
									<div class="panel-body">
										<div id="facility-pics" class="row fix">
											{% for picture in facility.pics %}
											<div class="col-sm-6 col-md-3">
												<div class="thumbnail" style="{{ 'background-color: #5D9CEC;' if picture.default else '' }}">  {# Blue Jeans color from Bootflat #}
													<img class="img-rounded" src="{{ url_for('facility.view_file', facilityID=facility.facilityID, filename=picture.file.fileName, file_type='picture') }}" data-href="{{ url_for('facility.download_file', facilityID=facility.facilityID, filename=picture.file.fileName, file_type='picture') }}" data-caption="{{picture.file.fileDesc}}">
													<div class="caption text-center">
														<p>{{picture.file.fileDesc}}</p>
														<p>
															<button class="btn btn-danger btn-xs" data-toggle="confirmation" data-href="{{ url_for('facility.delete_facility_file', facilityID=facility.facilityID, fileID=picture.fileID, file_type='picture') }}"><i class="fa fa-times"></i></button>
								                            <a class="btn btn-default btn-xs" href="{{ url_for('facility.update_facility_file', facilityID=facility.facilityID, fileID=picture.fileID, file_type='picture') }}"><i class="fa fa-pencil"></i></a>
								                            {% if not picture.default %}
								                            <a class="btn btn-default btn-xs" href="{{ url_for('facility.make_default_file', facilityID=facility.facilityID, fileID=picture.fileID, file_type='picture') }}"><i class="fa fa-camera"></i></a>
								                            {% endif %}
														</p>
													</div>
												</div>
											</div>
											{% endfor %}
										</div>
										<!-- script for lightbox/gallery -->
										<script>
										$('#facility-pics').on("click","img", function(e) {
											e.preventDefault();
											event = e || window.event;
											var target = event.target
											link = target;
											options = {index: link, event: event},
											links = $('#facility-pics img');
										blueimp.Gallery(links, options);
										});
										</script>
									</div>

								{% else %}
									<div class="panel-heading">
										<div class="row"> 
											<a class="btn btn-info btn-block" href="{{ url_for('facility.add_facility_file', facilityID=facility.facilityID, file_type='picture') }}"><i class="fa fa-upload"></i> Upload Facility Picture <i class="fa fa-file-picture-o"></i></a>
										</div>
									</div>
								{% endif %}
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="row">
							<div class="panel-group" id="accordion">
								<div class="panel panel-info">
								  <div class="panel-heading">
									<h3 class="panel-title">
									  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><i class="fa fa-info-circle"></i> General Info</a>
									</h3>
								  </div>
								  <div id="collapseOne" class="panel-collapse collapse">
									<table class="table table-hover panel-body">
										<tbody>
											{% from "_formhelpers.html" import render_table %}
											{{ render_table("Facility ID", facility.facilityID) }}
											{{ render_table("Name", facility.facilityName) }}
											{{ render_table("Alternative Facility Name", facility.altFacilityName) }}
											{{ render_table("Designation", facility.designation.name) }}
											{{ render_table("Status", 'Open' if facility.status else 'Closed') }}
											{{ render_table("Setting", facility.setting.name) }}
											{{ render_table("Owner", facility.ownership.name) }}
											{{ render_table("Land Owner", facility.landOwner) }}
											{{ render_table("Land Owner Contact", facility.landOwnerContact) }}
											{{ render_table("Land Title", facility.landTitle) }}
											{{ render_table("Manager", facility.manager) }}
											{{ render_table("Manager Contact", facility.managerContact) }}
										</tbody>
									</table>
								  </div>
								</div>
								<div class="panel panel-info">
								  <div class="panel-heading">
									<h3 class="panel-title">
									  <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><i class="fa fa-map"></i> Location Info</a>
									</h3>
								  </div>
								  <div id="collapseTwo" class="panel-collapse collapse">
									<table class="table table-hover panel-body">
										<tbody>
											{{ render_table("Province", facility.province.name) }}
											{{ render_table("Island", facility.island.name) }}
											{{ render_table("Health Zone", facility.healthZone) }}
											{{ render_table("Area Council", facility.areaCouncil.name) }}
											{{ render_table("Population", facility.areaCouncil.population) }}
											<tr>
												<th>Latitude</th>
												<td>{{ facility.latD }} S {{ facility.latM }}' {{ facility.latS }}"</td>
											</tr>
											<tr>
												<th>Longitude</th>
												<td>{{ facility.longD }} E {{ facility.longM }}' {{ facility.longS }}"</td>
											</tr>
										</tbody>
									</table>
								  </div>
								</div>
								<div class="panel panel-info">
								  <div class="panel-heading">
									<h3 class="panel-title">
									  <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><i class="fa fa-pencil-square-o"></i> Notes</a>
									</h3>
								  </div>
								  <div id="collapseThree" class="panel-collapse collapse note-panel">
									<div class="list-group">
										<div class="list-group-item">
										<h4 class="list-group-item-heading"></h4>
										<form action="{{ url_for('facility.add_note', facilityID=facility.facilityID) }}" method="POST">
											<div class="form-group">
												<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
												{{ noteForm.note(class_="form-control") }}
												<p><input class="btn btn-primary btn-lg btn-submit btn-block" id="upload-button" type="submit" value="Add Note"></p>
											</div>
										</form>
										</div>
										{% for note in facility.notes %}
										<div class="list-group note">
										  <div class="list-group-item">
											<h4 class="list-group-item-heading">{{ note.user.full_name }}
												<span class="pull-right small">{{ note.date|daysAgo }} Days Ago <a style="padding: 0 4px 0 4px;" class="btn btn-sm btn-danger" href="{{ url_for('facility.delete_note', facilityID=facility.facilityID, id=note.id) }}"><i style="margin:0;padding:0;" class="fa fa-times"></i></a></span>
											</h4>
											<p class="list-group-item-text">{{ note.note }}</p>
										  </div>
										</div>
										{% endfor %}
									</div>
								  </div>
								</div>
							</div>

						</div>
					</div>
				</div>
				{% if facility.structures %}
				<div class="row" id="facility-services">
					<div class="col-sm-12">
						<h3>Facility Services Network</h3>
						<div class="well well-sm">
							<div id="sigma-canvas" style="height:75vh;width:100%;position:relative;">
								<div id="facility-services-graph" style="position:absolute;height:100%;width:100%;"></div>
							</div>
						</div>
					</div>
				</div>
				{% endif %}
				<div class="row">
					{# H E A D E R #}
					<h3>Structures
						<div class='btn-toolbar pull-right'>
							<div class='btn-group'>
								<button class="btn btn-default dropdown-toggle btn-large" data-toggle="dropdown">Options <i class="fa fa-caret-down"></i></button>
								<ul class="dropdown-menu pull-right">
									<li><a href="{{ url_for('structure.add_structure', structure_type='B', facilityID=facility.facilityID) }}">Add New Building</a></li>
									<li><a href="{{ url_for('structure.add_structure', structure_type='BO', facilityID=facility.facilityID) }}">Add New Boat</a></li>
									<li><a href="{{ url_for('structure.add_structure', structure_type='C', facilityID=facility.facilityID) }}">Add New Communication</a></li>
									<li><a href="{{ url_for('structure.add_structure', structure_type='CST', facilityID=facility.facilityID) }}">Add New Cold Storage</a></li>
									<li><a href="{{ url_for('structure.add_structure', structure_type='P', facilityID=facility.facilityID) }}">Add New Power</a></li>
									<li><a href="{{ url_for('structure.add_structure', structure_type='S', facilityID=facility.facilityID) }}">Add New Sanitation</a></li>
									<li><a href="{{ url_for('structure.add_structure', structure_type='WSR', facilityID=facility.facilityID) }}">Add New Water Source</a></li>
									<li><a href="{{ url_for('structure.add_structure', structure_type='WST', facilityID=facility.facilityID) }}">Add New Water Storage</a></li>
									<li><a href="{{ url_for('structure.add_structure', structure_type='V', facilityID=facility.facilityID) }}">Add New Vehicle</a></li>
								</ul>
							</div>
						</div>
					</h3>
<style>
/*
.structure-accordion {
  position: relative;
}
.structure-accordion::before,
.structure-accordion::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 10px;
  width: 14px;
  height: 4px;
  margin-top: -2px;
  background-color: #000;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
.structure-accordion::after {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  opacity: 0;
}
.structure-accordion.collapsed::before {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  opacity: 1;
}
.structure-accordion.collapsed::after {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
*/
</style>
					{# S T R U C T U R E S #}
					<div class="panel-group" id="structures-accordion" role="tablist" aria-multiselectable="true">
						{% for structure in facility.structures %}
						<div class="panel panel-default panel-transparent structure_type_{{structure.structure_type}}"" id="{{structure.structure_type}}">
							<div class="panel-heading" role="tab" id="headingOne">
								<h2 class="panel-title">
									<a class="structure-accordion" role="button" data-toggle="collapse" data-parent="#accordion" href="#panel-structure-{{structure.id}}">
										<i class="fa fa-{{structure.icon}}"></i> {{structure.identifier}}
									</a>
								</h2>
							</div>
							{# A Structure - MAIN #}
							<div id="panel-structure-{{structure.id}}" class="panel-collapse collapse type_{{structure.structure_type}}" role="tabpanel" aria-labelledby="headingOne">
								<div class="container">
									<div class="row structure-info">
										<div class="col-md-3 col-sm-4 col-xs-6">
											<div class="thumbnail">
												{% if structure.default_pic %}
												<img src="{{ url_for('facility.view_file', facilityID=structure.facilityID, filename=structure.default_pic.file.fileName, file_type='picture') }}" alt="{{structure.id}}-default-image" class="img-rounded img-responsive">
												{% else %}
												<img src="{{ url_for('static', filename='img/noImageSelected.jpg') }}" class="img-rounded img-responsive">
												{% endif %}
												<div class="caption text-center">
													<span class="open-label label {{ 'label-primary' if structure.status else 'label-warning' }}">{{ 'Operational' if structure.status else 'Non-Operational' }}</span>
													<p>
														<div class="btn-group">
															<a href="{{ url_for('structure.update_structure', facilityID=structure.facilityID, structure_type=structure.structure_type, structureID=structure.id) }}" class="btn btn-primary btn-xs"><i class="fa fa-{{structure.icon}}"></i></a>
															{# Assets #}
															<div class="btn-group">
																<button type="button" class="btn btn-primary btn-xs dropdwon-toogle" data-toggle="dropdown"><i class="fa fa-medkit"></i> <span class="caret"></span></button>
																<ul class="dropdown-menu" role="menu">
																	{% if structure.functional_areas %}
																	<li><a href="{{ url_for('asset.add_asset', facilityID=structure.facilityID) }}">Add Asset</a></li>
																	{% endif %}
																	<li><a href="{{ url_for('asset.add_location', facilityID=structure.facilityID, structureID=structure.id) }}">Add Location</a></li>
																</ul>
															</div>
															{# Files #}
															<div class="btn-group">
																<button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown"><i class="fa fa-file-pdf-o"></i> <span class="caret"></span></button>
																<ul class="dropdown-menu" role="menu">
																	<li><a href="{{ url_for('structure.add_structure_file', facilityID=structure.facilityID, structure_type=structure.structure_type, structureID=structure.id, file_type='file') }}"><i class="fa fa-upload"></i> Upload File</a></li>
																	<li><a href="#"><i class="fa fa-download"></i> Download File</a></li>
																</ul>
															</div>
															{# Inspections #}
															<div class="btn-group">
																<button type="button" class="btn btn-primary btn-xs dropdwon-toogle" data-toggle="dropdown"><i class="fa fa-check"></i> <span class="caret"></span></button>
																<ul class="dropdown-menu" role="menu">
																	<li><a href="{{ url_for('structure.add_inspection', facilityID=structure.facilityID, structure_type=structure.structure_type, structureID=structure.id) }}">New Inspection</a></li>
																	{% if structure.inspections %}
																	<li><a href="{{ url_for('structure.add_structure_file', facilityID=structure.facilityID, structure_type=structure.structure_type, structureID=structure.id, file_type='picture') }}"><i class="fa fa-upload"></i> Upload Picture</a></li>
																	<li><a href="#"><i class="fa fa-download"></i> Download Picture</a></li>
																	{% endif %}
																</ul>
															</div>
															<a href="{{ url_for('structure.services', facilityID=structure.facilityID, structureID=structure.id) }}" class="btn btn-primary btn-xs"><i class="fa fa-share-alt"></i></a>
														</div>
													</p>
												</div>
											</div>
										</div>
										<div class="col-md-9 col-sm-8 col-xs-6">
											{% if structure.basic_info %}
											<table class="table table-condensed table-striped">
												{% for item in structure.basic_info %}
												<tr>
													<th>{{ item['name'] }}</th>
													<td>{{ item['value'] }}</td>
												</tr>
												{% endfor %}
											</table>
											{% endif %}
										</div>
									</div>
									{# Structure Sub-Panels #}
									<div class="panel-group" id="structure-{{structure.id}}-accordion" role="tablist" aria-multiselectable="true">
										{# A S S E T S #}
										{% if structure.functional_areas %}
										<div class="panel panel-default panel-transparent">
											<div class="panel-heading" role="tab" id="structure-{{structure.id}}-asset-panel">
												<h4 class="panel-title">
													<a role="button" data-toggle="collapse" data-parent="#accordion" href="#structure-{{structure.id}}-assets" aria-expanded="true" aria-controls="structure-{{structure.id}}-assets">
														<i class="fa fa-medkit"></i> Assets
													</a>
												</h4>
											</div>
											<div id="structure-{{structure.id}}-assets" class="panel-collapse collapse" role="tabpanel" aria-labelledby="structure-{{structure.id}}-asset-panel">
												

												<div class="panel-body">
													{# Location Tabs #}
													<ul class="nav nav-tabs nav-justified">
													{% for location in structure.functional_areas %}
														<li class="{{ 'active' if loop.first else '' }}"><a data-toggle="tab" href="#location-{{location.id}}">{{ location.identifier }}</a></li>
													{% endfor %}
													</ul>
													{# Location Assets #}
													<div class="tab-content">
														{% for location in structure.functional_areas %}
														<div class="tab-pane fade {{ 'in active' if loop.first else '' }}" id="location-{{location.id}}">
															{# Asset Tabs #}
															<ul class="nav nav-tabs">
																<li class="active"><a data-toggle="tab" href="#location-{{location.id}}-assets">Assets</a></li>
																<li><a data-toggle="tab" href="#{{location.id}}-requirements">Requirements</a></li>
															</ul>
															{# ASSETS #}
															<div class="tab-content" style="background-color: white;">
																<div id="location-{{location.id}}-assets" class="tab-pane fade in active">
																	<table class="table table-condensed table-bordered table-striped">
																	  <thead>
																		<tr>
																		  <th class="col-xs-2"># of Assets</th>
																		  <th class="col-xs-2">Required</th>
																		  <th class="col-xs-4">Floor Area Needed</th>
																		  <th class="col-xs-2"></th>
																		</tr>
																	  </thead>
																	  <tbody>
																		<tr>
																		  <td>{{ location.assets|length }}</td>
																		{% if location.functionalAreaID in facility.requiredFunctionalAreas %}
																		  <td>Required</td>
																		  <td class="location-{{location.id}}-floor-meters"></td>
																		  <script>
																			$(function() {
																				$.getJSON("{{ url_for('asset.area') }}", 
																					{"facilityID": "{{ facility.facilityID }}",
																					"functionalAreaID": "{{ location.functionalAreaID }}"},
																					 function(obj) {
																					 	$(".location-{{location.id}}-floor-meters").text(obj.data);
																				});
																			});
																		  </script>
																		{% else %}
																		  <td>Not Required</td>
																		  <td></td>
																		{% endif %}
																		  <td>
																			<div class="btn-group">
																			  <a class="btn btn-default btn-sm" href="{{ url_for('asset.update_location', facilityID=facility.facilityID, locationID=location.id) }}"><i class="fa fa-pencil"></i></a>
																			</div>
																		  </td>
																		</tr>
																	  </tbody>
																	</table>
																	<hr/>
																	<table id="structure-{{structure.id}}-assets-table" class="table datatable-assets" style="width:100%;">
																		<thead>
																			<tr>
																				<th>Category</th>
																				<th>Status</th>
																				<th>Note</th>
																				<th>V#</th>
																				<th>SER#</th>
																				<th>BME</th>
																				<th>Date</th>
																				<th>Cost</th>
																				<th>Mfr.</th>
																				<th>Model</th>
																				<th>Suppl.</th>
																				<th>Dim.</th>
																				<th></th>
																		<tbody>
																			{% for asset in location.assets %}
																			<tr>
																				<th>{{ asset.category.type }}</th>
																				<td>{{ 'Operational' if asset.status else 'Non-Op' }}</td>
																				<td>{{ asset.note|NoneFilter }}</td>
																				<td>{{ asset.vNum|NoneFilter }}</td>
																				<td>{{ asset.serialNum|NoneFilter }}</td>
																				<td>{{ asset.BMENum|NoneFilter }}</td>
																				<td>{{ asset.datePurchased|NoneFilter }}</td>
																				<td>{{ asset.cost|NoneFilter }}</td>
																				<td>{{ asset.manufacturer|NoneFilter }}</td>
																				<td>{{ asset.model|NoneFilter }}</td>
																				<td>{{ asset.supplier|NoneFilter }}</td>
																				<td>{{ asset.dimensions|NoneFilter }}</td>
																				<td>
																					<div class="btn-group">
																						<button class="btn btn-danger btn-xs" data-href="{{ url_for('asset.delete_asset', assetID=asset.id) }}" data-toggle="confirmation"><i class="fa fa-times"></i></button>
																						<a class="btn btn-default btn-xs" href="{{ url_for('asset.update_asset', assetID=asset.id) }}"><i class="fa fa-pencil"></i></a>
																					</div>
																				</td>
																			</tr>
																			{% endfor %}
																		</tbody>
																	</table>
																</div>
																{# REQUIRED ASSETS #}
																<div id="{{location.id}}-requirements" class="tab-pane fade">
																	{% if location %}
																	<div id="{{location.id}}-required" class="row fix">
																		
																	</div>
																	{% endif %}
																</div>
															</div>
														</div>
													   {% endfor %}
													</div>
												</div>


											</div>
										</div>
										{% endif %}
										{# F I L E S #}
										{% if structure.files %}
										<div class="panel panel-default panel-transparent">
											<div class="panel-heading" role="tab" id="{{structure.id}}-file-panel">
												<h4 class="panel-title">
													<a role="button" data-toggle="collapse" data-parent="#accordion" href="#{{structure.id}}-files" aria-expanded="true" aria-controls="{{structure.id}}-files">
														<i class="fa fa-file-pdf-o"></i> Files
													</a>
												</h4>
											</div>
											<div id="{{structure.id}}-files" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{structure.id}}-file-panel">
												<table class="panel-body table table-condensed table-striped">
													<thead>
														<tr>
															<th></th>
															<th>Name</th>
															<th>Description</th>
															<th>Date</th>
															<th></th>
														</tr>
													</thead>
													<tbody>
														{% for file in structure.files %}
														<tr>
															<td class="col-sm-2">
																<div class="btn-group">
																	<a class="btn btn-primary btn-sm" href="{{ url_for('facility.view_file', facilityID=structure.facilityID, filename=file.file.fileName, original_name=file.file.fileOriginalName, file_type='file') }}" target="_blank"><i class="fa fa-eye"></i></a>
																	<a class="btn btn-default btn-sm" href="{{ url_for('facility.download_file', facilityID=structure.facilityID, filename=file.file.fileName, original_name=file.file.fileOriginalName, file_type='file') }}" target="_blank"><i class="fa fa-download"></i></a>
																</div>
															</td>
															<td class="col-sm-3">{{ file.file.fileOriginalName }}</td>
															<td class="col-sm-4">{{ file.file.fileDesc }}</td>
															<td class="col-sm-2">{{ file.file.fileDateCreated }}</td>
															<td class="col-sm-1"><a class="btn btn-danger btn-sm" data-href="{{ url_for('structure.delete_structure_file', facilityID=structure.facilityID, structure_type=structure.structure_type, structureID=structure.id, fileID=file.file.id, file_type='file') }}" data-toggle="confirmation" data-placement="left" data-popout="true"><i class="fa fa-times"></i></a></td>
														</tr>
														{% endfor %}
													</tbody>
												</table>
											</div>
										</div>
										{% endif %}
										{# I N S P E C T I O N S #}
										{% if structure.inspection %}
										<div class="panel panel-default panel-transparent">
											<div class="panel-heading" role="tab" id="{{structure.id}}-inspection-panel">
												<h4 class="panel-title">
													<a role="button" data-toggle="collapse" data-parent="#accordion" href="#{{structure.id}}-inspections" aria-expanded="true" aria-controls="{{structure.id}}-inspections">
														<i class="fa fa-check"></i> Inspections
													</a>
												</h4>
											</div>
											<div id="{{structure.id}}-inspections" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{structure.id}}-inspection-panel">
												<div class="panel-body">
													{# Inspection Tabs #}
													<ul class="nav nav-tabs nav-justified">
													{% for inspection in structure.recent_inspections %}
														<li class="{{ 'active' if loop.first else '' }}"><a data-toggle="tab" href="#inspection-{{inspection.id}}">{{ inspection.inspectionDate }}</a></li>
													{% endfor %}
													</ul>
													{# Inspection Content #}
													<div class="tab-content">
														{% for inspection in structure.recent_inspections %}
														<div class="tab-pane fade {{ 'in active' if loop.first else '' }}" id="inspection-{{inspection.id}}">
															{# Inspection/Picture Tabs #}
															<ul class="nav nav-tabs">
																<li class="active"><a data-toggle="tab" href="#{{inspection.id}}-inspection">Inspection</a></li>
																<li><a data-toggle="tab" href="#{{inspection.id}}-pictures">Pictures</a></li>
															</ul>
															{# INSPECTION #}
															<div class="tab-content" style="background-color: white;">  {#  MAKE STYLE  #}
																<div id="{{inspection.id}}-inspection" class="tab-pane fade in active">
																	<table class="table table-condensed table-bordered table-striped">
																	  <thead>
																		<tr>
																		  <th class="col-xs-2">Inspector</th>
																		  <th class="col-xs-2">Days since</th>
																		  <th class="col-xs-2">Average</th>
																		  <th class="col-xs-4">Note</th>
																		  <th class="col-xs-2"></th>
																		</tr>
																	  </thead>
																	  <tbody>
																		<tr>
																		  <td>{{ inspection.inspectorName }}</td>
																		  <td>{{ inspection.inspectionDate|daysAgo }}</td>
																		  <td>{{ inspection.condition }}</td>
																		  <td>{{ inspection.note }}</td>
																		  <td>
																			<div class="btn-group">
																			  <button class="btn btn-danger btn-sm" data-href="{{ url_for('structure.delete_inspection', facilityID=structure.facilityID, structure_type=structure.structure_type, structureID=structure.id, inspectionID=inspection.id) }}" data-placement="left" data-toggle="confirmation"><i class="fa fa-times"></i></button>
																			  <a class="btn btn-default btn-sm" href="{{ url_for('structure.update_inspection', facilityID=structure.facilityID, structure_type=structure.structure_type, structureID=structure.id, inspectionID=inspection.id) }}"><i class="fa fa-pencil"></i></a>
																			</div>
																		  </td>
																		</tr>
																	  </tbody>
																	</table>
																	<table class="table table-condensed table-striped table-bordered">
																		<tbody>
																			{% for component in inspection.components %}
																			<tr>
																				<th>{{ component['name'] }}</th>
																				<td>{{ component['condition'] }}</td>
																				<td>{{ component['note'] }}</td>
																			</tr>
																			{% endfor %}
																		</tbody>
																	</table>
																</div>
																{# PICTURES #}
																<div id="{{inspection.id}}-pictures" class="tab-pane fade">
																	{% if structure.inspection.pics %}
																	<div id="{{structure.id}}-pics" class="row fix">
																		{% for picture in structure.inspection.pics %}
																		<div class="col-sm-6 col-md-3">
																			<div class="thumbnail" style="{{ 'background-color: #5D9CEC;' if picture.default else '' }}">  {# Blue Jeans color from Bootflat #}
																				<img class="img-rounded" src="{{ url_for('facility.view_file', facilityID=structure.facilityID, filename=picture.file.fileName, file_type='picture') }}" data-href="{{ url_for('facility.download_file', facilityID=structure.facilityID, filename=picture.file.fileName, file_type='picture') }}" data-caption="{{picture.file.fileDesc}}">
																				<div class="caption text-center">
																					<p>{{picture.file.fileDesc}}</p>
																					<p>
																						<button class="btn btn-danger btn-xs" data-toggle="confirmation" data-href="{{ url_for('structure.delete_structure_file', facilityID=structure.facility.facilityID, structure_type=structure.structure_type, structureID=structure.id, inspectionID=inspection.id, fileID=picture.fileID, file_type='picture') }}"><i class="fa fa-times"></i></button>
															                            <a class="btn btn-default btn-xs" href="{{ url_for('structure.update_structure_file', facilityID=structure.facility.facilityID, structure_type=structure.structure_type, structureID=structure.id, inspectionID=inspection.id, fileID=picture.fileID, file_type='picture') }}"><i class="fa fa-pencil"></i></a>
															                            {% if not picture.default %}
															                            <a class="btn btn-default btn-xs" href="{{ url_for('structure.make_default_file', facilityID=structure.facility.facilityID, structure_type=structure.structure_type, structureID=structure.id, inspectionID=inspection.id, fileID=picture.fileID, file_type='picture') }}"><i class="fa fa-camera"></i></a>
															                            {% endif %}
																					</p>
																				</div>
																			</div>
																		</div>
																		{% endfor %}
																	</div>
																	<!-- script for lightbox/gallery -->
																	<script>
																	$('#{{structure.id}}-pics').on("click","img", function(e) {
																		e.preventDefault();
																		event = e || window.event;
																		var target = event.target
																		link = target;
																		options = {index: link, event: event},
																		links = $('#{{structure.id}}-pics img');
																	blueimp.Gallery(links, options);
																	});
																	</script>
																	{% endif %}
																</div>
															</div>
														</div>
													   {% endfor %}
													</div>
												</div>
											</div>
										</div>
										{% endif %}
										{# S E R V I C E S #}
										<div class="panel panel-default panel-transparent">
											<div class="panel-heading" role="tab" id="{{structure.id}}-service-panel">
												<h4 class="panel-title">
													<a role="button" data-toggle="collapse" data-parent="#accordion" href="#{{structure.id}}-services" aria-expanded="true" aria-controls="{{structure.id}}-services">
														<i class="fa fa-share-alt"></i> Services
													</a>
												</h4>
											</div>
											<div id="{{structure.id}}-services" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{structure.id}}-service-panel">
												<div class="panel-body">
													<div class="row">
														<div class="col-md-6">
															<table class="table table-condensed table-striped table-bordered">
												              <tbody>
												                <tr>
												                  <th colspan="5">
												                    <h5>
												                      <span class="fa-stack fa-lg">
												                        <i class="fa fa-circle fa-stack-2x"></i>
												                        <i class="fa fa-arrow-up fa-stack-1x fa-inverse"></i>
												                      </span>
												                      Providing Service to {{ structure.servicing|length }}
												                    </h5>
												                  </th>
												                </tr>
															  {% if structure.servicing %}
												                <tr>
												                  <th>Structure</th>
												                  <th>Description</th>
												                  <th>Condition</th>
												                </tr>
												                {% for srvc in structure.servicing %}
												                <tr>
												                  <td>{{ srvc.identifier }}</td>
												                  <td>{{ srvc.description }}</td>
												                  <td>{{ srvc.inspection.condition }}</td>
												                </tr>
												                {% endfor %}
												              {% endif %}
												              </tbody>
												            </table>
												          </div>
												          <div class="col-md-6">
												            <table class="table table-condensed table-striped table-bordered">
												              <tbody>
												                <tr>
												                  <th colspan="5">
												                    <h5>
												                      <span class="fa-stack fa-lg">
												                        <i class="fa fa-circle fa-stack-2x"></i>
												                        <i class="fa fa-arrow-down fa-stack-1x fa-inverse"></i>
												                      </span>
												                      {{ structure.services|length }} Services used
												                    </h5>
												                  </th>
												                </tr>
												              {% if structure.services %}
												                <tr>
												                  <th>Structure</th>
												                  <th>Description</th>
												                  <th>Condition</th>
												                </tr>
												                {% for srvc in structure.services %}
												                <tr>
												                  <td>{{ srvc.identifier }}</td>
												                  <td>{{ srvc.description }}</td>
												                  <td>{{ srvc.inspection.condition }}</td>
												                </tr>
												                {% endfor %}
												              {% endif %}
												              </tbody>
												            </table>
												        </div>
												    </div>
											    </div>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
				<div class="row" id="personnel">
					<h3>Personnel
						<div class='btn-toolbar pull-right'>
							<div class='btn-group'>
								<button class="btn btn-default dropdown-toggle btn-large" data-toggle="dropdown">Options <i class="fa fa-caret-down"></i></button>
								<ul class="dropdown-menu pull-right">
									<li><a href="{{ url_for('personnel.add_position', facilityID=facility.facilityID) }}">Add New Position</a></li>
								</ul>
							</div>
						</div>
				  	</h3>
					<table class="table table-hover sortable">
						<thead style="background-color: darkgrey;color:white;">
							<tr>
								<th class="col-xs-2"></th>
								<th class="col-xs-2">PN</th>
								<th class="col-xs-3">Name</th>
								<th class="col-xs-3">Position</th>
								<th class="col-xs-2"></th>
							</tr>
						</thead>
						<tbody>
						{% for position in facility.positions %}
						<tr>
							<td>
								{% if not position.vacant %}
								<a class="btn btn-danger btn-sm" type="button" data-href="{{ url_for('personnel.delete_placement', facilityID=facility.facilityID, positionID=position.id) }}" data-toggle="confirmation" ><i class="fa fa-{{ 'user-md' if position.clinical else 'user-o' }}"></i> <i class="fa fa-minus"></i></a>
								{% else %}
								<a class="btn btn-danger btn-sm disabled" type="button"><i class="fa fa-{{ 'user-md' if position.clinical else 'user-o' }}"></i> <i class="fa fa-minus"></i></a>
								{% endif %}
								<a class="btn btn-default btn-sm" type="button" href="{{ url_for('personnel.add_placement', facilityID=facility.facilityID, positionID=position.id) }}"><i class="fa fa-{{ 'user-md' if position.clinical else 'user-o' }}"></i> <i class="fa fa-plus"></i></a>
							</td>
							<td>{{ position.pn }}</td>
							{% if not position.vacant %}
							<td><a href="{{ url_for('personnel.view_personnel', personnelID=position.personnel.id) }}">{{ position.personnel.identifier }}</a></td>
							{% else %}
							<td>Vacant</td>
							{% endif %}
							<td>{{ position.title.type }}</td>
							<td>
								<div class="btn-group">
									<a class="btn btn-default btn-sm" href="{{ url_for('personnel.edit_position', positionID=position.id) }}"><i class="fa fa-pencil"></i></a>
								</div>
							</td>
						</tr>
						{% else %}
						<tr>
							<td colspan="2">No standard positions defined for this facility.</td>
						</tr>
						{% endfor %}
					</tbody>
				  </table>
			  </div>

			</div>

		</div>
	</div>
</div>
<!--/row-->
{% endblock %}

{% block js %}

<script>
$(document).ready(function() {
    $('table.datatable-assets').DataTable({
    	"responsive": true,
    	"lengthMenu": [[5,10,25,-1], [5,10,25,"All"]],
		"columnDefs": [
			{
				"targets": [4,5,7,8,9],
				"visible": false,
				"searchable": false,
			},
		]
    });
} );
</script>

<script>
// Return to last tab
$(function() { 
	// for bootstrap 3 use 'shown.bs.tab', for bootstrap 2 use 'shown' in the next line
	$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
		// save the latest tab; use cookies if you like 'em better
		localStorage.setItem('lastTab_' + "{{facility.facilityID}}", $(this).attr('href'));
		// Redraw the sigma graph whenever we return to the #facility tab
		//if ($(this).attr('href') == '#facility') {
		//	drawNetwork();
		//}
	});

	// go to the latest tab, if it exists:
	var lastTab = localStorage.getItem('lastTab_' + "{{facility.facilityID}}");
	if (lastTab) {
		$('[href="' + lastTab + '"]').tab('show');
	}
});
</script>

{% assets "js_leaflet" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

{% assets "js_sigma" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}



<script>
	BASECOORDS = [{{ facility.latitude }},{{ facility.longitude }}]
	var healthzones = L.geoJSON(null, null);

	function makeMap() {
		var ACCESS_TOKEN = 'pk.eyJ1IjoiYXNzZXRzdW5pdG1vaCIsImEiOiJjajc1a2U2eW0xYmJhMnFvY3NvN3hld2RwIn0.6uZBPF2jwNIesPvWtIYZrA';
		var MB_ATTR = 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
				'<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
				'Imagery © <a href="http://mapbox.com">Mapbox</a>';
		var MB_URL = 'https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=' + ACCESS_TOKEN;

		mymap = L.map('{{ facility.facilityID }}-map', {
			fullscreenControl: {
				pseudoFullscreen: false
			}
		}).setView(BASECOORDS, 13);

		L.tileLayer(MB_URL, {attribution: MB_ATTR, id: 'mapbox.streets'}).addTo(mymap);

		//Addem lat/long lo map
		var mousePosition = L.control.mousePosition({
		  emptyString: '0º N<br>0º E',
		  separator: '<br>',
		  lngFormatter: function(num) {
			var direction = (num < 0) ? 'W' : 'E';
			deg = Math.floor(Math.abs(num));
			min = Math.floor((num - deg) * 60);
			sec = Math.round((num - deg - min / 60) * 3600 * 1000) / 1000;
			var formatted = deg + '&deg; ' + direction + ' '+min+'\''+sec+'"';
			return formatted; 
		  },
		  latFormatter: function(num) {
		   var direction = (num < 0) ? 'S' : 'N';
			deg = Math.floor(Math.abs(num));
			min = Math.floor((Math.abs(num) - deg) * 60);
			sec = Math.round((Math.abs(num) - deg - min / 60) * 3600 * 1000) / 1000;
			var formatted = '&nbsp;&nbsp;' + deg + '&deg; ' + direction + ' '+min+'\''+sec+'"';
			return formatted;
		  }
		}).addTo(mymap);

		//Addem measurement lo map
		var measureControl = L.control.measure({
			position: 'topright',
			primaryLengthUnit: 'meters',
			secondaryLengthUnit: 'kilometers',
			primaryAreaUnit: 'sqmeters',
		}).addTo(mymap);

	}

	var layer = L.layerGroup();

	var layer = L.layerGroup();

	function triggerAreaCouncilFilter() {
	var data = $.getJSON("{{ url_for('static', filename='data/areacouncils.geojson') }}");
	data.then(function(data) {
	  areacouncils = L.geoJson(data, {
	    style: function(feature) {
	      province=feature.properties.Province;
	      province=$.trim(province);
	        switch (true) {
	            case province == "TORBA": return {color: "#008000",weight: 1 };
	            case province == "SANMA": return {color: "#47B100",weight: 1 };
	            case province == "PENAMA": return {color: "#0000CC",weight: 1 };
	            case province == "MALAMPA": return {color: "#A3A300",weight: 1 };
	            case province == "SHEFA": return {color: "#C79500",weight: 1 };
	            case province == "TAFEA": return {color: "#FF3F00",weight: 1 };
	            default: return {color: "#CCCCCC",weight: 1 };
	        }
	    },
	    onEachFeature: function(feature, layer) {
	      layer.bindTooltip(feature.properties.Area_Council_Name, {noHide:true,direction:'auto'});
	      var content = "<table class='table table-striped table-bordered table-condensed'>";
	      content += "<tr><th>Health Zone</th><td colspan='2'>" + feature.properties.Area_Council_Name + "</td></tr>" +
	      "<tr><th>Area Name</th><td>" + feature.properties.Island_Name + "</td></tr>" +
	      "<tr><th>Province</th><td>" + feature.properties.Province + "</td></tr>" +
	      "</table>";
	      layer.bindPopup(content);

	      layer.on({
	        mouseover: function(e) {
	          var layer = e.target;
	          layer.setStyle({
	            weight: 6,
	          });
	          if (!L.Browser.ie && !L.Browser.opera) {
	            layer.bringToFront();
	          }
	        },
	        mouseout: function(e) {
	          layer.setStyle({
	            weight: 1,
	          });
	        },
	      });
	    }
	  });
	  mymap.addLayer(areacouncils);
	})
	};

	function renderData() {
		$.getJSON("{{ url_for('map.facilities') }}", function(obj) {

			function iconChoice(arr) {
	          if (arr == 'Aid Post') {
	            return 'heart'
	          } else if (arr == 'Dispensary') {
	            return 'plus-square'
	          } else if (arr == 'Health Centre') {
	            return 'h-square'
	          } else if (arr == 'National Administration') {
	            return 'chevron-circle-up'
	          } else if (arr == 'Provincial Administration') {
	            return 'chevron-up'
	          } else if (arr == 'Referral Hospital') {
	            return 'hospital-o'
	          } else if (arr == 'Provincial Hospital') {
	            return 'hospital-o'
	          } else if (arr == 'Residential') {
	            return 'home'
	          } else if (arr == 'Storage') {
	            return 'cubes'
	          } else {
	            return 'plus'
	          }
	        };

			function iconColor(status, damaged) {
				if (status && damaged) {
					return 'orange'
				} else if (status && !damaged) {
					return 'green'
				} else if (!status && damaged) {
					return 'red'
				} else if (!status && !damaged) {
					return 'black'
				} else {
					return 'white'
				}
			};

			var markers = obj.data.map(function(arr) {
				var popup_html = '<div style="min-width: 200px;max-height:100px;" id="popup-id-' + arr['facilityID'] + '">';
	              popup_html +=  '<h5><a href="' + arr['facilityLink'] + '">' + arr['identifier'] + '</a></h5>';
	              popup_html +=  '<div class="thumbnail">';
	              popup_html +=  '<img src="' + "{{ url_for('static', filename='img/loading.gif') }}" + '" class="img-rounded img-responsive">';
	              popup_html +=  '</div>';
	              popup_html +=  '</div>';
				var facilityMarker = L.marker([arr['latitude'], arr['longitude']],
					{icon: L.AwesomeMarkers.icon({
						prefix: 'fa',
						icon: iconChoice(arr['designation']),
						markerColor: iconColor(arr['status'], arr['damaged']),
						spin: arr['damaged'],
					})
				}).bindPopup(arr['empty_popup']);
				facilityMarker.facilityID = arr['facilityID'];
				facilityMarker.on('click', loadFacility);
				return facilityMarker
			});

			marker_layer = L.layerGroup(markers);
			mymap.addLayer(marker_layer);
		});
	}

	function loadFacility(e) {
	    $.getJSON("{{ url_for('map.load_facility') }}", {'facilityID': e.target.facilityID, 'small': true}, function(obj) {
	      $('#popup-id-' + e.target.facilityID).html(obj.data);
	    });
	  }


	$(function() {
		makeMap();
		renderData();
		triggerAreaCouncilFilter();
	})

</script>











































<script>
sigma.utils.pkg('sigma.canvas.nodes');
sigma.canvas.nodes.image = (function() {
  var _cache = {},
	  _loading = {},
	  _callbacks = {};

  // Return the renderer itself:
  var renderer = function(node, context, settings) {
	var args = arguments,
		prefix = settings('prefix') || '',
		size = node[prefix + 'size'],
		color = node.color || settings('defaultNodeColor'),
		url = node.url;

	if (_cache[url]) {
	  context.save();

	  // Draw the clipping disc:
	  context.beginPath();
	  context.arc(
		node[prefix + 'x'],
		node[prefix + 'y'],
		node[prefix + 'size'],
		0,
		Math.PI * 2,
		true
	  );
	  context.closePath();
	  context.clip();

	  // Draw the image
	  context.drawImage(
		_cache[url],
		node[prefix + 'x'] - size,
		node[prefix + 'y'] - size,
		2 * size,
		2 * size
	  );

	  // Quit the "clipping mode":
	  context.restore();

	  // Draw the border:
	  context.beginPath();
	  context.arc(
		node[prefix + 'x'],
		node[prefix + 'y'],
		node[prefix + 'size'],
		0,
		Math.PI * 2,
		true
	  );
	  context.lineWidth = size / 10;
	  context.strokeStyle = node.color || settings('defaultNodeColor');
	  context.stroke();
	} else {
	  sigma.canvas.nodes.image.cache(url);
	  sigma.canvas.nodes.def.apply(
		sigma.canvas.nodes,
		args
	  );
	}
  };

  // Let's add a public method to cache images, to make it possible to
  // preload images before the initial rendering:
  renderer.cache = function(url, callback) {
	if (callback)
	  _callbacks[url] = callback;

	if (_loading[url])
	  return;

	var img = new Image();

	img.onload = function() {
	  _loading[url] = false;
	  _cache[url] = img;

	  if (_callbacks[url]) {
		_callbacks[url].call(this, img);
		delete _callbacks[url];
	  }
	};

	_loading[url] = true;
	img.src = url;
  };

  return renderer;
})();


function drawNetwork() {
	var i,
		s,
		loaded = 0,
		gg = {
			nodes: [],
			edges: []
		},
		urls = [];

	$.getJSON("{{ url_for('facility.structure_network', facilityID=facility.facilityID) }}", function(data) {
		$.each(data, function(i, data) {
			$.each(data.nodes, function(n, node) {
				var node = {
					id: node.id,
					x: Math.random(),
					y: Math.random(),
					size: node.size,
					label: node.identifier,
					color: node.color,
					borderColor: node.color,
					type: node.type, //ShapeLibrary.enumerate().map(function(s){return s.name;})[Math.round(Math.random()*5)],
					url: node.image ? node.url : '',
				};
				node.image = {
					url: node.image,
					scale: 1.3,
					clip: 0.85,
				};
				gg.nodes.push(node);
			});
			$.each(data.edges, function(e, edge) {
				var edge = {
					id: edge.id,
					source: edge.source,
					target: edge.target,
					type: 'curvedArrow', //edge.type,
					size: edge.size,
					color: edge.color,
				};
				gg.edges.push(edge);
			});

			if (data.urls.length > 0) {
		    	data.urls.forEach(function(url) {
		    		sigma.canvas.nodes.image.cache(
		    			url,
		    			function loadURLS() {
		    				if (++loaded === data.urls.length) {
							    s = new sigma({
										graph: gg,
										renderer: {
											container: document.getElementById('facility-services-graph'),
											type: 'canvas',
										},
										settings: {
											minNodeSize: 8,
											edgeHoverSizeRatio: 2,
											enableEdgeHovering: true,
											minEdgeSize: .5,
											maxEdgeSize: 3,
											maxNodeSize: 45,
										},
									});
					        	s.graph.nodes().forEach(function(node, i, a) {
						          node.x = Math.cos(Math.PI * 2 * i / a.length);
						          node.y = Math.sin(Math.PI * 2 * i / a.length);
						        });
					        	s.refresh();
				        	}
		    		});
		    	});
	    	} else {  // If there are no images then load the graph this way
	    		s = new sigma({
	    			graph: gg,
	    			renderer: {
	    				container: document.getElementById('facility-services-graph'),
	    				type: 'canvas',
	    			},
	    			settings: {
						minNodeSize: 8,
						edgeHoverSizeRatio: 2,
						enableEdgeHovering: true,
						minEdgeSize: .5,
						maxEdgeSize: 3,
						maxNodeSize: 45,
					},
	    		});
				s.graph.nodes().forEach(function(node, i, a) {
				  node.x = Math.cos(Math.PI * 2 * i / a.length);
				  node.y = Math.sin(Math.PI * 2 * i / a.length);
				});
				s.refresh();
	    	}

		});
	});
};
// Draw the network
drawNetwork();

</script>

{% endblock %}