{% extends "layout.html" %}

{% block content %}
<div class="container-narrow">
        
    <div class="well">
        <h2>{{ facility.identifier }}</h2>
        <p>Edit Available Files</p>
        <hr/>
        <p class="bg-info">Edit the description and date of photos. However, to change a photo for another one or edit the name you will need to delete the photo and re-upload it with the correct information.</p>
           
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th class="col-sm-2">Picture</th>
                    <th class="col-sm-2">File Name</th>
                    <th class="col-sm-4">File Description</th>
                    <th class="col-sm-2">Date</th>
                    <th class="col-sm-2"></th>
                </tr>
            </thead>
            <tbody>
                {% for pic in pics %} 
                {% if pic.default %}
                <tr class="bg-primary">
                {% else %}
                <tr>
                {% endif %}
                    <td>
                        <img src="{{ url_for('facility.download_file', facilityID=facility.facilityID, filename=pic.file.fileName, file_type='picture') }}" style="height: 100px; width: 100px;"/>
                    </td>
                    <td style="word-break: break-all;">{{ pic.file.fileOriginalName }}</td>
                    <td>{{ pic.file.fileDesc }}</td>
                    <td>{{ pic.file.fileDateCreated }}</td>
                    <td>
                        <div class="btn-group">
                            <button class="btn btn-danger btn-sm" data-toggle="confirmation" data-href="{{ url_for('facility.delete_facility_file', facilityID=facility.facilityID, fileID=pic.fileID, file_type='picture') }}"><i class="fa fa-times"></i></button>
                            <a class="btn btn-default btn-sm" href="{{ url_for('facility.update_facility_file', facilityID=facility.facilityID, fileID=pic.fileID) }}">Edit</a>
                            {% if not pic.default %}
                            <a class="btn btn-default btn-sm" href="{{ url_for('facility.make_default_file', facilityID=facility.facilityID, fileID=pic.fileID, file_type='picture') }}">Make Default</a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="{{ url_for('facility.facility', facilityID=facility.facilityID) }}" class="btn btn-primary btn-block">Return to facility</a>
    </div>

</div>
{% endblock %}