{% extends "layout.html" %}
{% block content %}
<div class="container-narrow">
{% if form_title %}
  <h1>{{form_title}}</h1>
{% else %}
  <h1>Facility</h1>
{% endif %}
    <br/>
    {% from "_formhelpers.html" import render_field %}
    <form id="registerForm" class="form form-register" method="POST" action="" role="form" enctype="multipart/form-data">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>        

            {{ render_field(form.facilityID) }}

            <div class="row">
                <div class="col-md-6">
                    {{ render_field(form.facilityName) }}
                </div>
                <div class="col-md-6">
                    {{ render_field(form.altFacilityName) }}
                </div>
            </div>

            <div class="form-group">
                <div class="form-group">
                    {{ form.status.label }}
                    <br/>
                    <input {{ 'checked' if form.status.data == True else '' }} id="status" type="checkbox" data-toggle="toggle" data-on="Open" data-off="Closed" data-offStyle="danger" data-width="180" name="status" value="y"/>
                    <p class="help-block">{{ form.status.description }}</p>
                </div>
            </div>

            {{ render_field(form.designationID) }}

            {{ render_field(form.ownershipID) }}

            <hr/>

            <div class="row">
                <div class="col-sm-12">
                    {{ render_field(form.provinceID) }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">                    
                    <label for="healthZoneID">Health Zone</label>  
                    <select class="form-control" id="healthZoneID" name="healthZoneID" placeholder="Health Zone">
                    {% for province, healthZones in dropdowns.healthZones.iteritems() %}
                        <optgroup id="{{province.id}}" label="{{province.name}}">
                        {% for data in healthZones %}
                            <option value="{{ data[0] }}">{{ data[1] }}</option>
                        {% endfor %}
                        </optgroup>
                    {% endfor %}
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="islandID">Island</label>
                    <select class="form-control" id="islandID" name="islandID" placeholder="Island">
                    {% for province, islands in dropdowns.islands.iteritems() %}
                        <optgroup id="{{province.id}}" label="{{province.name}}">
                        {% for data in islands %}
                            <option value="{{ data[0] }}">{{ data[1] }}</option>
                        {% endfor %}
                        </optgroup>
                    {% endfor %}
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="areaCouncilID">Area Council</label>
                    <select class="form-control" id="areaCouncilID" name="areaCouncilID" placeholder="Area Council">
                    {% for province, areaCouncils in dropdowns.areaCouncils.iteritems() %}
                        <optgroup id="{{province.id}}" label="{{province.name}}">
                        {% for data in areaCouncils %}
                            <option value="{{ data[0] }}">{{ data[1] }}</option>
                        {% endfor %}
                        </optgroup>
                    {% endfor %}
                    </select>
                </div>
            </div>
            <script>
            // https://stackoverflow.com/questions/26159665/dynamic-2nd-dropdown-list-based-on-the-1st-dropdown
            // Dynamically change the available options of the dropdown
            $(document).ready(function(){
                $("#provinceID").on("change",function(){
                    var selectedVal=$( "#provinceID option:selected" ).val();
                    $("#healthZoneID > optgroup").hide();
                    $('#healthZoneID > optgroup[id="'+selectedVal+'"]').show()
                    $("#islandID > optgroup").hide();
                    $('#islandID > optgroup[id="'+selectedVal+'"]').show()
                    $("#areaCouncilID > optgroup").hide();
                    $('#areaCouncilID > optgroup[id="'+selectedVal+'"]').show() 
                   console.log(selectedVal)
                });  
            });
            </script>

            <div class="row">
                <div class="col-md-6">
                    <label>Latitude (South)</label>
                    <div class="row">  
                        <div class="col-xs-4">
                            {{ render_field(form.latD) }}
                        </div>
                        <div class="col-xs-4">
                            {{ render_field(form.latM) }}
                        </div>
                        <div class="col-xs-4">
                            {{ render_field(form.latS) }}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <label>Longitude (East)</label>
                    <div class="row">
                        <div class="col-xs-4">
                            {{ render_field(form.longD) }}
                        </div>
                        <div class="col-xs-4">
                            {{ render_field(form.longM) }}
                        </div>
                        <div class="col-xs-4">
                            {{ render_field(form.longS) }}
                        </div>
                    </div>
                </div>
            </div>

            {{ render_field(form.settingID) }}

            <hr/>

            <div class="row">
                <div class="col-md-6">
                    {{ render_field(form.landOwner) }}
                </div>
                <div class="col-md-6">
                    {{ render_field(form.landOwnerContact) }}
                </div>
            </div>

            {{ render_field(form.landTitle) }}

            <div class="row">
                <div class="col-md-6">
                    {{ render_field(form.manager) }}
                </div>
                <div class="col-md-6">
                    {{ render_field(form.managerContact) }}
                </div>
            </div>

            <p><input class="btn btn-primary btn-lg btn-submit btn-block" id="upload-button" type="submit" value="Submit"></p>
    </form>
</div>
{% endblock %}