
{% extends "layout.html" %}

{% block css %}
<style>
a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}

.controls {
  margin-bottom: 10px;
}

.collapse-group {
  padding: 10px;
  margin-bottom: 10px;
}

.panel-title .trigger:before {
  content: '\e082';
  font-family: 'Glyphicons Halflings';
  vertical-align: text-bottom;
}

.panel-title .trigger.collapsed:before {
  content: '\e081';
}
</style>

<style>
#graphTabs .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}

#graphTabs .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}
</style>
{% endblock %}

{% block content %}
<div class="row">
	<h1 class="section-header">
		<div class='btn-toolbar pull-right'>
		    <div class='btn-group'>
		    	<button class="btn btn-default {{ 'disabled' if not charts }}" data-toggle="collapse" href="#graphs"><i class="fa fa-bar-chart"></i> Graphs</button>
		    	<button class="btn btn-default dropdown-toggle btn-large" data-toggle="dropdown"><i class="fa fa-cogs"></i> Options <i class="fa fa-caret-down"></i></button>
	    		<ul class="dropdown-menu pull-right">
	    			<li><a href="{{ url_for('facility.add_facility') }}">Add Facility</a></li>
				</ul>
		    </div>
		</div>
		Facilities by Province
	</h1>
</div>


  <div class="row collapse graphTabs" id="graphs">
  	<ul class="nav nav-pills">
  	{% for chart in charts %}
  	  <li class="{{'active' if loop.first}}"><a href="#chart-{{loop.index}}" data-toggle="tab">Chart {{loop.index}}</a></li>
  	{% endfor %}
  	</ul>

	<div class="tab-content clearfix">
	{% for chart in charts %}
	  <div class="tab-pane {{'active' if loop.first }}" id="chart-{{loop.index}}">
	    <embed style="width:100%;height:75vh;" type="image/svg+xml" src="{{ chart|safe }}"/>
	  </div>
	{% endfor %}
	</div>
  </div>

  <div class="row">
	<div class="collapse-group">
	  <div class="controls">
	    <button class="btn btn-primary open-button" type="button">
	      Open all
	    </button>
	    <button class="btn btn-primary close-button" type="button">
	      Close all
	    </button>
	  </div>

	  {% for province in provinces %}
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="province-{{ province.id }}">
	      <div class="row">
	      <div class="col-sm-3">
		      <h4 class="panel-title">
		        <a role="button" data-toggle="collapse" href="#province-{{ province.id }}-collapse" aria-expanded="true" aria-controls="province-{{ province.id }}-collapse" class="trigger collapsed">
		          {{ province.name }}
		        </a>
		      </h4>
		  </div>
		  <div class="col-sm-3">
		  	Total: {{ province.facilities|length }}
		  </div>
		  <div class="col-sm-3">

		  </div>
		  </div>
	    </div>
	    <div id="province-{{ province.id }}-collapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="province-{{ province.id }}">
	      <table class="panel-body table table-striped table-hover table-condensed">
	        <thead>
	          <tr>
	          	<th>Facility</th>
	          	<th>Designation</th>
	          	<th>???</th>
	          	<th></th>
	          </tr>
	        </thead>
	        <tbody class="rowlink" data-link="row">
	        {% for f in province.facilities %}
	          <tr>
	          	<td><a href="{{ url_for('facility.facility', facilityID=f.facilityID) }}"><h5>{{ f.identifier }}</h5></a></td>
	          	<td style="vertical-align: middle;">{{ f.designation.name }}</td>
	          	<td style="vertical-align: middle;"></td>
	          	<td style="vertical-align: middle;"></td>
	          </tr>
	        {% endfor %}
	        </tbody>
	      </table>
	    </div>
	  </div>
	  {% endfor %}
	</div>
  </div>
{% endblock %}

{% block js %}
<script>
$(".open-button").on("click", function() {
  $(this).closest('.collapse-group').find('.collapse').collapse('show');
});

$(".close-button").on("click", function() {
  $(this).closest('.collapse-group').find('.collapse').collapse('hide');
});
</script>
{% endblock %}