{% extends "layout.html" %}
{% block content %}

  <div class="container-fluid">

    <a href="{{ url_for('facility.facility', facilityID=facilityID) }}" class="btn btn-block btn-lg btn-default">Return to Facility</a>

    <h2 class="section-header">Starfish Pictures
      <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
          <button class="btn btn-default dropdown-toggle btn-large" data-toggle="dropdown">Download <i class="fa fa-caret-down"></i></button>
          <ul class="dropdown-menu pull-right">
            {% if fileDesc %}
            <li><a href="{{ url_for('facility.starfish_download', facilityID=facilityID, fileDesc=fileDesc) }}"><i class="fa fa-download"></i> Download Selected Photos</a></li>
            <li class="divider"></li>
            {% endif %}
            <li><a href="{{ url_for('facility.starfish_download', facilityID=facilityID) }}"><i class="fa fa-download"></i> Download All</a></li>
          </ul>
        </div>
      </div>
    </h2>

    <div class="row" style="margin-top:1em;">
      <form id="registerForm" class="form form-register" method="POST" action="{{ url_for('facility.starfish', facilityID=facilityID) }}" role="form" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            {{ form.directory(class_="form-control") }}
            <input class="btn btn-primary btn-block btn-submit btn-lg" type="submit" value="Select">
      </form>
    </div>

{% if pictures %}
    <div class="row" style="margin-top:1em;">
      <div class="auto-clear row"> 
      {% for pic in pictures %}
        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter {{ pic.fileDesc }}">
          <a href="{{ url_for('facility.external_media', facilityID=facilityID, filename=pic.filePath) }}" target="_blank" class="thumbnail"><img src="/static/files/pictures/{{ facilityID }}/thumbs/{{ pic.thumbID }}" alt="Image"></a>
        </div>
      {% endfor %}
      </div>
    </div>
{% endif %}
  </div>
{% endblock %}