<!-- B U I L D I N G S -->
<div id="B" class="tab-pane fade">
  
  <div id="B-ConditionModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Building Conditions</h4>
        </div>
        <div class="modal-body">
          <table class="table">
            <thead>
              <tr>
                <th class="narrow">#</th>
                <th class="narrow"><span style="padding:5px;" data-toggle="tooltip" data-placement="top" data-container="body" title="Sub-Structure Visible">VS</span></th>
                <th class="narrow"><span style="padding:5px;" data-toggle="tooltip" data-placement="top" data-container="body" title="Sub-Structure">SU</span></th>
                <th class="narrow"><span style="padding:5px;" data-toggle="tooltip" data-placement="top" data-container="body" title="Interior Walls">IW</span></th>
                <th class="narrow"><span style="padding:5px;" data-toggle="tooltip" data-placement="top" data-container="body" title="Exterior Walls">XW</span></th>
                <th class="narrow"><span style="padding:5px;" data-toggle="tooltip" data-placement="top" data-container="body" title="Windows">WI</span></th>
                <th class="narrow"><span style="padding:5px;" data-toggle="tooltip" data-placement="top" data-container="body" title="Shutters">SH</span></th>
                <th class="narrow"><span style="padding:5px;" data-toggle="tooltip" data-placement="top" data-container="body" title="Interior Doors">ID</span></th>
                <th class="narrow"><span style="padding:5px;" data-toggle="tooltip" data-placement="top" data-container="body" title="Exterior Doors">XD</span></th>
                <th class="narrow"><span style="padding:5px;" data-toggle="tooltip" data-placement="top" data-container="body" title="Floor">FL</span></th>
                <th class="narrow"><span style="padding:5px;" data-toggle="tooltip" data-placement="top" data-container="body" title="Verandah">VR</span></th>
                <th class="narrow"><span style="padding:5px;" data-toggle="tooltip" data-placement="top" data-container="body" title="Cyclone Ties">CT</span></th>
                <th class="narrow"><span style="padding:5px;" data-toggle="tooltip" data-placement="top" data-container="body" title="Cyclone Screws">CS</span></th>
                <th class="narrow"><span style="padding:5px;" data-toggle="tooltip" data-placement="top" data-container="body" title="Roof">RO</span></th>
                <th class="narrow"><span style="padding:5px;" data-toggle="tooltip" data-placement="top" data-container="body" title="Roofing Framework">RF</span></th>
                <th class="narrow"><span style="padding:5px;" data-toggle="tooltip" data-placement="top" data-container="body" title="Ceiling">CE</span></th>
                <th class="narrow"><span style="padding:5px;" data-toggle="tooltip" data-placement="top" data-container="body" title="Fascia">FA</span></th>
                <th class="narrow"><span style="padding:5px;" data-toggle="tooltip" data-placement="top" data-container="body" title="Gutter and Pipes">GU</span></th>
                <th class="narrow"><span style="padding:5px;" data-toggle="tooltip" data-placement="top" data-container="body" title="Columns">CO</span></th>
                <th class="narrow"><span style="padding:5px;" data-toggle="tooltip" data-placement="top" data-container="body" title="Beams">BE</span></th>
                <th class="narrow"><span style="padding:5px;" data-toggle="tooltip" data-placement="top" data-container="body" title="Electical">EL</span></th>
                <th class="narrow"><span style="padding:5px;" data-toggle="tooltip" data-placement="top" data-container="body" title="Plumbing">PL</span></th>
              </tr>
            </thead>
            <tbody>
              {% for building in facility.buildings %}

              {% from '_formhelpers.html' import component_td, bool_td %}
              <tr>
                <td class="narrow"><span style="padding:5px;" data-toggle="tooltip" data-placement="left" data-container="body" title="{{ building.identifier }}">{{ building.number }}</span></td>
                {% if building.inspection %}
                {{ bool_td('Sub-Structure Visible', building.inspection.visibleSub) }}
                {{ component_td('Sub-Structure', building.inspection.subCond if building.inspection.subCond else none) }}
                {{ component_td('Interior Walls', building.inspection.inWallCond if building.inspection.inWallCond else none ) }}
                {{ component_td('Exterior Walls', building.inspection.exWallCond if building.inspection.exWallCond else none ) }}
                {{ component_td('Windows', building.inspection.windowCond if building.inspection.windowCond else none ) }}
                {{ component_td('Shutters', building.inspection.shutterCond if building.inspection.shutterCond else none ) }}
                {{ component_td('Interior Doors', building.inspection.inDoorCond if building.inspection.inDoorCond else none ) }}
                {{ component_td('Exterior Doors', building.inspection.exDoorCond if building.inspection.exDoorCond else none ) }}
                {{ component_td('Floor', building.inspection.floorCond if building.inspection.floorCond else none ) }}
                {{ component_td('Verandah', building.inspection.verandahCond if building.inspection.verandahCond else none ) }}
                {{ bool_td('Cyclone Ties', building.inspection.cycloneTies) }}
                {{ bool_td('Cyclone Screws', building.inspection.cycloneScrews) }}
                {{ component_td('Roof', building.inspection.roofCond if building.inspection.roofCond else none ) }}
                {{ component_td('Roofing Framework', building.inspection.roofFrameCond if building.inspection.roofFrameCond else none ) }}
                {{ component_td('Ceiling', building.inspection.ceilingCond if building.inspection.ceilingCond else none ) }}
                {{ component_td('Fascia', building.inspection.fasciaCond if building.inspection.fasciaCond else none ) }}
                {{ component_td('Gutter and Pipes', building.inspection.gutterCond if building.inspection.gutterCond else none ) }}
                {{ component_td('Columns', building.inspection.columnCond if building.inspection.columnCond else none ) }}
                {{ component_td('Beams', building.inspection.beamCond if building.inspection.beamCond else none ) }}
                {{ component_td('Electrial', building.inspection.electricalCond if building.inspection.electricalCond else none) }}
                {{ component_td('Plumbing', building.inspection.plumbingCond if building.inspection.plumbingCond else none) }}
                {% else %}
                <td colspan="21">No inspection</td>
                {% endif %}
              </tr>

              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">

    <h2 class="section-header">Buildings
      <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
          {% if facility.buildings %}
          <button class="btn btn-default" type="button" data-toggle="modal" data-target="#B-ConditionModal"><i class="fa fa-list-alt"></i> Condition Matrix</button>
          {% endif %}
          <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">Options <i class="fa fa-caret-down"></i></button>
          <ul class="dropdown-menu pull-right">
            <li><a href="{{ url_for('structure.add_structure', facilityID=facility.facilityID, structure_type='B') }}">Add New Building</a></li>
          </ul>
        </div>
      </div>
    </h2>

    {% if not facility.buildings %}
      <p>Select 'Options' above to add the first building to this facility.</p>
    {% else %}
    <div class="row">

      <div class="col-sm-4">
      {% if facility.buildings %}
        <div class="panel panel-green">
      {% else %}
        <div class="panel panel-red">
      {% endif %}
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-home fa-5x"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge">{{ facility.buildings|length }}</div>
                <div>Buildings</div>
              </div> 
            </div>
          </div>   
        </div>
      </div>

      <div class="col-sm-4">
      {% if facility.condition('B') > 3 or facility.condition('B') == 0 %}
        <div class="panel panel-red">
      {% elif facility.condition('B') == 3 %}
        <div class="panel panel-yellow">
      {% elif facility.condition('B') < 3 %}
        <div class="panel panel-green">
      {% else %}
        <div class="panel panel-red">
      {% endif %}
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-check fa-5x"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge">{{ facility.condition('B') if facility.condition('B') else '0' }}</div>
                <div>Average Condition</div>
              </div> 
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
      {% if facility.overdue('B') %}
        <div class="panel panel-red">
      {% else %}
        <div class="panel panel-green">
      {% endif %}
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-bell fa-5x"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge">{{ facility.overdue('B') }}</div>
                <div>Overdue Inspections</div>
              </div> 
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="panel-group" id="B-{{x}}-accordion" role="tablist">
      {% for building in facility.buildings %}

        <div class="media">
          <div class="media-top media-middle hidden-xs"> 
            {% if building.default_pic %}
            <a data-toggle="collapse" data-parent="#bldg-accordion" href="#{{building.structure_type}}-pic-{{loop.index}}">
              <img class="media-ojbect pull-left" src="{{ url_for('facility.view_file', facilityID=building.facilityID, filename=building.default_pic.file.fileName, original_name=building.default_pic.file.fileOriginalName, file_type='picture') }}" alt="{{ building.name }} picture" style="width:200px;height:200px;">
            </a>
            {% else %}
            <a data-toggle="collapse" data-parent="#bldg-accordion" href="#{{building.structure_type}}-pic-{{loop.index}}">
              <img class="media-object pull-left" src="{{ url_for('static', filename='img/noImageSelected.jpg')}}" alt="placeholder" title="View More" >
            </a>
            {% endif %}
          </div>
          <div class="media-body">

            <h3 class="panel-heading" style="margin:0;">{{ building.identifier }} 
              <small><span class="open-label label {{ 'label-primary' if building.status else 'label-warning' }}">{{ 'Open' if building.status else 'Closed' }}</span></small>
              <div class='btn-toolbar pull-right'>
                <div class='btn-group'>
                  <button class="btn btn-default dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cog"></i></button>
                  <ul class="dropdown-menu pull-right">
                    <li><a href="{{ url_for('structure.update_structure', facilityID=building.facilityID, structure_type='B', structureID=building.id) }}">Update Building Info</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ url_for('structure.delete_structure', facilityID=building.facilityID, structure_type=building.structure_type, structureID=building.id) }}">Delete Building</a></li>
                  </ul>
                </div>
              </div>
            </h3>

                
            <div class="panel-body">
              <div class="row">
                <div class="col-md-4">
              {% if building.inspection %}
                {% if building.inspection.condition > 3 or building.inspection.condition == 0 %}
                  <button class="btn btn-block btn-red btn-bldg" data-toggle="collapse" data-parent="#bldg-accordion" data-target="#bldg-inspection-{{loop.index}}">
                {% elif building.inspection.condition == 3 %}
                  <button class="btn btn-block btn-yellow btn-bldg" data-toggle="collapse" data-parent="#bldg-accordion" data-target="#bldg-inspection-{{loop.index}}">
                {% elif building.inspection.condition < 3 %}
                  <button class="btn btn-block btn-green btn-bldg" data-toggle="collapse" data-parent="#bldg-accordion" data-target="#bldg-inspection-{{loop.index}}">
                {% endif %}
              {% else %}
                  <button class="btn btn-block btn-red btn-bldg" data-toggle="collapse" data-parent="#bldg-accordion" data-target="#bldg-inspection-{{loop.index}}">
              {% endif %}
                    <div class="row">
                      <div class="col-xs-3">
                        <i class="fa fa-{{ 'check' if building.inspection else 'warning' }} fa-2x"></i>
                      </div>
                      <div class="col-xs-9 text-right">
                        <div class="mid">
                          {{ "<small style='font-size: .6em;'>Inspection Score:</small> %s"|safe % building.inspection.condition if building.inspection else 'No Inspection' }}
                        </div>
                      </div> 
                    </div>
                  </button>
                  
              {% if building.services or building.servicing %}     
                  <button class="btn btn-block btn-green btn-bldg" data-toggle="collapse" data-parent="#bldg-accordion" data-target="#{{building.structure_type}}-services-{{loop.index}}"> 
              {% else %}
                  <button class="btn btn-block btn-red btn-bldg" data-toggle="collapse" data-parent="#wtr-accordion" data-target="#{{building.structure_type}}-services-{{loop.index}}"> 
              {% endif %}
                    <div class="row">
                      <div class="col-xs-3">
                        <span class="fa-stack">
                          <i class="fa fa-arrow-up fa-stack-1x"></i>
                          <i class="fa fa-circle-o fa-stack-2x"></i>
                        </span>
                        /                             
                        <span class="fa-stack">
                          <i class="fa fa-arrow-down fa-stack-1x"></i>
                          <i class="fa fa-circle-o fa-stack-2x"></i>
                        </span>
                      </div>
                      <div class="col-xs-9 text-right">
                        <div class="mid">
                          <small style='font-size: .6em;'> 
                            Services:
                          </small>
                          {{ building.servicing|length }}/{{ building.services|length }}
                        </div>
                      </div> 
                    </div>
                  </button>

                  <div class='btn-group-justified'>
                  {% if building.inspection %}
                    <a data-toggle="collapse" data-parent="#bldg-accordion" data-target="#{{building.structure_type}}-pic-{{loop.index}}" class="btn btn-default">
                      <i class="fa fa-camera"></i>
                      {{ building.inspection.pics|length if building.inspection.pics else '0' }}
                    </a>
                  {% else %}
                    <a data-toggle="" data-parent="#bldg-accordion" data-target="" class="btn btn-danger">
                      <i class="fa-stack">
                        <i class="fa fa-camera fa-stack-1x"></i>
                        <i class="fa fa-ban fa-stack-2x blackiconcolor"></i>
                      </i>
                    </a>
                  {% endif %}
                    <a data-toggle="collapse" data-parent="#bldg-accordion" data-target="#{{building.structure_type}}-file-{{loop.index}}" class="btn btn-default">
                      <i class="fa fa-{{ 'file-pdf-o' if building.inspection.files else 'file-pdf-o' }}"></i>
                        {{ building.files|length if building.files else '0' }}
                    </a>
                  </div>

                </div>
                <div class="col-md-8">
                  <dl class="dl-horizontal">
                    <dt>Criticality</dt>
                    <dd>{{ building.type.criticality if building.typeID else 'Unknown' }}</dd>

                    <dt>Date Constructed</dt>
                    <dd>{{ building.dateConstructed if building.dateConstructed else 'Unknown' }}</dd>

                    <dt>Building Type</dt>
                    <dd>{{ building.construction.type if building.constructionID else 'Unknown' }}</dd>

                    <dt>Total Area</dt>
                    <dd>{{ building.area if building.area else 'Unknown' }}</dd>

                    <dt>Description</dt>
                    <dd>{{ building.description if building.description else '...' }}</dd>
                  </dl>
                </div>
              </div><!-- row -->
            </div><!-- Panel Body -->
          </div><!-- Media Body -->
        </div>

        {% from "structures/_helpers.html" import render_files %}
        {{ render_files(building, loop.index) }}


        {% from "structures/_helpers.html" import render_pictures %}
        {{ render_pictures(building, loop.index) }}


        <div id="bldg-inspection-{{loop.index}}" class="collapse" role="tabpanel">
          <div class="panel panel-default">
          {% if building.inspection %}
          {% set inspection = building.inspection %}
            <div class="panel-heading">
              <div class="row">
                <div class="col-sm-4">
                  <h4>Inspection of {{ inspection.inspectionDate }}</h4>
                </div>
                <div class="col-sm-8">
                  <div class="btn-toolbar pull-right">
                    <div class='btn-group'>
                      <a class="btn btn-default" href="#"><i class="fa fa-calendar"></i> History</a>
                      <a class="btn btn-default" href="#"><i class="fa fa-upload"></i> Upload</a>
                      <a class="btn btn-default" href="#"><i class="fa fa-download"></i> Download</a>
                      <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">Inspection <i class="fa fa-caret-down"></i></button>
                      <ul class="dropdown-menu pull-right">
                        <li><a  href="{{ url_for('structure.add_inspection', facilityID=building.facilityID, structure_type=building.structure_type, structureID=building.id) }}">New</a></li>
                        <li><a href="{{ url_for('structure.update_inspection', facilityID=building.facilityID, structure_type=building.structure_type, structureID=building.id, inspectionID=building.inspection.id) }}">Update</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ url_for('structure.delete_inspection', facilityID=building.facilityID, structure_type=building.structure_type, structureID=building.id, inspectionID=building.inspection.id) }}">Delete</a></li>
                      </ul> 
                    </div>
                  </div> 
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  By {{ inspection.inspectorName }}
                </div>
                <div class="col-sm-4">

                </div>
              </div>
            </div>
            <table class="panel-body table table-condensed table-striped table-hover table-bordered">    
              <thead>
                <tr>
                  <th>Component</th>
                  <th>Condition</th>
                  <th>Notes</th>
                </tr>
              </thead>
              {% from '_formhelpers.html' import inspec_table_int, inspec_table_bool %}
              <tbody>
                {{ inspec_table_bool('Cyclone Ties', inspection.cycloneTies, '') }}
                {{ inspec_table_bool('Cyclone Screws', inspection.cycloneScrews, '') }}
                {{ inspec_table_bool('Sub-Structure Visible', inspection.visibleSub, '') }}
                {{ inspec_table_int('Sub-Structure', inspection.subCond, inspection.subNote) }}
                {{ inspec_table_int('Interior Walls', inspection.inWallCond, inspection.inWallNote) }}
                {{ inspec_table_int('Exterior Walls', inspection.exWallCond, inspection.exWallNote) }}
                {{ inspec_table_int('Windows', inspection.windowCond, inspection.windowNote) }}
                {{ inspec_table_int('Shutters', inspection.shutterCond, inspection.shutterNote) }}
                {{ inspec_table_int('Interior Doors', inspection.inDoorCond, inspection.inDoorNote) }}
                {{ inspec_table_int('Exterior Doors', inspection.exDoorCond, inspection.exDoorNote) }}
                {{ inspec_table_int('Floors', inspection.floorCond, inspection.floorNote) }}
                {{ inspec_table_int('Verandah', inspection.verandahCond, inspection.verandahNote) }}
                {{ inspec_table_int('Roofing', inspection.roofCond, inspection.roofNote) }}
                {{ inspec_table_int('Roof Framework', inspection.roofFrameCond, inspection.roofFrameNote) }}
                {{ inspec_table_int('Ceiling', inspection.ceilingCond, inspection.ceilingNote) }}
                {{ inspec_table_int('Fascia and ', inspection.fasciaCond, inspection.fasciaNote) }}
                {{ inspec_table_int('Gutter and Pipes', inspection.gutterCond, inspection.gutterNote) }}
                {{ inspec_table_int('Columns', inspection.columnCond, inspection.columnNote) }}
                {{ inspec_table_int('Beams', inspection.beamCond, inspection.beamNote) }}
                {{ inspec_table_int('Electrical', inspection.electricalCond, inspection.electricalNote) }}
                {{ inspec_table_int('Plumbing', inspection.plumbingCond, inspection.plumbingNote) }}
              </tbody>
            </table>
          {% else %}
            <div class="panel-heading">
              <a class="btn btn-default btn-block" href="{{ url_for('structure.add_inspection', facilityID=building.facilityID, structure_type=building.structure_type, structureID=building.id) }}"><i class="fa fa-check"></i> New An Inspection</a>
            </div>
          {% endif %}
          </div>
        </div><!--/.bldg-inspection-{{loop.index}} -->

        {% from "structures/_helpers.html" import render_services %}
        {{ render_services(building, loop.index) }}

      <script>
      $("#B-{{building.id}}-accordion").find("button").click(function (e) {
        $("#B-{{building.id}}-accordion").find('.collapse').collapse('hide'); 
      });
      $("#B-{{building.id}}-accordion").find("a").click(function () {
        $("#B-{{building.id}}-accordion").find('.collapse').collapse('hide'); 
      });
      </script>
      {% endfor %}
      </div><!-- END panel-group -->
    </div><!-- End row -->
{% endif %}
  </div>
</div>