<!-- A S S E T S -->
<div id="assets" class="tab-pane fade">
  <div class="container-fluid">


    <h2 class="section-header">Assets
      <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
          <button class="btn btn-default dropdown-toggle btn-large" data-toggle="dropdown">Assets <i class="fa fa-caret-down"></i></button>
          <ul class="dropdown-menu pull-right">
            <li><a href="#">nothing here yet</a></li>
          </ul>
        </div>
      </div>
    </h2>

{% if not assets %}
  <p>This facility has no assets yet.</p>
  <p>If you suspect this is an error please contact your manager.</p>
{% else %}
   
    <div class="row">

      <div class="col-sm-4">
      {% if assets %}
        <div class="panel panel-green">
      {% else %}
        <div class="panel panel-red">
      {% endif %}
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-medkit fa-5x"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge">{{ assets|length }}</div>
                <div>Assets</div>
              </div> 
            </div>
          </div>   
        </div>
      </div>

  <!--
      <div class="col-sm-4">
      {% if structures_with_inspections.bldg_avg > 3 or structures_with_inspections.bldg_avg == 0%}
        <div class="panel panel-red">
      {% elif structures_with_inspections.bldg_avg == 3 %}
        <div class="panel panel-yellow">
      {% elif structures_with_inspections.bldg_avg < 3 %}
        <div class="panel panel-green">
      {% endif %}
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-check fa-5x"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge">{{ structures_with_inspections.bldg_avg }}</div>
                <div>Average Condition</div>
              </div> 
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
      {% if structures_with_inspections.bldg_overdue %}
        <div class="panel panel-red">
      {% else %}
        <div class="panel panel-green">
      {% endif %}
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-bell fa-5x"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge">{{ structures_with_inspections.bldg_overdue }}</div>
                <div>Overdue Inspections</div>
              </div> 
            </div>
          </div>
        </div>
      </div>
  -->
    </div>

    <div class="row">
      <table class="table-responsive table-condensed table-hover table-bordered">
        <thead>
          <tr>
            <td></td>
            <th>Quantity</th>
            <th>Description</th>
            <th>Cost</th>
            <th>Purchase Date</th>
          </tr>
        </thead>
        <tbody>
 
      {% for index in range(assets|length) %}
          {% if not assets[index-1].building == assets[index].building %}
            <tr>
              <th colspan="5" style="background-color: lightgrey">{{ assets[index].building }}</th>
            </tr>
        {% endif %}
          <tr>
            <th>{{ assets[index].location }}</th>
            <td>{{ assets[index].quantity }}</td>
            <td>{{ assets[index].description }}</td>
            <td>{{ assets[index].cost }}</td>
            <td>{{ assets[index].purchaseDate }}</td>
          </tr>
      {% endfor %}
        </tbody>
      </table>
    </div>
{% endif %}
  </div>
</div>