{% macro render_pictures(structure, index=none) %}
{% if structure.inspection %}
<div id="{{structure.structure_type}}-pic-{{index}}" class="panel-collapse collapse" role="tabpanel">
  <div class="panel panel-default">
    {% if structure.inspection.pics %}
    <div class="panel-heading">
      <div class="row">
        <div class="col-sm-4">
          <h4>{{ structure.inspection.pics|length }} Pictures</h4>
        </div>
        <div class="col-sm-8">
          <div class="btn-group btn-group-justified">
            <a href="{{ url_for('structure.add_structure_file', facilityID=structure.facilityID, structure_type=structure.structure_type, structureID=structure.id, inspectionID=structure.inspection.id, file_type='picture') }}" class="btn btn-default">Upload <i class="fa fa-upload"></i></a>
            <a href="#" class="btn btn-default">Download <i class="fa fa-download"></i></a>
            <a href="{{ url_for('structure.structure_files', facilityID=structure.facilityID, structure_type=structure.structure_type, structureID=structure.id) }}" class="btn btn-default"><i class="fa fa-picture-o"></i> Options</a>
          </div>   
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="row" id="{{structure.structure_type}}-pics-{{index}}">
      {% for pic in structure.inspection.pics %}
        <div class="col-lg-3 col-sm-4 col-xs-6">
          <a href="{{ url_for('facility.download_file', facilityID=structure.facilityID, filename=pic.file.fileName, file_type='picture') }}" title="{{ pic.file.fileDesc }}">
            <img src="{{ url_for('facility.view_file', facilityID=structure.facilityID, filename=pic.file.fileName, file_type='picture') }}" class="thumbnail img-responsive">
          </a>
          <div class="caption">{{ pic.file.fileDesc }}</div>
        </div>
      {% endfor %}
      </div>
      <!-- script for lightbox/gallery -->
      <script>
        document.getElementById('{{structure.structure_type}}-pics-{{index}}').onclick = function (event) {
            event = event || window.event;
            var target = event.target || event.srcElement,
                link = target.src ? target.parentNode : target,
                options = {index: link, event: event},
                links = this.getElementsByTagName('a');
            blueimp.Gallery(links, options);
        };
      </script>
    </div>
  {% else %}
    <div class="panel-heading">
      <a class="btn btn-default btn-block" href="{{ url_for('structure.add_structure_file', facilityID=structure.facilityID, structure_type=structure.structure_type, structureID=structure.id, inspectionID=structure.inspection.id, file_type='picture') }}"><i class="fa fa-upload"></i> Upload A Picture</a>
    </div>
  {% endif %}
  </div>
</div><!--/{{ structure.structure_type }}-pic-{{index}} --> 
{% endif %}
{% endmacro %}


{% macro render_files(structure, index) %}
<div id="{{structure.structure_type}}-file-{{index}}" class="panel-collapse collapse" role="tabpanel">
  <div class="panel panel-default">
  {% if structure.files %}
    <div class="panel-heading">
      <div class="row">
        <div class="col-sm-4">
          <h4>{{ structure.files|length }} Files</h4>
        </div>
        <div class="col-sm-8">
          <div class="btn-toolbar pull-right">
            <div class='btn-group'>
                <a class="btn btn-default" href="{{ url_for('structure.add_structure_file', facilityID=structure.facilityID, structure_type=structure.structure_type, structureID=structure.id, file_type='file') }}"><i class="fa fa-upload"></i> Upload</a>
                <a class="btn btn-default" href="#"><i class="fa fa-download"></i> Download All</a>
            </div>
          </div> 
        </div>
      </div>
    </div>
    <table class="panel-body table table-condensed table-striped table-hover">
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Description</th>
          <th>Date</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for file in structure.files %}
        <tr>
          <td class="col-sm-2">
            <div class="btn-group">
              <a class="btn btn-primary btn-sm" href="{{ url_for('facility.view_file', facilityID=structure.facilityID, filename=file.file.fileName, original_name=file.file.fileOriginalName) }}" target="_blank"><i class="fa fa-eye"></i></a>
              <a class="btn btn-default btn-sm" href="{{ url_for('facility.download_file', facilityID=structure.facilityID, filename=file.file.fileName, original_name=file.file.fileOriginalName) }}" target="_blank"><i class="fa fa-download"></i></a>
            </div>
          </td>
          <td class="col-sm-3">{{ file.file.fileOriginalName }}</td>
          <td class="col-sm-4">{{ file.file.fileDesc }}</td>
          <td class="col-sm-2">{{ file.file.fileDateCreated }}</td>
          <td class="col-sm-1"><a class="btn btn-danger btn-sm" data-href="{{ url_for('structure.delete_structure_file', facilityID=structure.facilityID, structure_type=structure.structure_type, structureID=structure.id, fileID=file.file.id, file_type='file') }}" data-toggle="confirmation" data-popout="true"><i class="fa fa-times"></i></a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <div class="panel-heading">
      <a class="btn btn-default btn-block" href="{{ url_for('structure.add_structure_file', facilityID=structure.facilityID, structure_type=structure.structure_type, structureID=structure.id, file_type='file') }}"><i class="fa fa-upload"></i> Upload A File</a>
    </div>
  {% endif %}
  </div>
</div><!--/.{{structure.structure_type}}-files-{{index}} -->
{% endmacro %}


{% macro render_simple_inspection(structure, index) %}
<div id="{{structure.structure_type}}-inspection-{{index}}" class="panel-collapse collapse" role="tabpanel">
  <div class="panel panel-default">
  {% if structure.inspections %}
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-12">
        <div class="btn-toolbar pull-right">
          <a class="btn btn-default btn-sm" href="{{ url_for('structure.add_inspection', facilityID=structure.facilityID, structure_type=structure.structure_type, structureID=structure.id) }}">New Inspection</a>
        </div>
        </div>      
      </div>
      <ul class="nav nav-tabs nav-justified">
        {% for inspection in structure.inspections %}
        <li class="{{ 'active' if loop.first else '' }}"><a href="#insection-{{inspection.id}}" data-toggle="tab">{{ inspection.inspectionDate }}</a></li>
        {% endfor %}
      </ul>
      <div class="tab-content panel-body">
        {% for inspection in structure.inspections %}          
        <div class="tab-pane fade {{ 'in active' if loop.first else '' }}" id="insection-{{inspection.id}}">
          <div class="row">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th class="col-xs-2">Inspector</th>
                  <th class="col-xs-2">Average</th>
                  <th class="col-xs-4">Note</th>
                  <th class="col-xs-2"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ inspection.inspectorName }}</td>
                  <td>{{ inspection.condition }}</td>
                  <td>{{ inspection.note }}</td>
                  <td>
                    <div class="btn-group">
                      <button class="btn btn-danger btn-sm" data-href="{{ url_for('structure.delete_inspection', facilityID=structure.facilityID, structure_type=structure.structure_type, structureID=structure.id, inspectionID=inspection.id) }}" data-placement="left" data-toggle="confirmation"><i class="fa fa-times"></i></button>
                      <a class="btn btn-default btn-sm" href="{{ url_for('structure.update_inspection', facilityID=structure.facilityID, structure_type=structure.structure_type, structureID=structure.id, inspectionID=inspection.id) }}">Update</a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  {% else %}
    <div class="panel-heading">
      <a class="btn btn-default btn-block" href="{{ url_for('structure.add_inspection', facilityID=structure.facilityID, structure_type=structure.structure_type, structureID=structure.id) }}"><i class="fa fa-check"></i> Add An Inspection</a>
    </div>
  {% endif %}
  </div>
</div><!--/{{structure.structure_type}}-inspection-{{index}} -->
{% endmacro %}


{% macro render_services(structure, index) %}
<div id="{{structure.structure_type}}-services-{{index}}" class="panel-collapse collapse" role="tabpanel">
  <div class="panel panel-default">
    {% if structure.services or structure.servicing %}
      <div class="panel-heading">
        <div class="row">
          <div class="col-sm-4">
            <h4>Services</h4>
          </div>
          <div class="col-sm-8">
            <div class="btn-toolbar pull-right">
              <div class='btn-group-block'>
                <a class="btn btn-default" href="{{ url_for('structure.services', facilityID=structure.facilityID, structure_type=structure.structure_type, structureID=structure.id) }}">Edit Services</a>
              </div>
            </div> 
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6">
            <table class="panel-body table table-condensed table-striped table-hover table-bordered">
              <tbody>
                <tr>
                  <th colspan="5">
                    <h5>
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-arrow-up fa-stack-1x fa-inverse"></i>
                      </span>
                      Providing Service to {{ structure.servicing|length }}
                    </h5>
                  </th>
                </tr>
                <tr>
                  <th>Structure</th>
                  <th>Description</th>
                  <th>Condition</th>
                </tr>
                {% for srvc in structure.servicing %}
                <tr>
                  <td>{{ srvc.identifier }}</td>
                  <td>{{ srvc.description }}</td>
                  <td>{{ srvc.inspection.condition }}</td>
                </tr>
                {% else %}
                <tr>
                  <td>None Defined</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="col-md-6">
            <table class="panel-body table table-condensed table-striped table-hover table-bordered">
              <tbody>
                {% if structure.services %}
                <tr>
                  <th colspan="5">
                    <h5>
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-arrow-down fa-stack-1x fa-inverse"></i>
                      </span>
                      {{ structure.services|length }} Services used
                    </h5>
                  </th>
                </tr>
                <tr>
                  <th>Structure</th>
                  <th>Description</th>
                  <th>Condition</th>
                </tr>
                {% endif %}
                {% for srvc in structure.services %}
                <tr>
                  <td>{{ srvc.identifier }}</td>
                  <td>{{ srvc.description }}</td>
                  <td>{{ srvc.inspection.condition }}</td>
                </tr>
                {% else %}
                sxx
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    {% else %}
    <div class="panel-heading">
      <a class="btn btn-default btn-block" href="{{ url_for('structure.services', facilityID=structure.facilityID, structure_type=structure.structure_type, structureID=structure.id) }}">Edit Services</a>
    </div>
    {% endif %}
  </div>
</div><!--/{{structure.structure_type}}-services-{{index}} -->
{% endmacro %}


{% macro render_condition_modal(structure_type, structures) %}
{% set bgcolor = 'red' %}
<div id="{{structure_type}}-ConditionModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{ structure_type }} Conditions</h4>
            </div>
            <div class="modal-body">
              <table class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th class="col-sm-3">Identifier</th>
                    <th class="col-sm-1">Average</th>
                    <th class="col-sm-4">General Note</th>
                    <th class="col-sm-2"></th>
                  </tr>
                </thead>
                <tbody>
                  {% for s in structures %}
                    {% if s.inspection %}
                    <tr style="color: {{ bgcolor if s.status else '' }}">
                      <td>{{ s.identifier }}</td>
                      <td>{{ s.inspection.condition }}</td>
                      <td>{{ s.inspection.note }}</td>
                      <td></td>
                    </tr>
                    {% else %}
                    <tr style="color: {{ bgcolor }};">
                      <td>{{ s.identifier }}</td>
                      <td colspan="4">No inspection yet</td>
                    {% endif %}
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
{% endmacro %}


{% macro render_file_buttons(structure, index) %}
<div class='btn-group-justified'>
{% if structure.inspection %}
  <a data-toggle="collapse" data-parent="#{{structure.structure_type}}-accordion" data-target="#{{structure.structure_type}}-pic-{{index}}" class="btn btn-default">
    <i class="fa fa-camera"></i>
    {{ structure.inspection.pics|length if structure.inspection.pics else '0' }}
  </a>
{% else %}
  <a data-toggle="" data-parent="#{{structure.structure_type}}-accordion" data-target="" class="btn btn-default">
    <span class="fa-stack">
      <i class="fa fa-camera fa-stack-1x"></i>
      <i class="fa fa-ban fa-stack-2x blackiconcolor"></i>
    </span>
  </a>
{% endif %}
  <a data-toggle="collapse" data-parent="#{{structure.structure_type}}-accordion" data-target="#{{structure.structure_type}}-file-{{index}}" class="btn btn-default">
    <i class="fa fa-{{ 'file-pdf-o' if structure.inspection.files else 'file-pdf-o' }}"></i>
      {{ structure.files|length if structure.files else '0' }}
  </a>
</div>
{% endmacro %}
















{% macro render_structure(facility, structure_type, structures, name_s, name_p) %}
<div id="{{structure_type}}" class="tab-pane fade">

  {{ render_condition_modal(structure_type, structures) }}

  <div class="container-fluid">

    <h2 class="section-header">{{ name_p }}
      <div class="btn-toolbar pull-right hidden-xs hidden-sm">
        <div class="btn-group">
          {% if structures %}
          <button class="btn btn-default" type="button" data-toggle="modal" data-target="#{{structure_type}}-ConditionModal"><i class="fa fa-list-alt"></i> Conditions</button>
          {% endif %}
          <button class="btn btn-default dropdown-toggle btn-large" data-toggle="dropdown">Options <i class="fa fa-caret-down"></i></button>
          <ul class="dropdown-menu pull-right">
            <li><a href="{{ url_for('structure.add_structure', facilityID=facility.facilityID, structure_type=structure_type) }}">Add New {{ name_s }}</a></li>
          </ul>
        </div>
      </div>
    </h2>

{% if not structures %}
  <p>Select 'Options' above to add the first {{ structure_name }} to this facility.</p>
{% else %}
    <div class="row">
      <div class="col-sm-4">
        {{ render_operational_percent(facility, structure_type, structures) }}
      </div>
      <div class="col-sm-4">
        {{ render_condition(facility, structure_type) }}
      </div>
      <div class="col-sm-4">
        {{ render_overdue_percent(facility, structure_type, structures) }}
      </div>
    </div>
    
    <div class="row">
      {# TODO: calculate actual water capacity by taking the capacity of a water source divided by the number of buildings sharing the water source. Then have a 'calculate water available' which asks for % of tank fill per tank and output the amount of water each building would have fairly distributed from the total estimated available. Would also serve to calculate how much water the facility has for an emergency analysis. #}
      <div>
        {% for structure in structures %}
        <div class="panel-group" id="{{structure_type}}-{{structure.id}}-accordion" role="tablist">
          <div class="media">
            <div class="media-top media-middle hidden-xs"> 
              {% if structure.default_pic %}
                <a data-toggle="collapse" data-parent="#{{structure_type}}-accordion" href="#{{structure.structure_type}}-pic-{{loop.index}}">
                  <img class="media-ojbect pull-left" src="{{ url_for('facility.view_file', facilityID=structure.facilityID, filename=structure.default_pic.file.fileName, file_type='picture') }}" alt="{{ structure.identifier }} picture" style="width:200px;height:200px;">
                </a>
              {% else %}
                <a data-toggle="collapse" data-parent="#{{structure_type}}-accordion" href="#{{structure.structure_type}}-pic-{{loop.index}}">
                  <img class="media-object pull-left" src="{{ url_for('static', filename='img/noImageSelected.jpg') }}" alt="placeholder" title="Default Image Not Selected" >
                </a>
              {% endif %}
            </div>
            <div class="media-body">
              <h3 class="panel-heading" style="margin:0;">{{ structure.identifier }} <small><span class="label {{ 'label-primary' if structure.status else 'label-warning' }}">{{ 'Operational' if structure.status else 'Non-Operational' }}</span></small>
                <div class='btn-toolbar pull-right'>
                  <div class='btn-group'>
                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cog"></i></button>
                    <ul class="dropdown-menu pull-right">
                      <li><a href="{{ url_for('structure.update_structure', facilityID=facility.facilityID, structure_type=structure_type, structureID=structure.id) }}">Update</a></li>
                      <li class="divider"></li>
                      <li><a href="{{ url_for('structure.delete_structure', facilityID=facility.facilityID, structure_type=structure_type, structureID=structure.id) }}">Delete</a></li>
                    </ul>
                  </div>
                </div>
              </h3>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-sm-4">

                    {% if structure.inspection %}
                    {% set inspection = structure.inspection %}
                      {% if inspection.condition > 3 or inspection.condition == 0 %}
                        <button class="btn btn-block btn-red btn-bldg" data-toggle="collapse" data-parent="#{{structure_type}}-accordion" data-target="#{{structure_type}}-inspection-{{loop.index}}">
                      {% elif inspection.condition == 3 %}
                        <button class="btn btn-block btn-yellow btn-bldg" data-toggle="collapse" data-parent="#{{structure_type}}-accordion" data-target="#{{structure_type}}-inspection-{{loop.index}}">
                      {% elif inspection.condition < 3 %}
                        <button class="btn btn-block btn-green btn-bldg" data-toggle="collapse" data-parent="#{{structure_type}}-accordion" data-target="#{{structure_type}}-inspection-{{loop.index}}">
                      {% endif %}
                    {% else %}
                        <button class="btn btn-block btn-red btn-bldg" data-toggle="collapse" data-parent="#{{structure_type}}-accordion" data-target="#{{structure_type}}-inspection-{{loop.index}}">
                    {% endif %}
                          <div class="row">
                            <div class="col-xs-3">
                              <i class="fa fa-{{ 'check' if structure.inspection else 'warning' }} fa-2x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                              <div class="mid hidden-xs hidden-sm">{{ "<small style='font-size: .6em;'>Inspection Score:</small> %s"|safe % structure.inspection.condition if structure.inspection else 'No Inspection' }}</div>
                              <div class="mid visible-xs visible-sm">{{ structure.inspection.condition if structure.inspection else 'No Inspec'}}</div>
                            </div> 
                          </div>
                        </button>
                   
                    {% if structure.services or structure.servicing %}     
                        <button class="btn btn-block btn-green btn-bldg" data-toggle="collapse" data-parent="#{{structure_type}}-accordion" data-target="#{{structure_type}}-services-{{loop.index}}"> 
                    {% else %}
                        <button class="btn btn-block btn-default btn-bldg" data-toggle="collapse" data-parent="#{{structure_type}}-accordion" data-target="#{{structure_type}}-services-{{loop.index}}"> 
                    {% endif %}
                            <div class="row">
                              <div class="col-xs-3">
                                <span class="fa-stack">
                                  <i class="fa fa-arrow-up fa-stack-1x"></i>
                                  <i class="fa fa-circle-o fa-stack-2x"></i>
                                </span>
                                /                             
                                <span class="fa-stack">
                                  <i class="fa fa-arrow-down fa-stack-1x"></i>
                                  <i class="fa fa-circle-o fa-stack-2x"></i>
                                </span>
                              </div>
                              <div class="col-xs-9 text-right">
                                <div class="mid hidden-xs hidden-sm">
                                  <small style='font-size: .6em;'> 
                                    Services:
                                  </small>
                                  {{ structure.servicing|length }}/{{ structure.services|length }}
                                </div>
                              </div> 
                            </div>
                        </button>

                        {{ render_file_buttons(structure, loop.index) }}

                    </div>
                    <div class="col-sm-8">
                      <table class="table table-condensed">
                        <tbody>
                          <tr>
                            <th>Description</th>
                            <td>{{ structure.description if structure.description else '...' }}</td>
                          </tr>
                          {% if structure.capacity or structure.capacity == 0 %}
                          <tr>
                            <th>Capacity</th>
                            <td>{{ structure.capacity if structure.capacity else 'Unknown' }} Litres</td>
                          </tr>
                          {% endif %}
                          {% if structure.vin %}
                          <tr>
                            <th>Vin Number</th>
                            <td>{{ structure.vin if structure.vin else 'Unknown' }}</td>
                          </tr>
                          {% endif %}
                          {% if structure.plate %}
                          <tr>
                            <th>Plate Number</th>
                            <td>{{ structure.plate if structure.plate else 'Unknown' }}</td>
                          </tr>
                          {% endif %}
                          {% if structure.engineSize %}
                          <tr>
                            <th>Engine Size</th>
                            <td>{{ structure.engineSize if structure.engineSize else 'Unknown' }}</td>
                          </tr>
                          {% endif %}
                          {% if structure.engineNum %}
                          <tr>
                            <th>Engine Number</th>
                            <td>{{ structure.engineNum if structure.engineNum else 'Unknown' }}</td>
                          </tr>
                          {% endif %}
                        </tbody>
                      </table>
                    </div>

                  </div>
                </div>
            </div>
          </div><!--/{{structure_type}}-{{loop.index}} --> 
        </div>           

          {{ render_pictures(structure, loop.index) }}

          {{ render_files(structure, loop.index) }}

          {{ render_simple_inspection(structure, loop.index) }}

          {{ render_services(structure, loop.index) }}

        {% endfor %}
      </div>
    </div><!-- End row -->
{% endif %}
  </div>
</div>
{% endmacro %}









































{% macro render_operational_percent(facility, structure_type, things) %}
{% if facility.operational_percent(structure_type) == 1 %}
<div class="panel panel-green">
{% elif facility.operational_percent(structure_type) > 0.5 %}
<div class="panel panel-yellow">
{% else %}
<div class="panel panel-red">
{% endif %}
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-3">
        <i class="fa fa-{{ things[0].icon }} fa-5x"></i>
      </div>
      <div class="col-xs-9 text-right">
        <div class="huge">{{ facility.operational_list(structure_type)|length }}<small style="font-size:.5em;">/{{ things|length }}</small></div>
        <div>Operational</div>
      </div> 
    </div>
  </div>   
</div>
{% endmacro %}


{% macro render_condition(facility, structure_type) %}
{% if facility.condition(structure_type) > 3 or facility.condition(structure_type) == 0%}
<div class="panel panel-red">
{% elif facility.condition(structure_type) == 3 %}
<div class="panel panel-yellow">
{% elif facility.condition(structure_type) < 3 %}
<div class="panel panel-green">
{% endif %}
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-3">
        <i class="fa fa-check fa-5x"></i>
      </div>
      <div class="col-xs-9 text-right">
        <div class="huge">{{ facility.condition(structure_type) if facility.condition(structure_type) else '' }}</div>
        <div>Average Condition</div>
      </div> 
    </div>
  </div>
</div>
{% endmacro %}


{% macro render_overdue_percent(facility, structure_type, things) %}
{% if facility.overdue_percent(structure_type) == 0 %}
<div class="panel panel-green">
{% elif facility.overdue_percent(structure_type) < 0.5 %}
<div class="panel panel-yellow">
{% else %}
<div class="panel panel-red">
{% endif %}
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-3">
        <i class="fa fa-bell fa-5x"></i>
      </div>
      <div class="col-xs-9 text-right">
        <div class="huge">{{ facility.overdue(structure_type) }}<small style="font-size:.5em;">/{{ things|length }}</small></div>
        <div>Overdue Inspections</div>
      </div> 
    </div>
  </div>
</div>
{% endmacro %}