{% extends "layout.html" %}

{% block content %}
<div class="container-narrow">
{% if title %}
    <h1>{{ title }}</h1>
{% else %}
    <h1></h1>
{% endif %}
    <br/>
    {% from "_formhelpers.html" import render_field, render_inline_row, render_datefield %}
    <form id="InspectionForm" class="form form-register" method="POST" action="" role="form">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

        {{ form.structureID }}

        <div class="row">
            <div class="col-sm-6">
                {{ render_datefield(form.inspectionDate) }}
            </div>
            <div class="col-sm-6">
                {{ render_field(form.inspectorName) }}         
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-6">
                {{ render_field(form.cycloneTies) }}
            </div>
            <div class="col-sm-6">
                {{ render_field(form.cycloneScrews) }}
            </div>
        </div>


        {{ render_field(form.visibleSub) }}
        
        <div id="substructure">
        {{ render_inline_row(form.subCond, form.subNote) }}
        </div>
        {{ render_inline_row(form.inWallCond, form.inWallNote) }}


        {{ render_inline_row(form.exWallCond, form.exWallNote)}}
        {{ render_inline_row(form.windowCond, form.windowNote)}}
        {{ render_inline_row(form.shutterCond, form.shutterNote)}}
        {{ render_inline_row(form.inDoorCond, form.inDoorNote)}}
        {{ render_inline_row(form.exDoorCond, form.exDoorNote)}}
        {{ render_inline_row(form.floorCond, form.floorNote)}}
        {{ render_inline_row(form.verandahCond, form.verandahNote)}}
        {{ render_inline_row(form.roofCond, form.roofNote)}}
        {{ render_inline_row(form.roofFrameCond, form.roofFrameNote)}}
        {{ render_inline_row(form.ceilingCond, form.ceilingNote)}}
        {{ render_inline_row(form.fasciaCond, form.fasciaNote)}}
        {{ render_inline_row(form.gutterCond, form.gutterNote)}}
        {{ render_inline_row(form.columnCond, form.columnNote) }}
        {{ render_inline_row(form.beamCond, form.beamNote) }}
        {{ render_inline_row(form.electricalCond, form.electricalNote) }}
        {{ render_inline_row(form.plumbingCond, form.plumbingNote) }}

        <p><input class="btn btn-primary btn-lg btn-submit btn-block" type="submit" value="Submit"></p>
    </form>
</div>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-datepicker3.min.css') }}" />
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-datepicker.min.js') }}"></script>
<script>
$('.datepicker').datepicker();
</script>
<script>
$('#visibleSub').on('change', function() {
  if ( this.value == 'True')
  {
    $("#substructure").show();
  }
  else
  {
    $("#substructure").hide();
  }
});
</script>
{% endblock %}