{% extends "layout.html" %}

{% block content %}
<div class="container-narrow">
{% if title %}
    <h1>{{ title }}</h1>
{% else %}
    <h1></h1>
{% endif %}
    <br/>
    {% from "_formhelpers.html" import render_field, render_datefield %}
    <form id="registerForm" class="form form-register" method="POST" action="" role="form" enctype="multipart/form-data">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>        

            {{ form.facilityID }}

            <div class="row">
                <div class="col-sm-4">
                    {{ render_field(form.typeID) }}
                </div>

                <div class="col-sm-4">
                    {{ render_field(form.number) }}
                </div>

                <div class="col-sm-4">
                    {{ render_datefield(form.dateConstructed) }}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    {{ render_field(form.constructionID) }}
                </div>

                <div class="col-sm-4">
                    {{ render_field(form.area) }}
                </div>

                <div class="col-sm-4">
                    {{ render_field(form.roofID) }}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-8">
                    {{ render_field(form.description) }}
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        {{ form.status.label }}
                        <br/>
                        <input {{ 'checked' if form.status.data == True else '' }} id="status" type="checkbox" data-toggle="toggle" data-on="Operational" data-off="Non-Operational" data-width="180" name="status" value="y"/>
                        <p class="help-block">{{ form.status.description }}</p>
                    </div>
                </div>
            </div>

            <hr/>

            <p><input class="btn btn-primary btn-lg btn-submit btn-block" id="upload-button" type="submit" value="Submit"></p>
    </form>
</div>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-datepicker3.min.css') }}" />
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-datepicker.min.js') }}"></script>
<script>
$('.datepicker').datepicker();
</script>
{% endblock %}