{% extends "layout.html" %}

{% block content %}
<div class="container-narrow">
{% if title %}
    <h1>{{ title }}</h1>
{% else %}
    <h1></h1>
{% endif %}
    <br/>
    {% from "_formhelpers.html" import render_field, render_inline_row, render_datefield %}
    <form id="InspectionForm" class="form form-register" method="POST" action="" role="form">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

        {{ form.structureID }}

        <div class="row">
            <div class="col-sm-6">
                {{ render_datefield(form.inspectionDate) }}
            </div>
            <div class="col-sm-6">
                {{ render_field(form.inspectorName) }}         
            </div>
        </div>

        {{ render_inline_row(form.exteriorCond, form.exteriorNote)}}
        {{ render_inline_row(form.interiorCond, form.interiorNote)}}
        {{ render_inline_row(form.lightsCond, form.lightsNote)}}
        {{ render_inline_row(form.brakeCond, form.brakeNote)}}
        {{ render_inline_row(form.steeringCond, form.steeringNote)}}
        {{ render_inline_row(form.suspensionCond, form.suspensionNote)}}
        {{ render_inline_row(form.exhaustCond, form.exhaustNote)}}
        {{ render_inline_row(form.tyresCond, form.tyresNote)}}
        {{ render_inline_row(form.fuelSystemCond, form.fuelSystemNote)}}

        {{ render_field(form.mileage) }}

        <p><input class="btn btn-primary btn-lg btn-submit btn-block" type="submit" value="Submit"></p>
    </form>
</div>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-datepicker3.min.css') }}" />
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-datepicker.min.js') }}"></script>
<script>
$('.datepicker').datepicker();
</script>
{% endblock %}