{% extends "layout.html" %}
{% block content %}
<div class="container-narrow">

    <div class="well">
        <h2>{{ structure.identifier }}</h2>
        <p>Adjust available services</p>
        <hr/>
        <p class="bg-info"><i class="fa fa-arrow-up"></i> signals that {{ structure.identifier }} is providing.<br/><i class="fa fa-arrow-down"></i> means that {{ structure.identifier }} is receiving.</p>

        {% set stype = [] %}
        {% for srvc in structures %}
        
            {% if stype[-1] != srvc.structure_type %}
                {% if stype.append(srvc.structure_type) %}{% endif %}
        
            <table class="table table-condensed" id="">
                <thead>
                    <tr>
                        <h3>{{ srvc.structure_type }}</h3>
                    </tr>
                    <tr>
                        <th><i class="fa fa-arrow-up"></i></th>
                        <th>Structure Number</th>
                        <th>Storage Type</th>
                        <th>Description</th>
                        <th><i class="fa fa-arrow-down"></i></th>
                    </tr>
                </thead>
                <tbody>
            {% endif %}
                    <tr>
                    {% if srvc in structure.servicing %}
                        <td class="col-xs-1"><a href="{{ url_for('structure.delete_servicing', facilityID=structure.facilityID, structure_type=structure.structure_type, structureID=structure.id, srvc_structure_type=srvc.structure_type, srvc_structureID=srvc.id) }}" class="btn btn-sm btn-danger"><i class="fa fa-arrow-up"></i></a></td>
                    {% else %}
                        <td class="col-xs-1"><a href="{{ url_for('structure.add_servicing', facilityID=structure.facilityID, structure_type=structure.structure_type, structureID=structure.id, srvc_structure_type=srvc.structure_type, srvc_structureID=srvc.id) }}" class="btn btn-sm btn-default"><i class="fa fa-minus"></i></a></td>
                    {% endif %}
                        <td>{{ srvc.identifier }}</td>
                        <td>{{ srvc.type.type }}</td>
                        <td>{{ srvc.description }}</td>
                    {% if srvc in structure.services %}
                        <td class="col-xs-1"><a href="{{ url_for('structure.delete_service', facilityID=structure.facilityID, structure_type=structure.structure_type, structureID=structure.id, srvc_structure_type=srvc.structure_type, srvc_structureID=srvc.id) }}" class="btn btn-sm btn-primary"><i class="fa fa-arrow-down"></i></a></td>
                    {% else %}
                        <td class="col-xs-1"><a href="{{ url_for('structure.add_service', facilityID=structure.facilityID, structure_type=structure.structure_type, structureID=structure.id, srvc_structure_type=srvc.structure_type, srvc_structureID=srvc.id) }}" class="btn btn-sm btn-default"><i class="fa fa-minus"></i></a></td>
                    {% endif %}
                    </tr>
            {% else %}
            {% endfor %}
        </table>
        <a href="{{ url_for('facility.facility', facilityID=structure.facilityID) }}#{{structure.structure_type}}" class="btn btn-primary btn-block">Return to facility</a>
    </div>

</div>
{% endblock %}