{% extends "layout.html" %}

{% block content %}
<div class="container-narrow">
{% if title %}
  <h1>{{ title }}</h1>
{% else %}
  <h1>File</h1>
{% endif %}
	<br/>
	{% from "_formhelpers.html" import render_datefield %}
	<form id="registerForm" class="form form-register" method="POST" action="" role="form" enctype="multipart/form-data">
			<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>        

			{% if form.inspectionID %}
			<div class="form-group">
				{{ form.inspectionID.label }} {% if form.file.flags.required %}*{% endif %}
				{{ form.inspectionID(class_="form-control") }}
				<p class="help-block">{{ form.inspectionID.description }}</p>
			</div>
			{% endif %}

			<div class="form-group">
				{{ form.file.label }} {% if form.file.flags.required %}*{% endif %}
				{{ form.file(class_="form-control") }}
				<p class="help-block">{{ form.file.description }}</p>
			</div>

			<div class="form-group">
				{{ render_datefield(form.dateCreated) }}
			</div>

			<div class="form-group">
				{{ form.description.label }} {% if form.description.flags.required %}*{% endif %}
				{{ form.description(class_="form-control") }}
			</div>

			{% if default %}
			<div class="form-group">
				<input type="checkbox" data-toggle="toggle" data-on="Default" data-off="Not Default" name="default" value="default"/>
			</div>
			{% endif %}
			
			<p><input class="btn btn-primary btn-lg btn-submit btn-block" id="upload-button" type="submit" value="Submit"></p>
	</form>
</div>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-datepicker3.min.css') }}" />
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-datepicker.min.js') }}"></script>
<script>
$('.datepicker').datepicker();
</script>
{% endblock %}