
{% extends "layout.html" %}

{% block content %}
<div class="body-content">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        <div class='btn-toolbar pull-right'>
            <div class='btn-group'>
              <button class="btn btn-default" data-toggle="collapse" href="#graphs"><i class="fa fa-bar-chart"></i> Graphs</button>
              <button class="btn btn-default dropdown-toggle btn-large" data-toggle="dropdown"><i class="fa fa-cogs"></i> Options <i class="fa fa-caret-down"></i></button>
              <ul class="dropdown-menu pull-right">
                <li><a href="#"><i class="fa fa-download"></i> Download Excel</a></li>
              </ul>     
            </div>
        </div>
        Structures
      </h1>
    </div>
  </div>

  <script>

    $.getJSON("{{ url_for('structure._charts') }}", {structure_type: "{{form.structure_type.data}}"}, function(data) {
      $('#graphs').find('#chart-navigation').empty();
      $.each(data.charts, function(i, chart) {
        var $nav = $('<li>').append(
          $('<a href="#" data-toggle="tab">').text(chart.title).attr('href', '#chart-' + i)
          );
        var $chart = $('<div>', {'class': 'tab-pane', 'id': ""}).append(
          $('<embed>', {'style': "width:100%;height:75vh;", 'type': "image/svg+xml"})
          );
        var $chart = $chart.attr('id', 'chart-' + i);
        $('#graphs').find('#chart-navigation').append($nav);
        $('#graphs').find('#chart-div').append($chart);
        $('#chart-' + i).find('embed').attr('src', chart.data);
      });
      makeActive();
    });
      
    function makeActive() {
      $("#chart-navigation li:first").addClass("active");
      $("#chart-div div:first").addClass("active");
    };
  </script>

  <div class="row collapse graphTabs" id="graphs">
    <ul class="nav nav-pills" id="chart-navigation">
    </ul>

    <div class="tab-content clearfix" id="chart-div">
    </div>
  </div>

  <div class="row">
  {{ pagination.info }}
    <table class="table table-condensed">
      <thead>
        <tr style="font-size:1.4em;font-weight:700;">
          <th>#</th>
          <th>Structure</th>
          <th>Type</th>
          <th>Facility</th>
          <th>Desigination</th>
          <th>Island</th>
          <th>Heath Zone</th>
          <th>Province</th>
        </tr>
        <tr>
          <form action="{{ url_for('structure.search') }}" method="POST">
            {{ form.hidden_tag() }}
            <th></th>
            <th>
              <div class="form-group">
                {{ form.structure_type(class_="form-control") }}
              </div>
            </th>
            <th>
            {% if form.typeID %}
              <div class="form-group">
                {{ form.typeID(class_="form-control") }}
              </div>
            {% endif %}
            </th>
            <th></th>
            <th>
              <div class="form-group">
                {{ form.designationID(class_="form-control") }}
              </div>
            </th>
            <th>
              <div class="form-group">
                {{ form.islandID(class_="form-control") }}
              </div>
            </th>
            <th>
              <div class="form-group">
                {{ form.healthZoneID(class_="form-control") }}
              </div>
            </th>
            <th>
              <div class="form-group">
                {{ form.provinceID(class_="form-control") }}
              </div>
            </th>
            <th>
              <div class="form-group">
                <button class="btn btn-default btn-block" type="submit" value="submit"><i class="fa fa-refresh"></i></button>
              </div>
            </th>
          </form>
        </tr>
      </thead>
      <tbody class="rowlink" data-link="row">
    	{% for structure in structures %}
        <tr>
          <td><a href="{{ url_for('facility.facility', facilityID=structure.facilityID) }}"></a>{{ loop.index + (pagination.page - 1) * pagination.per_page }}</td>
          <td>{{ structure.structure_type }}</td>
          <td>{{ structure.type }}</td>
          <td>{{ structure.facility.facilityName }}</td>
          <td>{{ structure.facility.designation.name }}</td>
          <td>{{ structure.facility.island.name }}</td>
          <td>{{ structure.facility.healthZone }}</td>
          <td>{{ structure.facility.province.name }}</td>
        </tr>
    	{% endfor %}
      </tbody>
    </table>
    {{ pagination.links }} 
  </div>
</div>
{% endblock %}

