{% extends "layout.html" %}
{% block content %}
<div class="body-content">
  <div class="row">
    <h1>Are you sure you want to delete the inspection from: {{ inspection.inspectionDate }}</h1>
    <form action="{{ url_for('building.delete_inspection', buildingID=buildingID, inspectionID=inspection.inspectionID) }}" method='POST'>
    	<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
	    <button class="btn btn-warning" name="delete" value="Delete">Yes, Delete This &raquo;</button>
    </form>
  </div>
</div>
{% endblock %}