<h5><a href="{{ url_for('facility.facility', facilityID=facility.facilityID) }}">{{facility.identifier}}</a></h5>
<div class="panel">
  <div id="facility-{{facility.facilityID}}-Content" class="tab-content">
	<div class="tab-pane fade active in" id="facility-{{facility.facilityID}}-assets">
	  <table class="table table-bordered table-condensed">
	  	{% for structure, functional_areas in assets.items() %}
		<tr><th colspan="2" style="text-align:center;vertical-align: middle;">{{ structure }}</th></tr>
			{% for fa, categories in functional_areas.items() %}
			<tr><th>{{ fa }}</th><th>{{ categories.values() | sum }}</th></tr>
				{% for c, count in categories.items() %}
				<tr><td>{{c}}</td><td>{{count}}</td></tr>
				{% endfor %}
			{% endfor %}
		{% endfor %}
	  </table>
	</div>
  </div>
</div>