<h5><a href="{{ url_for('facility.facility', facilityID=facility.facilityID) }}">{{facility.identifier}}</a></h5>
<div class="panel">
  <div id="facility-{{facility.facilityID}}-Content" class="tab-content">
	<div class="tab-pane fade active in" id="facility-{{facility.facilityID}}-basics">
	  <table class="table table-bordered table-condensed">
		<tr><th>Designation</th><td>{{facility.designation.name}}</td></tr>
		<tr><th>Condition</th><td>{{facility.condition()}}</td></tr>
		<tr><th>Operational</th><td>{{ (facility.operational_percent()*100) | int }}%</td></tr>
	  </table>
	</div>
  </div>
</div>