<h5><a href="{{ url_for('facility.facility', facilityID=facility.facilityID) }}">{{facility.identifier}}</a></h5>

<div class="panel">
  {% if facility.structures %} {# REMOVE IF move tabs are added in future #}
  <ul id="facility-{{facility.facilityID}}-popup" class="nav nav-tabs nav-justified">
	<li class="active"><a href="#facility-{{facility.facilityID}}-basics" data-toggle="tab">Basics</a></li>
	{% if facility.structures %}
	<li><a href="#facility-{{facility.facilityID}}-structures" data-toggle="tab">Structures</a></li>
	{% endif %}
  </ul>
  {% endif %}
  <div id="facility-{{facility.facilityID}}-Content" class="tab-content">
	<div class="tab-pane fade active in" id="facility-{{facility.facilityID}}-basics">
	  {% if facility.default_pic %}
	  <div class="thumbnail">
		<img src="{{ url_for('facility.view_file', facilityID=facility.facilityID, filename=facility.default_pic.file.fileName, file_type='picture') }}" alt="{{facility.facilityID}}-default-image" class="img-rounded img-responsive">
	  </div>
	  {% endif %} 
	  <table class="table table-bordered table-condensed">
		<tr><th>Designation</th><td>{{facility.designation.name}}</td></tr>
		<tr><th>Condition</th><td>{{facility.condition()}}</td></tr>
		<tr><th>Operational</th><td>{{ (facility.operational_percent()*100) | int }}%</td></tr>
	  </table>
	</div>
	{% if facility.structures %}
	<div class="tab-pane fade" id="facility-{{facility.facilityID}}-structures">
	  <table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr><th>Structure Type</th><th>Condition</th><tr>
		</thead>
		<tbody>
		{% autoescape false %}
			{{rows}}
		{% endautoescape %}
		</tbody>
	  </table>
	</div>
	{% endif %}
  </div>
</div>