<h5><a href="{{ url_for('facility.facility', facilityID=facility.facilityID) }}">{{facility.identifier}}</a></h5>
<div class="panel">
  <div id="facility-{{facility.facilityID}}-Content" class="tab-content">
	<div class="tab-pane fade active in" id="facility-{{facility.facilityID}}-assets">
	  <table class="table table-bordered table-condensed">
	  	{% for cadre, titles in personnel.items() %}
		<tr><th colspan="2" style="text-align:center;vertical-align: middle;">{{ cadre }}</th></tr>
			{% for title, positions in titles.items() %}
			<tr><th>{{ title }}</th><th>{{ positions.values() | sum(attribute='filled') }}</th></tr>
				{% for p, data in positions.items() %}
				<tr><td>{{ p }}</td><td>{{ data['vacant_or_person'] }}</td></tr>
				{% endfor %}
			{% endfor %}
		{% endfor %}
	  </table>
	</div>
  </div>
</div>