<h5><a href="{{ url_for('facility.facility', facilityID=structure.facility.facilityID) }}">{{structure.identifier}}</a></h5>

<div class="panel">
  {% if structure.inspection %} {# REMOVE IF additional tabs are included #}
  <ul id="structure-{{structure.id}}-popup" class="nav nav-tabs nav-justified">
    <li class="active"><a href="#structure-{{structure.id}}-basics" data-toggle="tab">Basics</a></li>
    {% if structure.inspection %}
    <li><a href="#structure-{{structure.id}}-inspection" data-toggle="tab">Inspection</a></li>
    {% endif %}
  </ul>
  {% endif %}
  <div id="structure-{{structure.id}}-Content" class="tab-content">
    <div class="tab-pane fade active in" id="structure-{{structure.id}}-basics">
      <table class="table table-bordered table-condensed">
        <tr><th>Facility</th><td>{{structure.facility.identifier}}</td></tr>                                
        {% for item in structure.basic_info %}
        <tr><th>{{ item['name'] }}</th><td>{{ item['value']|NoneFilter }}</td></tr>
        {% endfor %}
      </table>
    </div>
    {% if structure.inspection %}
    <div class="tab-pane fade" id="structure-{{structure.id}}-inspection">
      {% if structure.default_pic %}
      <div class="thumbnail">
        <img src="{{ url_for('facility.view_file', facilityID=structure.facilityID, filename=structure.default_pic.file.fileName, file_type='picture') }}" alt="{{structure.id}}-default-image" class="img-rounded img-responsive">
      </div>
      {% endif %} 
      <table class="table table-striped table-bordered table-condensed">
        <tbody>
            <tr><th>Condition</th><td>{{structure.inspection.avg}}</td></tr>
            <tr><th>Inspection Age</th><td>{{structure.inspection.age}} days ago</td></tr>
            <tr><th>Inspector</th><td>{{structure.inspection.inspectorName}}</td></tr>
        </tbody>
      </table>
    </div>
    {% endif %}
  </div>
</div>