
{% extends "layout.html" %}

{% block content %}
<div class="body-content">
    <div class="row">
      <h1>Delete</h1>
      <p>Are you sure you want to delete this file: {{ filename }}</p>
	    <form method="post" enctype="multipart/form-data">
  	    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
  	    <input class="btn btn-danger btn-submit" type="submit" value="Delete">
    	</form>
    </div>
</div>
{% endblock %}

