
{% extends "layout.html" %}

{% block css %}


  {% assets "css_leaflet" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}

  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-datepicker3.min.css') }}" />

  <style>
    #map { height: 340px; }
    .leaflet-bar a { background-color: #fff; border-bottom: 1px solid #ccc; color: #444; display: block; padding-left: 0; height: 26px; width: 26px; line-height: 1.45 !important; text-align: center; text-decoration: none; font: bold 18px 'Lucida Console', Monaco, monospace; }
  </style>
{% endblock %}

{% block head_script %}
  {% assets "js_leaflet" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock %}

{% block body_class %}body-fullscreen{% endblock %}
{% block body %}
<div id="sidebar" class="sidebar collapsed">
    <!-- Nav tabs -->
    <div class="sidebar-tabs">
        <ul role="tablist">
            <li><a href="#main-pane" role="tab"><i class="fa fa-sign-in"></i></a></li>
            <li><a href="#facility-pane" role="tab"><i class="fa fa-hospital-o"></i></a></li>
            <li><a href="#structure-pane" role="tab"><i class="fa fa-home"></i></a></li>
            <li><a href="#asset-pane" role="tab"><i class="fa fa-medkit"></i></a></li>
            <li><a href="#personnel-pane" role="tab"><i class="fa fa-user-md"></i></a></li>
        </ul>

        <ul role="tablist">
            <li><a href="#help-pane" role="tab"><i class="fa fa-question-circle"></i></a></li>
        </ul>
    </div>

    {% from "_formhelpers.html" import render_field, render_datefield, form_field %}
    <!-- Tab panes -->
    <div class="sidebar-content">
        <div class="sidebar-pane" id="main-pane">
            <h1 class="sidebar-header">MOHA <small>Ministry Of Health Assets</small><span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>

            {% if not current_user.is_authenticated and loginForm %}
            <p>
              <div class="well well-sm">
                <form id="loginForm" method="POST" class="" role="login">
                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                  {{ loginForm.next }}
                  <div class="form-group">
                    {{ loginForm.email(placeholder="Email", class_="form-control") }}
                  </div>
                  <div class="form-group">
                    {{ loginForm.password(placeholder="Password", class_="form-control") }}
                  </div>
                  <button type="submit" class="btn btn-normal">Log in</button> <span class="pull-right"><a class="btn btn-info" style="color:rgb(255,255,255);" href="{{ url_for('user.register') }}">Register Here</a></span>
                </form>
              </div>
            </p>
            {% else %}
            <p>
              <div class="well well-sm">
                <div class="row">
                  <div class="col-md-8">
                    <p style="text-align: center;vertical-align: center;">Currently logged in as: <em>{{ current_user.full_name }}</em></p>
                  </div>
                  <div class="col-md-4">
                    <button role="button" class="btn btn-warning" onclick="go_log_out()"><i class="fa fa-sign-out"></i> Log out</button>
                    <script>
                    function go_log_out() {
                      location.href = "{{ url_for('public.logout') }}"
                    }
                    </script>
                  </div>
                </div>
              </div>
            </p>
            {% endif %}

            {% if not current_user.is_authenticated %}
              <h4>Welcome Guest</h4>
              <p>You may browse some of MOHA's data here without registering; however, if you want to view the details of any particular facility then you will be required to register an account and have a current user approve your request.</p>
            {% else %}
              <h4>Welcome</h4>
              <p>Please be mindful of your actions so that you do not provide fraudulent data or remove data pertinent to the other users of this application. Your actions are recorded.</p>
            {% endif %}

            <h4>What is this?</h4>
            <p>
              This is the Ministry of Health Assets Unit's application. The application contains data related to:
              <ul>
                <li>Faclities</li>
                <li>Structures</li>
                <li>Assets</li>
                <li>Personnel</li>
              </ul>
              to help assist them in decision making and having total awareness of the health facilities under their scope of responsibility.
            </p>

        </div>

        <div class="sidebar-pane" id="facility-pane">
            <h1 class="sidebar-header">Facilities<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>

            <p>
              <div class="btn-group">
                <button id="mapFacilitiesButton" role="button" class="btn btn-primary"><i class="fa fa-map"></i> Load Map</button>
                <button role="button" class="btn btn-info" onclick="go_list_facilities()"><i class="fa fa-list"></i> List View</button>
              </div>
            </p>
            <script>
            function go_list_facilities() {
              location.href = "{{ url_for('facility.search') }}"
            }
            </script>

            <p>
              <form id="mapFilterFacility" class="form form-register" method="POST" action="" role="form" enctype="multipart/form-data">

                {{ render_field(mapFacilityForm.designationID) }}

                {{ render_field(mapFacilityForm.status) }}

                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      {{ render_field(mapFacilityForm.great_less) }}
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                        {{ render_field(mapFacilityForm.condition) }}
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      {{ form_field(mapFacilityForm, mapFacilityForm.min_overdue, prepend='>', append='%') }}
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      {{ form_field(mapFacilityForm, mapFacilityForm.max_overdue, prepend='<', append='%') }}
                    </div>
                  </div>
                </div>
                
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      {{ form_field(mapFacilityForm, mapFacilityForm.min_operational, prepend='>', append='%') }}
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      {{ form_field(mapFacilityForm, mapFacilityForm.max_operational, prepend='<', append='%') }}
                    </div>
                  </div>
                </div>
                

              </form>
            </p>
        </div>

        <div class="sidebar-pane" id="structure-pane">
            <h1 class="sidebar-header">Structures<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>

            <p>
              <div class="btn-group">
                <button id="mapStructuresButton" role="button" class="btn btn-primary"><i class="fa fa-map"></i> Load Map</button>
                <button role="button" class="btn btn-info" onclick="go_list_structures()"><i class="fa fa-list"></i> List View</button>
              </div>
            </p>
            <script>
            function go_list_structures() {
              location.href = "{{ url_for('structure.search') }}"
            }
            </script>

            <p>
              <form id="mapFilterStructure" class="form form-register" method="POST" action="" role="form" enctype="multipart/form-data">

                {{ render_field(mapStructureForm.structure_type) }}

                {{ render_field(mapStructureForm.sub_type) }}

                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      {{ render_field(mapStructureForm.great_less) }}
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                        {{ render_field(mapStructureForm.condition) }}
                    </div>
                  </div>
                </div>

                {{ render_field(mapStructureForm.age) }}

              </form>
            </p>
        </div>

        <div class="sidebar-pane" id="asset-pane">
            <h1 class="sidebar-header">Assets<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>

            <p>
              <div class="btn-group">
                <button role="button" class="btn btn-info" onclick="go_list_assets()"><i class="fa fa-list"></i> List View</button>
              </div>
            </p>
            <script>
            function go_list_assets() {
              location.href = "{{ url_for('asset.search') }}"
            }
            </script>

            <p>
              <form id="mapFilterAsset" class="form form-register" method="POST" action="" role="form" enctype="multipart/form-data">

                {{ render_field(mapAssetForm.categoryID) }}

                {{ render_field(mapAssetForm.status) }}

                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      {{ render_field(mapAssetForm.great_less) }}
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                        {{ render_datefield(mapAssetForm.date) }}
                    </div>
                  </div>
                </div>

              </form>
            </p>
        </div>

        <div class="sidebar-pane" id="personnel-pane">
            <h1 class="sidebar-header">Personnel<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>

            <p>
              <div class="btn-group">
                <button id="mapPersonnelButton" role="button" class="btn btn-primary"><i class="fa fa-map"></i> Load Map</button>
                <button role="button" class="btn btn-info" onclick="go_list_personnel()"><i class="fa fa-list"></i> List View</button>
                <button role="button" class="btn btn-warning" onclick="go_tree_personnel()"><i class="fa fa-tree"></i> Tree View</button>
              </div>
            </p>
            <script>
            function go_list_personnel() {
              location.href = "{{ url_for('personnel.search') }}"
            }
            function go_tree_personnel() {
              location.href = "{{ url_for('personnel.sort_cadre') }}"
            }
            </script>

            <p>
              <form id="mapFilterPersonnel" class="form form-register" method="POST" action="" role="form" enctype="multipart/form-data">

                {{ render_field(mapPersonnelForm.cadreID) }}

              </form>
            </p>
        </div>

        <div class="sidebar-pane" id="help-pane">
            <h1 class="sidebar-header">Help<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>

            <h4>Help</h4>
            <p>For any questions about using this application try reaching a current user of the application first. Your best bet is asking around Assets Unit team in the Ministry of Health.</p>
            <p>If you are sure you are facing a technical issue (you have seen many 500 error pages) then report the issue to the application development team at OGCIO. And if that fails the original creator may be available to fix any bugs found.</p>
            <p>Any request for new features should be made through OGCIO; although the original creator may be available to discuss the feature request.</p>

            <h4>About</h4>
            <p>This applications is available to all within the VanGov network, but not on the internet itself. Access to data is limited by the current users of the application granting access to new users that register an account.</p>
            <p>This application was built by Michael Toohig as a Peace Corps Volunteer to the Office of the Government Chief Information Officer. This application is built using Flask, a Python micro-webframework and the data is hosted on OGCIO servers. The application runs on WEBAPP03, a Debian virtual machine, with Nginx as the reverse proxy to serve the HTML requests to Gunicorn as a WSGI protocol middle-man to Flask.</p>
            <p>The source code of this project can be found <a href="https://bitbucket.org/mtoohig/moha" target="_blank">here</a>. The README file in the repository is also available on WEBAPP03 server which details how the application was deployed and how to easy deploy other applications on the same server. Multiple python applications are currently running on WEBAPP03 as a demostration.</p> 

            <h4>MIT License</h4>
            <p>Copyright (c) 2017 Michael Toohig</p>
            <p>
              Permission is hereby granted, free of charge, to any person obtaining a copy
              of this software and associated documentation files (the "Software"), to deal
              in the Software without restriction, including without limitation the rights
              to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
              copies of the Software, and to permit persons to whom the Software is
              furnished to do so, subject to the following conditions:
            </p>
            <p>
              The above copyright notice and this permission notice shall be included in all
              copies or substantial portions of the Software.
            </p>
            <p>
              THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
              IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
              FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
              AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
              LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
              OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
              SOFTWARE.
            </p>
 
        </div>
    </div>
</div>

<div style="height:100%;width:auto;" id="map" class="sidebar-map"></div>

<div id="rfsidebar">
  <div class="sidebar-wrapper">
    <div class="panel panel-default" id="features">
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-8 col-md-8">
            <input type="text" class="form-control search" placeholder="Filter" />
          </div>
          <div class="col-xs-4 col-md-4">
            <button type="button" class="btn btn-primary pull-right sort" data-sort="feature-name" id="sort-btn"><i class="fa fa-sort"></i>&nbsp;&nbsp;Sort</button>
          </div>
        </div>
      </div>
      <div class="sidebar-table">
        <table class="table table-hover" id="feature-list">
          <thead class="hidden">
            <tr>
              <th>Icon</th>
            <tr>
            <tr>
              <th>Name</th>
            <tr>
            <tr>
              <th>Chevron</th>
            <tr>
          </thead>
          <tbody class="list"></tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script>
  BASECOORDS = [-16.6,168.2]
  var marker_layer = L.layerGroup(null);
  var structure_layer = L.layerGroup(null);

  // From Karae's sidebar scripts
  // Defines the style of the sidebar item when clicked
  var highlight = L.geoJson(null);
  var highlightStyle = {
    stroke: false,
    fillColor: "#FF0000",
    fillOpacity: 0.4,
    radius: 10
  };

  // From Karae's sidebar scripts
  // This function listens for clicks on the sidebar and moves map to the position of the marker
  function sidebarClick(id) {
    var layer = marker_layer.getLayer(id);
    if (layer instanceof L.Marker) {
    mymap.setView([layer.getLatLng().lat, layer.getLatLng().lng], 17);
    layer.fire("click");
    }
  }

  function makeMap() {
      var healthzones = L.geoJSON(null, null);
      var areacouncils = L.geoJSON(null, null);
      var markerLayer = L.layerGroup(null);
      
      var ACCESS_TOKEN = 'pk.eyJ1IjoiYXNzZXRzdW5pdG1vaCIsImEiOiJjajc1a2U2eW0xYmJhMnFvY3NvN3hld2RwIn0.6uZBPF2jwNIesPvWtIYZrA';
      var MB_ATTR = 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
        '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
        'Imagery © <a href="http://mapbox.com">Mapbox</a>';
      var MB_URL = 'https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=' + ACCESS_TOKEN;

      // Create the map
      mymap = L.map('map', {
        zoomControl: false,
        zoomSnap: 0.25,
        zoomDelta: 0.5,
        zoomAnimation: true,
      }).setView(BASECOORDS, 6.5);

      // Add attribution to bottom of map
      L.tileLayer(MB_URL, {attribution: MB_ATTR, id: 'mapbox.streets'}).addTo(mymap);

      // Create sidebar
      var sidebar = L.control.sidebar({
        autopan: true,
        closeButton: true,
        id: 'sidebar',
        position: 'left'
      }).addTo(mymap);

      // Open main panel of sidebar when page loads
      sidebar.open('main-pane');

      // Create spider for exploding markers that are too close together
      var spider = new OverlappingMarkerSpiderfier(mymap);

      //
      // BEGIN CUSTOM PROVINCIAL BUTTONS //
      //
      // BaseCoords for all provinces
      var TORBA = {
        lat: -13.7,
        long: 166.8,
        zoom: 9
      };
      var PENAMA = {
        lat: -15.45,
        long: 167.56,
        zoom: 9.5
      };
      var SANMA = {
        lat: -15.2,
        long: 166.6,
        zoom: 9.6
      };
      var MALAMPA = {
        lat: -16.4,
        long: 167.4,
        zoom: 9.6
      };
      var SHEFA = {
        lat: -17.2,
        long: 167.95,
        zoom: 9.1
      };
      var TAFEA = {
        lat: -19.45,
        long: 169.15,
        zoom: 9
      };

      // Override the default control panel to add province zoom buttons
      L.Control.zoomProvinces = L.Control.extend({
        options: {
          position: 'topleft',
          zoomInText: '+',
          zoomInTitle: 'Zoom in',
          zoomOutText: '-',
          zoomOutTitle: 'Zoom out',
          zoomHomeText: '<i class="fa fa-home" style="line-height:1.65;"></i>',
          zoomHomeTitle: 'Zoom home',
          zoomTorbaText: '<img style="width:20px;height:auto;" src="{{ url_for('static', filename='img/vu-tor.gif') }}">',
          zoomTorbaTitle: 'Zoom TORBA',
          zoomPenamaText: '<img style="width:20px;height:auto;" src="{{ url_for('static', filename='img/vu-pen.gif') }}">',
          zoomPenamaTitle: 'Zoom PENAMA',
          zoomSanmaText: '<img style="width:20px;height:auto;" src="{{ url_for('static', filename='img/vu-san.gif') }}">',
          zoomSanmaTitle: 'Zoom SANMA',
          zoomMalampaText: '<img style="width:20px;height:auto;" src="{{ url_for('static', filename='img/vu-ma.gif') }}">',
          zoomMalampaTitle: 'Zoom MALAMPA',
          zoomShefaText: '<img style="width:20px;height:auto;" src="{{ url_for('static', filename='img/vu-she.gif') }}">',
          zoomShefaTitle: 'Zoom SHEFA',
          zoomTafeaText: '<img style="width:20px;height:auto;" src="{{ url_for('static', filename='img/vu-ta.gif') }}">',
          zoomTafeaTitle: 'Zoom TAFEA',

        },
        onAdd: function(mymap) {
          var controlName = 'gin-control-zoom',
              container = L.DomUtil.create('div', controlName + ' leaflet-bar'),
              options = this.options;

          this._zoomInButton = this._createButton(options.zoomInText, options.zoomInTitle, controlName + '-in', container, this._zoomIn);
          this._zoomHomeButton = this._createButton(options.zoomHomeText, options.zoomHomeTitle, controlName + '-home', container, this._zoomHome);
          this._zoomTorbaButton = this._createButton(options.zoomTorbaText, options.zoomTorbaTitle, controlName + '-torba', container, this._zoomTorba);
          this._zoomPenamaButton = this._createButton(options.zoomPenamaText, options.zoomPenamaTitle, controlName + '-penama', container, this._zoomPenama);
          this._zoomSanmaButton = this._createButton(options.zoomSanmaText, options.zoomSanmaTitle, controlName + '-sanma', container, this._zoomSanma);
          this._zoomMalampaButton = this._createButton(options.zoomMalampaText, options.zoomMalampaTitle, controlName + '-malampa', container, this._zoomMalampa);
          this._zoomShefaButton = this._createButton(options.zoomShefaText, options.zoomShefaTitle, controlName + '-shefa', container, this._zoomShefa);
          this._zoomTafeaButton = this._createButton(options.zoomTafeaText, options.zoomTafeaTitle, controlName + '-tafea', container, this._zoomTafea);
          this._zoomOutButton = this._createButton(options.zoomOutText, options.zoomOutTitle, controlName + '-out', container, this._zoomOut);

          this._updateDisabled();
          mymap.on('zoomend zoomlevelschange', this._updateDisabled, this);

          return container;
        },

        onRemove: function(mymap) {
          mymap.off('zoomend zoomlevelschange', this._updateDisabled, this);
        },

        _zoomIn: function(e) {
          this._map.zoomIn(e.shiftKey ? 3 : 1);
        },

        _zoomOut: function (e) {
          this._map.zoomOut(e.shiftKey ? 3 : 1);
        },

        _zoomHome: function(e) {
          mymap.setView(BASECOORDS, 6.5);
          // mymap.fitBounds(L.latLngBounds(markerLayer).pad(0.5));
          // Could not figure it out yet but I want to zoom to a level that would include all markers
          // It would auto adjust for screen sizes
        },

        _zoomTorba: function(e) {
          mymap.setView([TORBA.lat, TORBA.long], TORBA.zoom);
          // mymap.fitBounds(torbaMarkers.getBounds().pad(0.5));
        },

        _zoomPenama: function(e) {
          mymap.setView([PENAMA.lat, PENAMA.long], PENAMA.zoom);
        },

        _zoomSanma: function(e) {
          mymap.setView([SANMA.lat, SANMA.long], SANMA.zoom);
        },

        _zoomMalampa: function(e) {
          mymap.setView([MALAMPA.lat, MALAMPA.long], MALAMPA.zoom);
        },

        _zoomShefa: function(e) {
          mymap.setView([SHEFA.lat, SHEFA.long], SHEFA.zoom);
        },

        _zoomTafea: function(e) {
          mymap.setView([TAFEA.lat, TAFEA.long], TAFEA.zoom);
        },

        _createButton: function(html, title, className, container, fn) {
          var link = L.DomUtil.create('a', className, container);
          link.innerHTML = html;
          link.href = '#';
          link.title = title;

          L.DomEvent.on(link, 'mousedown dblclick', L.DomEvent.stopPropagation)
            .on(link, 'click', L.DomEvent.stop)
            .on(link, 'click', fn, this)
            .on(link, 'click', this._refocusOnMap, this);

          return link;
        },

        _updateDisabled: function() {
          var mymap = this._map,
            className = 'leaflet-disabled';

          L.DomUtil.removeClass(this._zoomInButton, className);
          L.DomUtil.removeClass(this._zoomOutButton, className);

          if (mymap._zoom === mymap.getMinZoom()) {
            L.DomUtil.addClass(this._zoomOutButton, className);
          }
          if (mymap._zoom === mymap.getMaxZoom()) {
            L.DomUtil.addClass(this._zoomInButton, className);
          }

        }
      });
      // Add the zoomprovinces to map
      var zoomProvinces = new L.Control.zoomProvinces();
      zoomProvinces.addTo(mymap);
      //
      // END CUSTOM PROVINCIAL BUTTONS
      //

      // Add mouse position to bottom of map
      var mousePosition = L.control.mousePosition({
        emptyString: '0º N<br>0º E',
        separator: '<br>',
        lngFormatter: function(num) {
          var direction = (num < 0) ? 'W' : 'E';
          deg = Math.floor(Math.abs(num));
          min = Math.floor((num - deg) * 60);
          sec = Math.round((num - deg - min / 60) * 3600 * 1000) / 1000;
          var formatted = deg + '&deg; ' + direction + ' '+min+'\''+sec+'"';
          return formatted; 
        },
        latFormatter: function(num) {
         var direction = (num < 0) ? 'S' : 'N';
          deg = Math.floor(Math.abs(num));
          min = Math.floor((Math.abs(num) - deg) * 60);
          sec = Math.round((Math.abs(num) - deg - min / 60) * 3600 * 1000) / 1000;
          var formatted = '&nbsp;&nbsp;' + deg + '&deg; ' + direction + ' '+min+'\''+sec+'"';
          return formatted;
        }
      }).addTo(mymap);

      // Add area measure controls to map
      var measureControl = L.control.measure({
        position: 'topleft',
        primaryLengthUnit: 'meters',
        secondaryLengthUnit: 'kilometers',
        primaryAreaUnit: 'sqmeters',
      }).addTo(mymap);
  };

  var layer = L.layerGroup();

  function triggerHealthZonesFilter() {
    var data = $.getJSON("{{ url_for('static', filename='data/healthzones.geojson') }}");
    data.then(function(data) {
      healthzones = L.geoJson(data, {
        style: function (feature) {
          province=feature.properties.province;
          province=$.trim(province);
              switch (true) {
                  case province == "TORBA": return {color: "#008000",weight: 1 };
                  case province == "SANMA": return {color: "#47B100",weight: 1 };
                  case province == "PENAMA": return {color: "#0000CC",weight: 1 };
                  case province == "MALAMPA": return {color: "#A3A300",weight: 1 };
                  case province == "SHEFA": return {color: "#C79500",weight: 1 };
                  case province == "TAFEA": return {color: "#FF3F00",weight: 1 };
                  default: return {color: "#CCCCCC",weight: 1 };
              }
        },
        onEachFeature: function (feature, layer) {
          layer.bindTooltip(feature.properties.healthZone, {noHide:true,direction:'auto'});
          var content = "<table class='table table-striped table-bordered table-condensed'>";
          content += "<tr><th>Health Zone</th><td colspan='2'>" + feature.properties.healthZone + "</td></tr>" +
          "<tr><th>Area Name</th><td>" + feature.properties.areaName + "</td></tr>" +
          "<tr><th>Province</th><td>" + feature.properties.province + "</td></tr>" +
          "</table>";
          layer.bindPopup(content);

          layer.on({
            click: function (e) {
            mainLabel=feature.properties.healthZone;
            $("#feature-title").html(mainLabel);
            $("#feature-info").html(content);
            $("#featureModal").modal("show");

            }
          });
        layer.on({
          mouseover: function (e) {
            var layer = e.target;
            layer.setStyle({
              weight: 6
            });
            if (!L.Browser.ie && !L.Browser.opera) {
              layer.bringToFront();
            }
          },
          mouseout: function (e) {
            layer.setStyle({
              weight: 1
            });
          }
        });
      }
      });
      mymap.addLayer(healthzones);
    });
  };

  var layer = L.layerGroup();

  function triggerAreaCouncilFilter() {
    var data = $.getJSON("{{ url_for('static', filename='data/areacouncils.geojson') }}");
    data.then(function(data) {
      areacouncils = L.geoJson(data, {
        style: function(feature) {
          province=feature.properties.Province;
          province=$.trim(province);
            switch (true) {
                case province == "TORBA": return {color: "#008000",weight: 1 };
                case province == "SANMA": return {color: "#47B100",weight: 1 };
                case province == "PENAMA": return {color: "#0000CC",weight: 1 };
                case province == "MALAMPA": return {color: "#A3A300",weight: 1 };
                case province == "SHEFA": return {color: "#C79500",weight: 1 };
                case province == "TAFEA": return {color: "#FF3F00",weight: 1 };
                default: return {color: "#CCCCCC",weight: 1 };
            }
        },
        onEachFeature: function(feature, layer) {
          layer.bindTooltip(feature.properties.Area_Council_Name, {noHide:true,direction:'auto'});
          var content = "<table class='table table-striped table-bordered table-condensed'>";
          content += "<tr><th>Health Zone</th><td colspan='2'>" + feature.properties.Area_Council_Name + "</td></tr>" +
          "<tr><th>Area Name</th><td>" + feature.properties.Island_Name + "</td></tr>" +
          "<tr><th>Province</th><td>" + feature.properties.Province + "</td></tr>" +
          "</table>";
          layer.bindPopup(content);

          layer.on({
            mouseover: function(e) {
              var layer = e.target;
              layer.setStyle({
                weight: 6,
              });
              if (!L.Browser.ie && !L.Browser.opera) {
                layer.bringToFront();
              }
            },
            mouseout: function(e) {
              layer.setStyle({
                weight: 1,
              });
            },
          });
        }
      });
      mymap.addLayer(areacouncils);
    })
  };

  function renderFacilityData(designationID, status, condition, great_less, min_overdue, max_overdue, min_operational, max_operational) {
    $.getJSON("{{ url_for('map.facilities') }}", 
        {'designationID': designationID,
         'status': status,
         'condition': condition,
         'great_less': great_less,
         'min_overdue': min_overdue,
         'max_overdue': max_overdue,
         'min_operational': min_operational,
         'max_operational': max_operational}, function(obj) {

        function iconChoice(arr) {
          if (arr == 'Aid Post') {
            return 'heart'
          } else if (arr == 'Dispensary') {
            return 'plus-square'
          } else if (arr == 'Health Centre') {
            return 'h-square'
          } else if (arr == 'National Administration') {
            return 'chevron-circle-up'
          } else if (arr == 'Provincial Administration') {
            return 'chevron-up'
          } else if (arr == 'Referral Hospital') {
            return 'hospital-o'
          } else if (arr == 'Provincial Hospital') {
            return 'hospital-o'
          } else if (arr == 'Residential') {
            return 'home'
          } else if (arr == 'Storage') {
            return 'cubes'
          } else {
            return 'plus'
          }
        };

        function iconColor(status, damaged) {
          if (status && damaged) {
            return 'orange'
          } else if (status && !damaged) {
            return 'green'
          } else if (!status && damaged) {
            return 'red'
          } else if (!status && !damaged) {
            return 'black'
          } else {
            return 'white'
          }
        };


        var markers = obj.data.map(function(arr) {
          var popup_html = '<div style="min-width: 200px;" id="popup-id-' + arr['facilityID'] + '">';
              popup_html +=  '<h5><a href="' + arr['facilityLink'] + '">' + arr['identifier'] + '</a></h5>';
              popup_html +=  '<div class="thumbnail">';
              popup_html +=    '<img src="' + "{{ url_for('static', filename='img/loading.gif') }}" + '" class="img-rounded img-responsive">';
              popup_html +=  '</div>';
              popup_html +='</div>';
          var facilityMarker = L.marker([arr['latitude'], arr['longitude']],
            {icon: L.AwesomeMarkers.icon({
              prefix: 'fa',
              icon: iconChoice(arr['designation']),
              markerColor: iconColor(arr['status'], arr['damaged']),
              spin: false,
            })
          }).bindPopup(popup_html);
          facilityMarker.data = arr;
          facilityMarker.bindTooltip(arr['identifier'], {sticky: true}).openTooltip();
          //facilityMarker.on('click', markerClick);
          facilityMarker.on('click', loadFacility);
          return facilityMarker;
        });

        mymap.removeLayer(marker_layer);
        marker_layer = L.layerGroup(markers);
        mymap.addLayer(marker_layer);
        //mymap.addLayer(areacouncils);
    })
  }

  function loadFacility(e) {
    $.getJSON("{{ url_for('map.load_facility') }}", {'facilityID': e.target.data.facilityID}, function(obj) {
      $('#popup-id-' + e.target.data.facilityID).html(obj.data);
    });
  }

  function renderStructureData(structure_type, sub_type, great_less, condition, age) {
    $.getJSON("{{ url_for('map.structures') }}", {'structure_type': structure_type, 'sub_type': sub_type, 'great_less': great_less, 'condition': condition, 'age': age}, function(obj) {

      var spider = new OverlappingMarkerSpiderfier(mymap, {keepSpiderfied: true, nearbyDistance: 1});
      
      var markers = obj.data.map(function(arr) {
        var popup_html = '<div style="min-width: 200px;" id="popup-id-' + arr['facilityID'] + '">';
              popup_html +=  '<h5><a href="' + arr['facilityLink'] + '">' + arr['identifier'] + '</a></h5>';
              popup_html +=  '<div class="thumbnail">';
              popup_html +=    '<img src="' + "{{ url_for('static', filename='img/loading.gif') }}" + '" class="img-rounded img-responsive">';
              popup_html +=  '</div>';
              popup_html +='</div>';
        var structureMarker = L.marker([arr['latitude'], arr['longitude']],
          {icon: L.AwesomeMarkers.icon({
            prefix: 'fa',
            icon: arr['icon'],
            markerColor: arr['color'],
            spin: false,
          })
        }).bindPopup(arr['empty_popup']);
        structureMarker.data = arr;
        structureMarker.bindTooltip(arr['identifier'], {sticky: true}).openTooltip();
        //structureMarker.on('click', markerClick);
        structureMarker.on('click', loadStructure);
        spider.addMarker(structureMarker);
        return structureMarker;
      });

      mymap.removeLayer(marker_layer);
      marker_layer = L.layerGroup(markers);
      mymap.addLayer(marker_layer);
    })
  }

  function loadStructure(e) {
    $.getJSON("{{ url_for('map.load_structure') }}", {'structureID': e.target.data.structureID}, function(obj) {
      $('#popup-id-' + e.target.data.structureID).html(obj.data);
    });
  }

  function renderAssetData(categoryID, status, great_less, date) {
    $.getJSON("{{ url_for('map.assets') }}", {'categoryID': categoryID, 'status': status, 'great_less': great_less, 'date': date}, function(obj) {
      
      var markers = obj.data.map(function(arr) {
        var popup_html = '<div style="min-width: 200px;" id="popup-id-' + arr['facilityID'] + '">';
              popup_html +=  '<h5><a href="' + arr['facilityLink'] + '">' + arr['identifier'] + '</a></h5>';
              popup_html +=  '<div class="thumbnail">';
              popup_html +=    '<img src="' + "{{ url_for('static', filename='img/loading.gif') }}" + '" class="img-rounded img-responsive">';
              popup_html +=  '</div>';
              popup_html +='</div>';
        var assetMarker = L.marker([arr['latitude'], arr['longitude']],
          {icon: L.AwesomeMarkers.icon({
            prefix: 'fa',
            icon: 'medkit',
            markerColor: 'blue',
            spin: false,
          })
        }).bindPopup(arr['empty_popup']);
        assetMarker.data = arr;
        assetMarker.bindTooltip(arr['identifier'], {sticky: true}).openTooltip();
        //assetMarker.on('click', markerClick);
        assetMarker.on('click', loadAssets);
        return assetMarker;
      });

      mymap.removeLayer(marker_layer);
      marker_layer = L.layerGroup(markers);
      mymap.addLayer(marker_layer);
    })
  }

  function loadAssets(e) {
    $.getJSON("{{ url_for('map.load_assets') }}", {'facilityID': e.target.data.facilityID, 'categoryID': e.target.data.categoryID}, function(obj) {
      $('#popup-id-' + e.target.data.facilityID).html(obj.data);
    });
  }

  function renderPersonnelData(cadreID) {
    $.getJSON("{{ url_for('map.personnel') }}", {'cadreID': cadreID}, function(obj) {
      
      var markers = obj.data.map(function(arr) {
        var popup_html = '<div style="min-width: 300px;" id="popup-id-' + arr['facilityID'] + '">';
              popup_html +=  '<h5><a href="' + arr['facilityLink'] + '">' + arr['identifier'] + '</a></h5>';
              popup_html +=  '<div class="thumbnail">';
              popup_html +=    '<img src="' + "{{ url_for('static', filename='img/loading.gif') }}" + '" class="img-rounded img-responsive">';
              popup_html +=  '</div>';
              popup_html +='</div>';
        var personnelMarker = L.marker([arr['latitude'], arr['longitude']],
          {icon: L.AwesomeMarkers.icon({
            prefix: 'fa',
            icon: 'user-md',
            markerColor: 'orange',
            spin: false,
          })
        }).bindPopup(arr['empty_popup']);
        personnelMarker.cadreID = cadreID;
        personnelMarker.data = arr;
        personnelMarker.bindTooltip(arr['identifier'], {sticky: true}).openTooltip();
        //personnelMarker.on('click', markerClick);
        personnelMarker.on('click', loadPersonnel);
        return personnelMarker;
      });

      mymap.removeLayer(marker_layer);
      marker_layer = L.layerGroup(markers);
      mymap.addLayer(marker_layer);
    })
  }

  function loadPersonnel(e) {
    $.getJSON("{{ url_for('map.load_personnel') }}", {'facilityID': e.target.data.facilityID, 'cadreID': e.target.cadreID}, function(obj) {
      console.log(obj);
      $('#popup-id-' + e.target.data.facilityID).html(obj.data);
    });
  }

  // This function runs on document ready and loads map, markers, sidebar, and area council layers
  $(function() {
      makeMap();
      renderFacilityData();
      syncSidebar();
      triggerAreaCouncilFilter();

      // Facilities Form
      // This function listens for changes to the facility form
      // Any change will send the form's data to renderFaciltiyData and then re-draw the markers
      $('#mapFilterFacility').change(function() {
        var designationID = $('#mapFilterFacility #designationID option:selected').val();
        var status = $('#mapFilterFacility #status option:selected').val();
        var condition = $('#mapFilterFacility #condition option:selected').val();       
        var great_less = $('#mapFilterFacility #great_less option:selected').val();
        var min_overdue = $('#mapFilterFacility #min_overdue').val();
        var max_overdue = $('#mapFilterFacility #max_overdue').val();
        var min_operational = $('#mapFilterFacility #min_operational').val();
        var max_operational = $('#mapFilterFacility #max_operational').val();
        renderFacilityData(designationID, status, condition, great_less, min_overdue, max_overdue, min_operational, max_operational)
      });
      $('#mapFacilitiesButton').on('click', function() {
        renderFacilityData()
      });

      // Structures Form
      // This function listens for changes to the structure form
      // Any change will send the form's data to renderStructureData and then re-draw the markers
      $(function() {
        // When hovering over the form the #structure_type is collected so it knows when it changes
        var prev_structure_type;
        $('#mapFilterStructure').on('mouseover', function() {
          prev_structure_type = $('#mapFilterStructure #structure_type option:selected').val();
        });
        $('#mapFilterStructure').change(function() {
          var structure_type = $('#mapFilterStructure #structure_type option:selected').val();
          // If the structure_type has changed then we need to reload the sub_types of the choosen structure_type
          if (structure_type != prev_structure_type) {          
            $('#mapFilterStructure #sub_type').empty();
            $.getJSON("{{ url_for('map.sub_type') }}", {'structure_type': structure_type}, function(obj) {
              $.each(obj.data, function(i, value) {
                $('#mapFilterStructure #sub_type').append('<option value="' + value[0] + '">' + value[1] + '</option>');
              });
            });
          };
          var sub_type = $('#mapFilterStructure #sub_type option:selected').val();
          var great_less = $('#mapFilterStructure #great_less option:selected').val();
          var condition = $('#mapFilterStructure #condition option:selected').val();
          var age = $('#mapFilterStructure #age').val();
          renderStructureData(structure_type, sub_type, great_less, condition, age)
        });
      });
      $('#mapStructuresButton').on('click', function() {
        renderStructureData()
      });

      // Assets Form
      // This function listens for changes to the asset form
      // Any changes will send the form's data to renderAssetData and then re-draw the markers
      $('#mapFilterAsset').change(function() {
        var categoryID = $('#mapFilterAsset #categoryID option:selected').val();
        var status = $('#mapFilterAsset #status option:selected').val();
        var great_less = $('#mapFilterAsset #great_less option:selected').val();
        var date = $('#mapFilterAsset #date').val();
        renderAssetData(categoryID, status, great_less, date)
      });

      // Personnel Form
      // This function listens for changes to the personnel form
      // Any change will send the form's data to the renderPersonnelData and then re-draw the markers
      $('#mapFilterPersonnel').change(function() {
        var cadreID = $('#mapFilterPersonnel #cadreID option:selected').val();
        renderPersonnelData(cadreID)
      });
      $('#mapPersonnelButton').on('click', function() {
        renderPersonnelData()
      });

  });


  $(document).ready(function() {
    $("#rfsidebar").css('height', '' + Math.round(.95 * $(window).height()));
    // setTimeout(function(){ map.invalidateSize()}, 400);

    $("#sidebar-hide-btn").click(function() {
      $('#rfsidebar').hide();
      $('#sidebar-show-btn').show();
    });
  });

  function syncSidebar() {
    /* Empty sidebar features */
    $("#feature-list tbody").empty();
    marker_layer.eachLayer(function (layer) {
      if (mymap.hasLayer(marker_layer)) {
        if (mymap.getBounds().contains(layer.getLatLng())) {
                        identifier=layer.data.identifier;
                        second_line=layer.data.second_line;

          $("#feature-list tbody").append('<tr class="feature-row" id="' + L.stamp(layer) + '" lat="' + layer.getLatLng().lat + '" lng="' + layer.getLatLng().lng + '"><td style="vertical-align: middle;"></td><td class="feature-name" style="white-space:normal !important;">' + identifier + '<br /><b>' + second_line + '</b></td><td style="vertical-align: middle;"><i class="fa fa-chevron-right pull-right"></i></td></tr>');
        }
      }
    });

     /* Update list.js featureList */
    featureList = new List("features", {
      valueNames: ["feature-name"]
    });
    featureList.sort("feature-name", {
      order: "asc"
    });
  }

  $(document).ready(function() {
  /* Filter sidebar feature list to only show features in current map bounds */
  mymap.on("moveend", function (e) {
       syncSidebar();
  });
  });


  $(document).on("click", ".feature-row", function(e) {
    $(document).off("mouseout", ".feature-row", clearHighlight);
    sidebarClick(parseInt($(this).attr("id"), 10));
  });

  $(document).on("mouseover", ".feature-row", function(e) {
    highlight.clearLayers().addLayer(L.circleMarker([$(this).attr("lat"), $(this).attr("lng")], highlightStyle));
  });

  $(document).on("mouseout", ".feature-row", clearHighlight);

  function clearHighlight() {
    highlight.clearLayers();
  }



</script>

{% assets "js" %}
  <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-datepicker.min.js') }}"></script>

<script>
  $('.datepicker').datepicker();
</script>

<!-- Notify for flashed messages -->
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <script>
      $(function() {
        $.notify({
            message: "{{ message }}"
          },{
            type: '{{ category }}',
            animate :{
              enter: 'animated fadeInUp',
              exit: 'animated fadeOutUp'
            },
            placement: {
              from: 'bottom',
              align: 'right'
            },
            offset: 20,
            spacing: 10,
            z_index: 1031,
            delay: 4500
          })
      }); 
      </script>
    {% endfor %}
  {% endif %}
{% endwith %}

{% endblock %}
