
{% extends "layout.html" %}

{% block maphead %}
{{ mymap.js }}
{% endblock %}

{% block content %}
<div class="body-content">
    <div class="row">
      <h1>Map test</h1>

        {{ mymap.html }}

    </div>
    <div class="row">
    	<h3>Facilities without GPS coordinates</h3>
    	<ul>
    	{% for facility in no_gps_facilities %}
    		<li><a href="{{ url_for('facility.facility', facilityID=facility.facilityID) }}">{{ facility.facilityName }}</a></li>
    	{% else %}
    		<li>fail</li>
    	{% endfor %}    	
    	</ul>
    </div>
</div>
{% endblock %}

