
{% extends "layout.html" %}

{% block content %}
<div class="body-content">
    <div class="row">
      <h1>Upload</h1>
      <p>Max upload size: {{ upload_limit / 1024 / 1024}} MB</p>
	    <form method=post enctype=multipart/form-data>
	    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
	    <p><input type="file" name="file" mutiple="">
	    <input type="submit" value="Upload">
    	</form>
    </div>
   	<div class="row">
   		<h1>Files available</h1>
   		<ul>
   		{% for file in files %}
   			<li><a href="{{ url_for('public.uploaded_file', filename=file) }}" target="_blank">{{ file }}</a><a class="btn btn-warning" href="{{ url_for('public.delete_file', filename=file) }}">Delete File &raquo;</a></li>
   		{% else %}
   			<li>No files available</li>
   		{% endfor %}
   		</ul>
   	</div>
</div>
{% endblock %}

