/* =============================================================================
   App specific CSS file.
   ========================================================================== */

html, body {
  height: 100%;
}
.body-sidebar {
  padding: 50px 0 0 0;
}

body .body-fullscreen {
  padding: 0px !important;
}

.navmenu {
  padding-top: 50px;
}
.navmenu-nav > li > a {
  height: 3em;
}

.navbar {
  display: block;
  text-align: center;
}
.navbar-brand {
  display: inline-block;
  float: none;
}
.navbar-toggle {
  position: absolute;
  float: left;
  margin-left: 15px;
}

.container {
  max-width: 100%;
}

.content {
  margin: 0 15px 0 15px;
}

@media (min-width: 1px) {
  .navbar-toggle {
    display: block !important;
  }
}

@media (min-width: 992px) {
  .body-sidebar {
    padding: 0 0 0 300px;
  }
  .navmenu {
    padding-top: 0;
    width:300px;
  }
  .navbar {
    display: none !important; /* IE8 fix */
  }
}














/* universal */

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.container-narrow{
  margin: 0 auto;
  max-width: 700px;
}

/* Forms */

.form-register {
  width: 100%;
}

.form-register .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* gallery */
/* This is used in tab_pictures.html to allow rows to cleanly stack together */
/* https://www.codeply.com/go/lUbs1JgXUd */
@media (min-width:1200px){
    .auto-clear .col-lg-1:nth-child(12n+1){clear:left;}
    .auto-clear .col-lg-2:nth-child(6n+1){clear:left;}
    .auto-clear .col-lg-3:nth-child(4n+1){clear:left;}
    .auto-clear .col-lg-4:nth-child(3n+1){clear:left;}
    .auto-clear .col-lg-6:nth-child(odd){clear:left;}
}
@media (min-width:992px){
    .auto-clear .col-md-1:nth-child(12n+1){clear:left;}
    .auto-clear .col-md-2:nth-child(6n+1){clear:left;}
    .auto-clear .col-md-3:nth-child(4n+1){clear:left;}
    .auto-clear .col-md-4:nth-child(3n+1){clear:left;}
    .auto-clear .col-md-6:nth-child(odd){clear:left;}
}
@media (min-width:768px){
    .auto-clear .col-sm-1:nth-child(12n+1){clear:left;}
    .auto-clear .col-sm-2:nth-child(6n+1){clear:left;}
    .auto-clear .col-sm-3:nth-child(4n+1){clear:left;}
    .auto-clear .col-sm-4:nth-child(3n+1){clear:left;}
    .auto-clear .col-sm-6:nth-child(odd){clear:left;}
}
@media (max-width:767px){
    .auto-clear .col-xs-1:nth-child(12n+1){clear:left;}
    .auto-clear .col-xs-2:nth-child(6n+1){clear:left;}
    .auto-clear .col-xs-3:nth-child(4n+1){clear:left;}
    .auto-clear .col-xs-4:nth-child(3n+1){clear:left;}
    .auto-clear .col-xs-6:nth-child(odd){clear:left;}
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999999;
}

footer a {
  color: #999999;
}

footer p {
  float: right;
  margin-right: 25px;
}

footer ul {
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

footer .company {
  float: left;
  margin-left: 25px;
}

footer .footer-nav {
  float: right;
  margin-right: 25px;
  list-style: none;
}

/* color elements */

#bldg {
  border-color: white;
} 
.huge {
  font-size: 40px;
}
.mid {
  font-size: 20px;
}
.mini {
  font-size: 10px;
}

.panel-green,
.panel-green-sm {
  border-color: #5cb85c;
}
.panel-green > .panel-heading {
  border-color: #5cb85c;
  color: white;
  background-color: #5cb85c;
}
.panel-green-sm > .panel-heading {
  border-color: #5cb85c;
  color: white;
  background-color: #5cb85c;
  padding-top: 4px;
  padding-bottom: 4px; 
}
.panel-green > a {
  color: #5cb85c;
}
.panel-green > a:hover {
  color: #3d8b3d;
}
.panel-red,
.panel-red-sm {
  border-color: #d9534f;
}
.panel-red > .panel-heading {
  border-color: #d9534f;
  color: white;
  background-color: #d9534f;
}
.panel-red-sm > .panel-heading {
  border-color: #d9534f;
  color: white;
  background-color: #d9534f;
  padding-top: 4px;
  padding-bottom: 4px; 
}
.panel-red > a {
  color: #d9534f;
}
.panel-red > a:hover {
  color: #b52b27;
}
.panel-yellow,
.panel-yellow {
  border-color: #f0ad4e;
}
.panel-yellow > .panel-heading {
  border-color: #f0ad4e;
  color: white;
  background-color: #f0ad4e;
}
.panel-yellow-sm > .panel-heading {
  border-color: #f0ad4e;
  color: white;
  background-color: #f0ad4e;
  padding-top: 4px;
  padding-bottom: 4px; 
}
.panel-yellow > a {
  color: #f0ad4e;
}
.panel-yellow > a:hover {
  color: #df8a13;
}
.btn-green {
  border-color: #5cb85c;
  color: white;
  background-color: #5cb85c;
}
.btn-green-sm{
  border-color: #5cb85c;
  color: white;
  background-color: #5cb85c;
}
.btn-green-sm > .row > .col-xs-6 {
  padding-left: 5px;
  padding-right: 5px;
}
.btn-red {
  border-color: #d9534f;
  color: white;
  background-color: #d9534f;
}
.btn-yellow {
  border-color: #f0ad4e;
  color: white;
  background-color: #f0ad4e; 
} 
.td-green {
  border-color: #5cb85c;
  color: white;
  background-color: #5cb85c;  
}
.td-red {
  border-color: #d9534f;
  color: white;
  background-color: #d9534f;
}
.td-yellow {
  border-color: #f0ad4e;
  color: white;
  background-color: #f0ad4e; 
}
.btn-bldg {
  height: 3em;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-bottom: 4px;
}

.list-group-submenu {
  margin-left:20px;
}

.narrow {
  padding: 2 !important;
  margin: 0;
  max-width: 15px;
  height: auto;
  padding-bottom: 0px;
  border-left: 1px solid lightgray;
}


/* NOTES */

.note-panel {
  max-height: 400px;
  overflow-y: scroll;
  width: 100%;
}

.panel-collapse div.list-group div.list-group{margin: 0;}
.panel-collapse div.list-group .list-group a.list-group-item {border-top: 1px solid #ddd !important;border-bottom: 0;padding-left: 30px;}
.panel-collapse .list-group-item li.list-group-item {border-top: 1px solid #DDD !important;}
.panel-collapse>.list-group .list-group-item:first-child {border-top-right-radius: 0;border-top-left-radius: 0;}
.panel-collapse>.list-group .list-group-item {border-width: 1px 0;}
.panel-collapse>.list-group {margin-bottom: 0;}
.panel-collapse .list-group-item {border-radius:0;}

.panel-collapse .list-group .list-group {margin: 0;margin-top: 10px;}
.panel-collapse .list-group-item li.list-group-item {margin: 0 -15px;border-top: 1px solid #ddd !important;border-bottom: 0;padding-left: 30px;}
.panel-collapse .list-group-item li.list-group-item:last-child {padding-bottom: 0;}



.blackiconcolor {color:black;}



.black {
  background-color: rgb(92, 92, 92);
  color: white;
}
.red {
  background-color: #d9534f;
  color: black;
}
.yellow {
  background-color: #f0ad4e;
  color: black;
}
.green {
  background-color: #5cb85c;
  color: white;
}



/* Search forms in tables are tight so reduce padding to show the search form input easier */
#table-search-form, .form-control {
  padding: 0 5px 0 5px;
}



/* Make sure images make nice grids behind inspections

Source :: https://jsfiddle.net/wqdm1jjt/ */
.row.fix {
  display: flex;
  flex-wrap: wrap;
}

.panel-title, a {
  padding-left: 10px;
}






/* Structures panel group collapse */
.hiddenRow {
  padding: 0 !important;
}

.accordion-toggle > td {

}

.structure-row {
  border: gray solid 2px;
}
.structure-data {
  border: gray solid 2px;
  background-color: yellow;
}

.accordion-option {
  /* width: 100%; */
  float: left;
  clear: both;
  margin: 15px 0;
}

.accordion-option .title {
  font-size: 20px;
  font-weight: bold;
  float: left;
  padding: 0;
  margin: 0;
}

.accordion-option .toggle-accordion {
  float: right;
  font-size: 16px;
  color: #6a6c6f;
}

.accordion-option .toggle-accordion:before {
  content: "Expand All";
}

.accordion-option .toggle-accordion.active:before {
  content: "Collapse All";
}

.panel-default>.panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #e4e5e7;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.panel-default>.panel-heading a {
  display: block;
  padding: 10px 15px;
}

/*
.panel-default>.panel-heading a:after {
  content: "";
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  float: right;
  transition: transform .25s linear;
  -webkit-transition: -webkit-transform .25s linear;
}

.panel-default>.panel-heading a[aria-expanded="true"] {
  background-color: #eee;
}

.panel-default>.panel-heading a[aria-expanded="true"]:after {
  content: "\2212";
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.panel-default>.panel-heading a[aria-expanded="false"]:after {
  content: "\002b";
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

*/

.panel-transparent {
  background: none;
}

.panel-transparent .panel-heading{
  background: rgba(122, 130, 136, 0.2)!important;
}

.panel-transparent .panel-body{
  background: rgba(46, 51, 56, 0.2)!important;
  border: lightgray solid 2px;
}

.structure-info {
  padding-top: 1em;
}



#rfsidebar {
    top: 10px;
    right: 10px;
  margin-top:0px;
  width: 200px;
  max-width: 100%;
  float: right;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  z-index: 999;
  margin-right: 2px;
  position: absolute;
}   

.table {
    margin-bottom: 0px;
}

.feature-row {
  cursor: pointer;

}
.sidebar-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: hidden;

}

.sidebar-table {
  position: absolute;
  width: 100%;
  top: 80px;
  bottom: 0px;
  overflow-y: scroll;
  overflow-x: hidden;
    background-color: rgba(255, 255, 255, 0.4);
}
.sl-list{
  margin: 0 auto;
  padding: 0;
  list-style: none;
  width:100%;
}
.sl-list ul{
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #F5F5F5;
}

.sl-list li{
  padding: 0 5px;
  line-height: 35px;
  border-bottom: 1px solid #e0e0e0;
  word-break: break-all;
  white-space: normal;
}
.sl-list li:hover{
  background: #BDD9FF;
}
.selected,.selected input{
  background:#BDD9FF;

}


.datepicker.dropdown-menu {
  background-color:#FFF;
}