{% extends 'admin/index.html' %}

{% block body %}
	<h3>MOHA Administrative Panels</h3>
	<p>From here you can easily manage your data. Add, Edit, and Delete items from the database as well as edit the standard list of different structure types, facility types, asset types, etc.</p>
{% endblock %}