{% extends "layout.html" %}

{% block content %}
<div class="container-narrow">
{% if title %}
    <h1>{{ title }}</h1>
{% else %}
    <h1></h1>
{% endif %}
    <br/>
    {% from "_formhelpers.html" import render_field, render_datefield %}
    <form id="registerForm" class="form form-register" method="POST" action="" role="form" enctype="multipart/form-data">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>        

            {% for field in form %}
                {% if field.label.text == "CSRF Token" %}
                    {{ field }}
                
                {% elif field.widget.input_type == "hidden" %}
                    {{ field(class_="form-control") }}
                
                {% elif field.type == 'DateField' %}
                    {{ render_datefield(field) }}
                
                {% elif field.type == 'RadioField' %}
                    <div class='form-group'> 
                        {{ field.label }}
                        <br/>
                        <div class='btn-group' data-toggle='buttons'>
                            {% for r in field %}
                            <label class="btn btn-default {{ 'active' if r.checked else '' }}">
                                {{ r(type="radio")|safe }} {{ r.data }}
                            </label>
                            {% endfor %}
                        </div> 
                    </div>

                {% else %}
                    {{ render_field(field) }}
                {% endif %}
            {% else %}
                Error loading form. Please contact Application Administrator @ OGCIO
            {% endfor %}

            <p><input class="btn btn-primary btn-lg btn-submit btn-block" id="upload-button" type="submit" value="Submit"></p>
    </form>
</div>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-datepicker3.min.css') }}" />
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-datepicker.min.js') }}"></script>
<script>
$('.datepicker').datepicker();
</script>
{% endblock %}