
{% extends "layout.html" %}

{% block css %}{% endblock %}

{% block content %}
<div class="body-content">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        <div class='btn-toolbar pull-right'>
            <div class='btn-group'>      
              <button class="btn btn-default" data-toggle="collapse" href="#graphs"><i class="fa fa-bar-chart"></i> Graphs</button>
              <button class="btn btn-default dropdown-toggle btn-large" data-toggle="dropdown"><i class="fa fa-cogs"></i> Options <i class="fa fa-caret-down"></i></button>
              <ul class="dropdown-menu pull-right">
                <li><a href="{{ url_for('personnel.add_personnel') }}">Add Personnel</a></li>
                <li><a href="{{ url_for('personnel.upload_excel') }}"><i class="fa fa-file-excel-o"></i> Upload Excel</a></li>
              </ul>     
            </div>
        </div>
        Personnel
      </h1>
    </div>
  </div>

  <script>
    $.getJSON("{{ url_for('personnel._charts') }}", function(data) {
      $('#graphs').find('#chart-navigation').empty();
      $.each(data.charts, function(i, chart) {
        var $nav = $('<li>').append(
          $('<a href="#" data-toggle="tab">').text(chart.title).attr('href', '#chart-' + i)
          );
        var $chart = $('<div>', {'class': 'tab-pane', 'id': ""}).append(
          $('<embed>', {'style': "width:100%;height:75vh;", 'type': "image/svg+xml"})
          );
        var $chart = $chart.attr('id', 'chart-' + i);
        $('#graphs').find('#chart-navigation').append($nav);
        $('#graphs').find('#chart-div').append($chart);
        $('#chart-' + i).find('embed').attr('src', chart.data);
      });
      makeActive();
    });

    function makeActive() {
      $("#chart-navigation li:first").addClass("active");
      $("#chart-div div:first").addClass("active");
    };
  </script>

  <div class="row collapse graphTabs" id="graphs">
    <ul class="nav nav-pills" id="chart-navigation">
    </ul>

    <div class="tab-content clearfix" id="chart-div">
    </div>
  </div>

  {% block personnel_content %}{% endblock %}

</div>
{% endblock %}

