{% extends "layout.html" %}

{% block content %}
<div class="body-content">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        <div class='btn-toolbar pull-right'>
            <div class='btn-group'>      
              <button class="btn btn-default {{ 'disabled' if not charts }}" data-toggle="collapse" href="#graphs"><i class="fa fa-bar-chart"></i> Graphs</button>
              <button class="btn btn-default dropdown-toggle btn-large" data-toggle="dropdown"><i class="fa fa-cogs"></i> Options <i class="fa fa-caret-down"></i></button>
              <ul class="dropdown-menu pull-right">
                <li><a href="{{ url_for('personnel.edit_personnel', personnelID=person.id) }}">Update Person</a></li>
                <li class="divider"></li>
                <li><a href="{{ url_for('personnel.delete_placement', positionID=person.position.id) }}">Dismiss from position</a></li>
              </ul>     
            </div>
        </div>
        {{ person.identifier }}
      </h1>
    </div>
  </div>

  <div class="row collapse graphTabs" id="graphs">
    <ul class="nav nav-pills">
    {% for chart in charts %}
      <li class="{{'active' if loop.first}}"><a href="#chart-{{loop.index}}" data-toggle="tab">Chart {{loop.index}}</a></li>
    {% endfor %}
    </ul>

    <div class="tab-content clearfix">
    {% for chart in charts %}
      <div class="tab-pane {{'active' if loop.first }}" id="chart-{{loop.index}}">
        <embed style="width:100%;height:75vh;" type="image/svg+xml" src="{{ chart|safe }}"/>
      </div>
    {% endfor %}
    </div>
  </div>

  <div class="row">
	  <div class="col-md-8">
	    <div class="panel panel-default">
	    	{% if not person.employed %}
	    	<div class="panel-heading">
	    		<a href="{{ url_for('personnel.add_placement', personnelID=person.id) }}">Employ</a>
	    	</div>
	    	{% else %}
	    	<div class="panel-heading">
	    		<h3>{{ person.position.title.type }}
	    			<div class="pull-right">
	    				{% if person.position.facility %}
		    				<a href="{{ url_for('facility.facility', facilityID=person.position.facility.facilityID) }}" class="btn btn-primary">{{ person.position.facility.identifier }}</a>
	    				{% endif %}
	    			</div>
	    		</h3>
	    	</div>
	    	<div class="panel-body">
	    		{# info about the facility?? #}
	    		{% set facility = person.position.facility %}
	    		<table class="table table-hover">
	    			<thead>
	    				<tr>
	    					<th colspan="2">Personnel List</th>
	    				</tr>
	    			</thead>
	    			<tbody>
	    				{% for position in facility.positions %}
	    				<tr>
	    					{% if not position.vacant %}
	    					<td><a href="{{ url_for('personnel.view_personnel', personnelID=position.personnel.id) }}">{{ position.personnel.identifier }}</a></td>
	    					{% else %}
	    					<td>{{ position.vacant_or_person }}</td>
	    					{% endif %}
	    					<td>{{ position.title.type }}</td>
	    				</tr>
	    				{% else %}
	    				<tr>
	    					<td>No other positions defined at this facility</td>
	    				</tr>
	    				{% endfor %}
	    			</tbody>
	    		</table>
	    	</div>
	    	{% endif %}
	    </div>
	  </div>
	  <div class="col-md-4">
		<div class="panel-group" id="accordion">
			<div class="panel panel-primary">
			  <div class="panel-heading">
			    <h4 class="panel-title">
			      <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><i class="fa fa-user{{ '-md' if person.position.clinical }}"></i>  Personnel Info</a>
			    </h4>
			  </div>
			  <div id="collapseOne" class="panel-collapse collapse in">
				<table class="table table-hover panel-body">
					<tbody>
						{% from "_formhelpers.html" import render_table %}

						{{ render_table("VNPF #", person.vnpfNumber) }}
						{{ render_table("Name", person.name) }}
					</tbody>
				</table>
			  </div>
			</div>
			{% if person.employed %}
			<div class="panel panel-primary">
			  <div class="panel-heading">
			    <h4 class="panel-title">
			    	<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><i class="fa fa-info-circle"></i> Position Info</a>
			    </h4>
			  </div>
			  <div id="collapseTwo" class="panel-collapse collapse in">
			    <table class="table table-hover panel-body">
					<tbody>
						{{ render_table("PCV", person.position.pcv) }}
						{{ render_table("PN", person.position.pn) }}
						{{ render_table("Title", person.position.title.type) }}
						{{ render_table("Fund", person.position.fund) }}
						{{ render_table("Cost Center Code", person.position.costCenterCode) }}
						{{ render_table("Cost Center Name", person.position.costCenterName) }}
						{{ render_table("Activity", person.position.activity) }}
						{{ render_table("Department", person.position.department) }}
						{{ render_table("Job Code", person.position.jobCode) }}
					</tbody>
				</table>
			  </div>
			</div>
			{% endif %}
		</div>
	  </div><!-- End Right Side -->
  </div>
</div>
{% endblock %}