{% extends "personnels/personnel_layout.html" %}

{% block personnel_content %}
<div class="row">
  {{ pagination.info }}
  <table class="table table-hover table-condensed sortable">
    <thead>
      <tr style="font-size:1.4em;font-weight:700;">
        <th>#</th>
        <th class="col-xs-1">PN</th>
        <th class="col-xs-1">VNPF</th>
        <th class="col-xs-2">Name</th>
        <th class="col-xs-1">PCV</th>
        <th class="col-xs-3">Position Title</th>
        <th class="col-xs-1">Job Code</th>
        <th class="col-xs-2">Facility</th>
        <th class="col-xs-1">Province</th>
        <th></th>
      </tr>
      <tr>
        <form id="table-search-form" action="{{ url_for('personnel.search') }}" method="GET">
          <th></th>
          <th>
            <div class="form-group">
              {{ form.pn(class_="form-control") }}
            </div>
          </th>
          <th>
            <div class="form-group">
              {{ form.vnpf(class_="form-control") }}
            </div>
          </th>
          <th></th>
          <th>
            <div class="form-group">
              {{ form.pcv(class_="form-control") }}
            </div>
          </th>
          <th>
            <div class="form-group">
              {{ form.title(class_="form-control") }}
            </div> 
          </th>
          <th>
            <div class="form-group">
              {{ form.jobCode(class_="form-control") }}
            </div>
          </th>
          <th>
            <div class="form-group">
              {{ form.facility(class_="form-control") }}
            </div>
          </th>
          <th>
            <div class="form-group">
              {{ form.province(class_="form-control") }}
            </div>
          </th>
          <th>
            <div class="form-group">
              <button class="btn btn-default btn-block" type="submit" value="submit"><i class="fa fa-refresh"></i></button>
            </div>
          </th>
        </form>
      </tr>
    </thead>
    <tbody>
  	{% for position in positions %}
      <tr>
        <td>{{ loop.index + (pagination.page - 1) * pagination.per_page }}</td>
        <td>{{ position.pn }}</td>
      {% if position.personnel.employed %}
        <td>{{ position.personnel.vnpfNumber }}</td>
        <td><a href="{{ url_for('personnel.view_personnel', personnelID=position.personnel.id) }}">{{ position.personnel.name }}</a></td>
      {% else %}
        <td></td>
        <td></td>
      {% endif %}
        <td>{{ position.pcv }}</td>
        <td>{{ position.title.type }}</td>
        <td>{{ position.jobCode }}</td>
        {% if position.facility %}
        <td><a href="{{ url_for('facility.facility', facilityID=position.facility.facilityID) }}">{{ position.facility.identifier }}</a></td>
        <td>{{ position.facility.province.name }}</td>
        {% else %}
        <td></td>
        <td></td>
        {% endif %}
      </tr>
  	{% endfor %}
    </tbody>
  </table>    
  {{ pagination.links }}
</div>
{% endblock %}