{% extends "personnels/personnel_layout.html" %}

{% block css %}
<style>
/* Graphs */
a:hover, a:visited, a:link, a:active {
	text-decoration: none;
}

.controls {
	margin-bottom: 10px;
}

.collapse-group {
	padding: 10px;
	margin-bottom: 10px;
}

.panel-title .trigger:before {
	content: '\e082';
	font-family: 'Glyphicons Halflings';
	vertical-align: text-bottom;
}

.panel-title .trigger.collapsed:before {
	content: '\e081';
}
</style>

<style>
#graphTabs .nav-pills > li > a {
	border-radius: 4px 4px 0 0 ;
}

#graphTabs .tab-content {
	color : white;
	background-color: #428bca;
	padding : 5px 15px;
}

/* Tree */
.tree {
    min-height:20px;
    padding:19px;
    margin-bottom:20px;
    background-color:#fbfbfb;
    border:1px solid #999;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05)
}
.tree li {
    list-style-type:none;
    margin:0;
    padding:10px 5px 0 5px;
    position:relative
}
.tree li::before, .tree li::after {
    content:'';
    left:-20px;
    position:absolute;
    right:auto
}
.tree li::before {
    border-left:1px solid #999;
    bottom:50px;
    height:100%;
    top:0;
    width:1px
}
.tree li::after {
    border-top:1px solid #999;
    height:20px;
    top:25px;
    width:25px
}
.tree li span {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #999;
    border-radius:5px;
    display:inline-block;
    padding:3px 8px;
    text-decoration:none
}
.tree li.parent_li>span {
    cursor:pointer
}
.tree>ul>li::before, .tree>ul>li::after {
    border:0
}
.tree li:last-child::before {
    height:30px
}
.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {
    background:#eee;
    border:1px solid #94a0b4;
    color:#000
}
</style>
{% endblock %}

{% block personnel_content %}
<div class="tree well">
	<ul>
		{% for cadre in [cadre_root] recursive %}
		<li>
			<span><i class="icon-calendar"></i> {{ cadre }}</span> &ndash; <a href="#" data-id="{{ cadre.cadreID }}" data-name="{{ cadre.type }}" data-toggle="modal" data-target="#cadreModal">View Cadre</a>
			{% if cadre.children %}
			<ul>
				{{ loop(cadre.children) }}
			</ul>
			{% endif %}
			{% if cadre.titles %}
			<ul>
				{% for title in cadre.titles %}
				<li>
					<span class="badge badge-info"><i class="icon-minus-sign"></i> {{ title }}</span> &ndash; <a href="#" data-id="{{ title.id }}" data-name="{{ title.type }}" data-toggle="modal" data-target="#positionsModal"">View Positions</a>
				</li>
				{% endfor %}
			</ul>
			{% endif %}
		</li>
		{% endfor %}
	</ul>
</div>

<div class="modal fade" id="cadreModal" role="dialog">
	<div class="modal-dialog">

	  <!-- Modal content-->
	  <div class="modal-content">
	    <div class="modal-header">
	      <button type="button" class="close" data-dismiss="modal">&times;</button>
	      <h4 class="modal-title" id="cadreTitle">Cadre</h4>
	    </div>
	    <div class="modal-body">
	    </div>
	    <div class="modal-footer">
	      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	    </div>
	  </div>

	</div>
</div>

<div class="modal fade" id="positionsModal" role="dialog">
	<div class="modal-dialog">

	  <!-- Modal content-->
	  <div class="modal-content">
	    <div class="modal-header">
	      <button type="button" class="close" data-dismiss="modal">&times;</button>
	      <h4 class="modal-title" id="positionTitle">Position Title</h4>
	    </div>
	    <div id="modaladdpay" class="modal-body">
				<embed id="positionsModalChart" style="width:100%;height:75vh;" type="image/svg+xml" src=""/>
	      <table class="table table-condensed table-hover" id="positionsModalTable">
	      	<thead>
	      		<tr>
	      			<th>PN</th>
	      			<th>Job Code</th>
	      			<th>PCV</th>
	      			<th>Facility</th>
	      			<th>Personnel</th>
	      		</tr>
	      	</thead>
	      	<tbody>
	      	</tbody>
	      </table>
	    </div>
	    <div class="modal-footer">
	      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	    </div>
	  </div>

	</div>
</div>

{% endblock %}

{% block js %}
<script>
$('#positionsModal').on('show.bs.modal', function(e) {  
	var titleID = $(e.relatedTarget).data('id')
	var titleName = $(e.relatedTarget).data('name')
	$("#positionsModalTable").find('tbody').empty();
	// perhaps add loading gif here
	$("#positionTitle").text(titleName);
	$.getJSON("{{ url_for('personnel.data_positions') }}", {titleID: titleID}, function(data) {
		$.each(data.data, function(i, item) {
			var $tr = $('<tr>').append(
				$('<td>').text(item.pn),
				$('<td>').text(item.jobCode),
				$('<td>').text(item.pcv),
				$('<td>').html(item.facility.link),
				$('<td>').html(item.personnel.link),
				$('<td>').html(item.buttons),
			);
			$("#positionsModalTable").find('tbody').append($tr);
			$("#positionsModalChart").attr("src", data.chart);
		});
	});
	$('#positionsModal').animate({ scrollTop: 0 }, 'slow');
});

$('#cadreModal').on('show.bs.modal', function(e) {  
	var cadreID = $(e.relatedTarget).data('id')
	var cadreName = $(e.relatedTarget).data('name')
	$("#cadreModal").find(".modal-body").empty();
	// Perhaps add a loading gif here
	$("#cadreTitle").text("Cadre: " + cadreName);
	$.getJSON("{{ url_for('personnel.data_cadre') }}", {cadreID: cadreID}, function(data) {
		$.each(data.charts, function(i, chart) {
			var $embed = $('<embed>', {
				'id': 'cadreModal-chart-' + i,
				'style': 'width:100%;height:75vh;',
				'type': 'image/svg+xml',
				'src': chart.data,
			});
			$("#cadreModal").find(".modal-body").append($embed);
		})
	});
	$('#cadreModal').animate({ scrollTop: 0 }, 'slow');
});

$(function () {
    $('.tree li:has(ul)').addClass('parent_li').find(' > span').attr('title', 'Collapse this branch');
    $('.tree li.parent_li > span').on('click', function (e) {
        var children = $(this).parent('li.parent_li').find(' > ul > li');
        if (children.is(":visible")) {
            children.hide('medium');
            $(this).attr('title', 'Expand this branch').find(' > i').addClass('icon-plus-sign').removeClass('icon-minus-sign');
        } else {
            children.show('medium');
            $(this).attr('title', 'Collapse this branch').find(' > i').addClass('icon-minus-sign').removeClass('icon-plus-sign');
        }
        e.stopPropagation();
    });
});
</script>
{% endblock %}